<md-dialog aria-label="Download project">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>"{{worksheet.title}}"</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon class="glyphicon glyphicon-remove" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="min-width: 300px; max-width: 1000px;">
            <div style="border-radius: 0.4em; background-color: #84cbcc; padding: 0.6em; margin-bottom: 1em; text-align: center;">
                <img ng-src="{{worksheet.image}}">
            </div>
            <div>
                <h4 ng-if="worksheet.teachersnotes" translate="WORKSHEETS.DOWNLOADS.AUDIENCE.TEACHERS"></h4>
                <div ng-if="worksheet.teachersnotes"
                    style="border-radius: 1em; background-color: #eeeeee; padding: 1em; margin-bottom: 1em;">
                    <a class="btn btn-primary" href="{{worksheet.teachersnotes}}" style="max-width: 100%; white-space: normal;">
                        <span class="glyphicon glyphicon-check"> </span>
                        <span translate="WORKSHEETS.DOWNLOADS.GUIDANCE.TITLE"></span>
                    </a>
                    <div style="margin-top: 1em;" translate="WORKSHEETS.DOWNLOADS.GUIDANCE.DETAIL"></div>
                </div>
                <div ng-if="worksheet.notes && worksheet.notes.length > 0" style="margin-bottom: 1em">
                    <h4 translate="WORKSHEETS.DOWNLOADS.GUIDANCE.NOTES"></h4>
                    <div ng-repeat="note in worksheet.notes" style="margin-bottom: 0.5em">
                        <span class="glyphicon glyphicon-warning-sign"> </span> {{note}}
                    </div>
                    <hr ng-if="worksheet.downloads.length > 1" style="border-top: 3px double #8c8b8b;"/>
                </div>
                <h4 style="padding-top: 0.5em" ng-if="worksheet.teachersnotes" translate="WORKSHEETS.DOWNLOADS.AUDIENCE.STUDENTS"></h4>
                <div ng-repeat="download in worksheet.downloads"
                    style="border-radius: 1em; background-color: #eeeeee; padding: 1em; margin-bottom: 1em; ">
                    <div ng-if="download.description" style="margin-bottom: 1em;">
                        <strong>{{download.description}}</strong>
                    </div>
                    <div style="margin: 1em 0;">
                        <a class="btn btn-primary" href="{{download.worksheet}}">
                            <span class="glyphicon glyphicon-print"> </span>
                            <span translate="WORKSHEETS.DOWNLOADS.WORKSHEET.TITLE"></span>                        </a>
                    </div>
                    <div ng-if="download.resources" style="margin-top: 1em">
                        <a class="btn btn-primary" href="{{download.resources}}">
                            <span class="glyphicon glyphicon-print"> </span>
                            <span translate="WORKSHEETS.DOWNLOADS.RESOURCES.TITLE"></span>
                        </a>
                        <div style="padding-bottom: 1em; margin-top: 0.5em;" translate="WORKSHEETS.DOWNLOADS.RESOURCES.DETAIL"></div>
                    </div>
                </div>
                <div ng-if="worksheet.providedby" style="margin: 1em">
                    <strong translate="WORKSHEETS.DOWNLOADS.WORKSHEET.AUTHOR"></strong>
                    <a target="_blank" href="{{ worksheet.providedby.url }}">{{ worksheet.providedby.name }}</a>
                </div>
                <div ng-if="worksheet.providedby && worksheet.providedby.embed" style="margin: 1em">
                    <div ng-bind-html="worksheet.providedby.embed" style="min-width: 400px;">loading...</div>
                </div>
            </md-card-content>
        </div>
    </md-dialog-content>
</md-dialog>
