<div class="jumbotron">
    <h2 class="text-center">Machine learning projects</h2>
</div>
<div style="padding: 1em 4em;">
    <div class="alert alert-info pageheadermsg">
        <p>If you have any worksheets or project ideas that you'd like to add to this list, please email <a href="mailto:Dale.Lane@uk.ibm.com">Dale.Lane@uk.ibm.com</a>.</p>
    </div>
    <table border=1 class="worksheetslist">
        <tr>
            <td class="worksheetname">Smart Classroom</td>
            <td class="worksheetinfo">
                Create a smart assistant in Scratch that lets you control virtual devices by understanding your instructions.
                <br/><br/>
                <em>Tags: digital assistants, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">text</span></td>
            <td><small>Difficulty:</small> <br/>Beginner</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-smartclassroom.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download</a>
                <br/>
                <br/>
                <small>
                    You will need:
                    <br/>
                    <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/smart-classroom.sbx">
                        <span class="glyphicon glyphicon-download-alt"> </span> smart-classroom.sbx</a>
                </small>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Journey to school</td>
            <td class="worksheetinfo">
                Train the computer to be able to predict how you travel to school in the morning.
                <br/><br/>
                <em>Tags: predictive model, testing and accuracy, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">numbers</span></td>
            <td><small>Difficulty:</small> <br/>Beginner</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-journeytoschool.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Rock, Paper, Scissors</td>
            <td class="worksheetinfo">
                Make a Rock, Paper, Scissors game in Scratch that learns to recognise pictures of your hand.
                <br/><br/>
                <em>Tags: image classification, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">images</span></td>
            <td><small>Difficulty:</small> <br/>Beginner</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-rockpaperscissors.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download</a>
                <br/>
                <br/>
                <small>
                    You will need:
                    <br/>
                    <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/rock-paper-scissors.sbx">
                        <span class="glyphicon glyphicon-download-alt"> </span> rock-paper-scissors.sbx</a>
                </small>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Make Me Happy</td>
            <td class="worksheetinfo">
                Create a character in Scratch that smiles if you say nice things to it and cries if you say mean things to it.
                <br/><br/>
                <em>Tags: sentiment analysis, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">text</span></td>
            <td><small>Difficulty:</small> <br/>Intermediate</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-makemehappy.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">School Library</td>
            <td class="worksheetinfo">
                Create a school librarian in Scratch that suggests who a reading book might be suitable for.
                <br/><br/>
                <em>Tags: predictive model, recommendations, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">numbers</span></td>
            <td><small>Difficulty:</small> <br/>Intermediate</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-schoollibrary.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Judge a book</td>
            <td class="worksheetinfo">
                Make a game in Scratch to test whether it really is possible to judge a book by its cover.
                <br/><br/>
                <em>Tags: image classification, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">images</span></td>
            <td><small>Difficulty:</small> <br/>Intermediate</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-judgeabook.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download</a>
                <br/>
                <br/>
                <small>
                    You will need:
                    <br/>
                    <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/judge-a-book.sbx">
                        <span class="glyphicon glyphicon-download-alt"> </span> judge-a-book.sbx</a>
                </small>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Sorting Hat</td>
            <td class="worksheetinfo">
                Create a Sorting Hat like in Harry Potter, that puts you in a school House based on what you say.
                <br/><br/>
                <em>Tags: text classification, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">text</span></td>
            <td><small>Difficulty:</small> <br/>Advanced</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-sortinghat.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Top Trumps</td>
            <td class="worksheetinfo">
                Train a computer to be able to play the Top Trumps card game in Scratch.
                <br/><br/>
                <em>Tags: decision tree learning, reinforcement learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">numbers</span></td>
            <td><small>Difficulty:</small> <br/>Advanced</td>
            <td class="worksheetdownloads">
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-toptrumps.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download</a>
                <br/>
                <br/>
                <small>
                    You will need:
                    <br/>
                    <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/top-trumps.sbx">
                        <span class="glyphicon glyphicon-download-alt"> </span> top-trumps.sbx</a>
                </small>
            </td>
        </tr>
    </table>
</div>
