<div class="jumbotron">
    <h2 class="text-center">Machine learning projects</h2>
</div>
<div style="padding: 1em 4em;">
    <div class="worksheetsintro">
        <p>Projects that we've tried with schools groups will be shared here.</p>
        <p>If you have any worksheets or project ideas that you'd like to add to this list, please email <a href="mailto:Dale.Lane@uk.ibm.com">Dale.Lane@uk.ibm.com</a>.</p>
    </div>
    <table border=1 class="worksheetslist">
        <tr>
            <td class="worksheetname">Make Me Happy</td>
            <td class="worksheetinfo">
                Create a character in Scratch that smiles if you say nice things to it and cries if you say mean things to it.
                <br/><br/>
                <em>Tags: sentiment analysis, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">text</span></td>
            <td><small>Difficulty:</small> Intermediate</td>
            <td>
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-makemehappy.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">School Library</td>
            <td class="worksheetinfo">
                Create a school librarian in Scratch that suggests who a reading book might be suitable for.
                <br/><br/>
                <em>Tags: predictive model, recommendations, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">numbers</span></td>
            <td><small>Difficulty:</small> Intermediate</td>
            <td>
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-schoollibrary.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Sorting Hat</td>
            <td class="worksheetinfo">
                Create a Sorting Hat like in Harry Potter, that puts you in a school House based on what you say.
                <br/><br/>
                <em>Tags: text classification, supervised learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">text</span></td>
            <td><small>Difficulty:</small> Advanced</td>
            <td>
                <a href="https://github.com/dalelane/ml-for-kids/raw/master/worksheets/worksheet-sortinghat.pdf">
                    <span class="glyphicon glyphicon-download-alt"> </span> Download
                </a>
            </td>
        </tr>
        <tr>
            <td class="worksheetname">Top Trumps</td>
            <td class="worksheetinfo">
                Train a computer to be able to play the Top Trumps card game in Scratch.
                <br/><br/>
                <em>Tags: reinforcement learning</em>
            </td>
            <td><small>Recognising</small> <br/><span class="worksheettype">numbers</span></td>
            <td><small>Difficulty:</small> Advanced</td>
            <td>
                Coming soon
            </td>
        </tr>
    </table>
</div>
