<div class="jumbotron">
    <h2 class="text-center">Create an unmanaged class account</h2>
</div>
<div ng-if="isAuthenticated" class="alert alert-info pageheadermsg">
    <strong translate="APP.INFO"></strong> Already logged in
</div>

<div ng-repeat="error in vm.errors"
    id="errors{{error.alertid}}"
    class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
    ng-click="vm.dismissAlert('errors', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong translate="APP.ERROR"></strong> {{ error.message }}
</div>
<div ng-repeat="info in vm.infos"
    id="infos{{info.alertid}}"
    class="alert alert-info pageheadermsg" role="alert">
    <div>Your account has been created - your password is <strong>{{info.password}}</strong></div>
    <div>Check your inbox for a confirmation email. You need to click the link in the email to activate your class account.</div>
</div>

<div ng-if="!isAuthenticated" class="signupPage">

    <form ng-cloak name="newClass" class="signupForm">

        <div class="newprojectrow">
            <md-input-container class="newprojectform">
                <label>Username</label>
                <input md-autofocus
                        type="text"
                        md-autofocus
                        ng-required="true"
                        ng-pattern="/^[\w.\-_]+$/"
                        ng-disabled="vm.complete || vm.creating"
                        ng-model="username"
                        ng-focus="vm.focused = 'username'"
                        md-maxlength="15"
                        class="signuptextentry"/>
            </md-input-container>
            <div class="well newprojecthelp" ng-if="vm.focused === 'username'">
                We need a unique username to identify you.
            </div>
        </div>

        <div class="newprojectrow">
            <md-input-container class="newprojectform">
                <label>Email address</label>
                <input type="email"
                       ng-disabled="vm.complete || vm.creating"
                       ng-required="true"
                       ng-model="email"
                       ng-focus="vm.focused = 'email'"
                       class="signuptextentry"/>
            </md-input-container>
            <div class="well newprojecthelp" ng-if="vm.focused === 'email'">
                <div style="margin-bottom: 1em">
                    <strong>This will need to be verified before you'll be able to log in.</strong>
                </div>
                <div style="margin-bottom: 1em">
                    I won't spam you - honest! But I need a way to get in touch if there are any problems. It's also useful to be able to reset your password if you forget it.
                </div>
                <div>
                    The students in your group won't need to provide email addresses. I just need one contact per class.
                </div>
            </div>
        </div>


        <div class="newprojectrow">
            <md-input-container class="newprojectform">
                <label>Intended use</label>
                <input md-autofocus
                        type="text"
                        ng-disabled="vm.complete || vm.creating"
                        ng-required="false"
                        ng-model="intendeduse"
                        ng-maxlength="1000"
                        ng-focus="vm.focused = 'intendeduse'"
                        class="signuptextentry"/>
            </md-input-container>
            <div class="well newprojecthelp" ng-if="vm.focused === 'intendeduse'">
                <div style="margin-bottom: 1em">
                    I'd love to know a little about how this tool is being used, so if you don't mind sharing
                    how you think you might use this, I'd appreciate it.
                </div>
                <div>
                    Is it for a school lesson? After-school group? Coding club? Something else?
                </div>
            </div>
        </div>

        <div class="newprojectrow">
            <md-input-container class="newprojectform">
                <md-checkbox
                    ng-model="terms"
                    ng-disabled="vm.complete || vm.creating"
                    ng-focus="vm.focused = 'terms'">
                    By checking this box, you accept responsibility for any fees or charges incurred on <a href="https://cloud.ibm.com/">IBM Cloud</a>.
                </md-checkbox>
            </md-input-container>
            <div class="well newprojecthelp" ng-if="vm.focused === 'terms'">
                Please read the notes below. If you're concerned about any of this, or have any questions, please
                <a ui-sref="help">get in touch</a>.
            </div>
        </div>

        <div class="well terms">
            <div style="margin-bottom: 1em">
                <strong>Setting up this tool to allow your students to train machine learning models will require
                some access codes (called "API keys") from IBM Cloud. </strong>
            </div>
            <div>"Do I have to pay for that?"</div>
            <ul>
                <li>No.</li>
                <li>Creating an account on IBM Cloud is free.</li>
                <li>There is a limit to the number of free API keys you can create. </li>
                <li>Watson API keys you can create for free have usage limits. You can choose to pay IBM if you want to increase these limits. It is these charges that are your responsibility.</li>
                <li>An advisory price list is included in the <a ui-sref="apikeysguide">setup instructions</a> (section 4). </li>
            </ul>
            <div>"Will my students need to do this?"</div>
            <ul>
                <li>No.</li>
                <li>This is a one-off setup task that you will need to do as the teacher / group-leader. </li>
                <li>Students in your group will not need to create an account with IBM Cloud.</li>
                <li>Students in your group will not need to visit IBM Cloud.</li>
            </ul>
            <div>"How will I know how to do that?"</div>
            <ul>
                <li><a href="https://github.com/IBM/taxinomitis-docs/raw/master/docs/pdf/machinelearningforkids-ibmer.pdf">Step-by-step instructions with screenshots</a> are available to walk you through this.</li>
            </ul>
            <div>"Do all projects require IBM Cloud API keys?"</div>
            <ul>
                <li>No. Machine learning projects to recognize images, numbers or sounds do not require API keys. Projects using pre-trained models do not require API keys.</li>
                <li>Only machine learning projects to recognize text require IBM Cloud API keys.</li>
            </ul>
            <div style="margin-bottom: 1em">
                If you're concerned about any of this, or have any questions, please
                <a ui-sref="help">get in touch</a>.
            </div>
        </div>

        <div class="newprojectrow">
            <span flex></span>
            <md-button
                class="md-raised md-primary"
                ng-disabled="vm.complete || vm.creating || newClass.$invalid || terms !== true"
                ng-click="vm.confirm({ username : username, email : email, intendeduse : intendeduse })">
                Create class account
            </md-button>
            <md-button ui-sref="login" ng-disabled="vm.creating || vm.complete">
                Cancel
            </md-button>
        </div>

    </form>
</div>
