.signupPage {
    display: flex;
}

.signupForm {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.signupForm .well.terms {
    font-size: 0.9em;
}

.signuptextentry {
    font-size: 1.2em;
}

.signupPage .password-display {
    font-size: 1.4em;
}

.signupPage .help-text-spacing {
    margin-bottom: 1em;
}

.signupPage .terms-text-spacing {
    margin-bottom: 1em;
}
