<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>

<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>

<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert">
    <strong translate="APP.ERROR"></strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
</div>

<div ng-if="isAuthenticated && projectId" class="colab">
    <div class="jumbotron">
        <h2 class="text-center">Coding in Google Colab</h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId  })" translate="APP.BACKTOPROJECT"></a>
    </div>

    <div ng-if="loading" class="loading"> </div>

    <div ng-if="!loading && project && project.labels.length <= 1 && !expiredModel" class="modelguidancecontainer">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="PYTHON.NOTREADY"></div>
            <div class="modelstatusdetail">
                Go to the <a ui-sref="mlproject_models({ projectId : projectId, userId : userId })" translate="PROJECT.LEARNANDTEST.TITLE"></a>
                page for some tips on what to do next.
            </div>
        </div>
    </div>

    <div ng-if="!loading && project && project.labels.length > 1 && !modelSource && !expiredModel && !scratchkey" class="model-status-container">
        <div class="alert alert-info" role="alert" translate="PYTHON.NOMODEL"></div>
        <div ng-if="project.type !== 'text'">
            You can <strong><a href="" ui-sref="mlproject_models({ projectId : projectId, userId : userId })">train one now</a></strong> and then come back to start your Python project.
        </div>
    </div>

    <div ng-if="!loading && expiredModel && !scratchkey" class="model-status-container">
        <div class="alert alert-info" role="alert" translate="PYTHON.EXPIRED"></div>
        <div ng-if="project.type !== 'text'">
            You can <strong><a href="" ui-sref="mlproject_models({ projectId : projectId, userId : userId })">train a new model now</a></strong> and then come back to start your Python project.
        </div>
    </div>

    <div class="modelguidancecontainer" ng-if="modelSource || scratchkey">
        <div class="modelguidance instructions-guidance">
            <div class="modelstatusdetail">
                To use this code, you need to:
                <ol class="setup-instructions">
                    <li class="mainlistitem">Download both of these files (<em>try right-clicking on the links</em>):
                        <ul>
                            <li><a href="https://raw.githubusercontent.com/IBM/taxinomitis/master/resources/mlforkidsnumbers.py">mlforkidsnumbers.py</a></li>
                            <li><a href="https://raw.githubusercontent.com/IBM/taxinomitis/master/resources/mlforkids-numbers-requirements.txt">mlforkids-numbers-requirements.txt</a></li>
                        </ul>
                    </li>
                    <li class="mainlistitem"><a target="_blank" class="btn btn-primary"
                        href="https://colab.google">Go to colab.google</a></li>
                    <li class="mainlistitem">Click on <strong>New Notebook</strong></li>
                    <li class="mainlistitem">Upload the two files in the file browser on the left
                        <br/><img src="static/images/colab-upload.png" />
                    </li>
                    <li class="mainlistitem">Use the <strong>+ Code</strong> button to add:
                        <div class="pythoncodebox"><pre class="pythoncode">!pip install -r mlforkids-numbers-requirements.txt<br/>
from mlforkidsnumbers import MLforKidsNumbers</pre></div>
                    </li>
                    <li class="mainlistitem">Click the <strong>Play</strong> button to run those lines (<em>it may take a minute</em>)
                        <br/><img src="static/images/colab-import.jpg" />
                    </li>
                    <li class="mainlistitem">Try adding the suggested code below to new code blocks to use your project <br/>(<em>remember to click <strong>Play</strong> when you're ready to run your new block</em>)</li>
                </ol>
            </div>
        </div>
    </div>


    <div class="modelguidancecontainer" ng-if="!loading && modelSource && project && project.labels.length > 1">
        <div class="modelguidance">
            <div class="modelstatusdetail">
                You can use this code to submit numbers to your machine learning model.
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='numbers'">
                Enter the numbers below:
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='numbers'">
                <div ng-repeat="field in fields track by $index">
                    {{ field.name }} :
                    <input ng-if="field.type === 'number'"
                           type="number"
                           ng-model="testdata.fields[$index]"
                           ng-init="testdata.fields[$index] = 0"></input>
                    <select ng-if="field.type === 'multichoice'"
                            ng-model="testdata.fields[$index]"
                            ng-options="value for value in field.choices"
                            ng-init="testdata.fields[$index] = field.choices[0]"
                            class="field-select">
                    </select>
                </div>
            </div>
            <div class="modelstatusdetail">
                Running this will print something like:
            </div>
            <div class="modelstatusdetail"><pre>$ python yourscript.py
result: '{{ project.labels[0] }}' with 81% confidence</pre></div>
        </div>
        <div class="modelguidance code-example-guidance">
<div class="pythoncodebox"><pre class="pythoncode">project <span class="pythonop">=</span> <span class="pythonfuncname">MLforKidsNumbers</span>(<span ng-if="scratchkey">
    key<span class="pythonop">=</span>&quot;{{ scratchkey }}&quot;,</span>
    modelurl=&quot;{{ modelSource }}&quot;</span>
)

<span class="pythoncomments"># CHANGE THIS to something you want your</span>
<span class="pythoncomments"># machine learning model to classify</span>
testvalue <span class="pythonop">=</span> {<div ng-repeat="field in testdata.fields track by $index">    "{{ fields[$index].name }}" <span class="pythonop">:</span> <span class="highlighted-value"><strong><span ng-if="fields[$index].type === 'multichoice'">"</span>{{ field ? field : 0 }}<span ng-if="fields[$index].type === 'multichoice'">"</span></strong></span>,</div>}

response <span class="pythonop">=</span> project<span class="pythonop">.</span>classify(testvalue)
top_match <span class="pythonop">=</span> response[<span class="pythonint">0</span>]

label <span class="pythonop">=</span> top_match[&quot;class_name&quot;]
confidence <span class="pythonop">=</span> top_match[&quot;confidence&quot;]

<span class="pythoncomments"># CHANGE THIS to do something different with the result</span>
<span class="pythonfunc">print</span> (&quot;result: &#39;%s&#39; with %d%% confidence&quot; <span class="pythonop">%</span> (label, confidence))
</pre></div>
        </div>
    </div>

    <div class="modelguidancecontainer" ng-if="!loading && scratchkey && project && project.labels.length > 1">
        <div class="modelguidance">
            <div class="modelstatusdetail">
                You can use this code to add numbers to your training data.
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='numbers'">
                Enter the numbers below:
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='numbers'">
                <div ng-repeat="field in fields track by $index">
                    {{ field.name }} :
                    <input ng-if="field.type === 'number'"
                           type="number"
                           ng-model="trainingdata.fields[$index]"
                           ng-init="trainingdata.fields[$index] = 0"></input>
                    <select ng-if="field.type === 'multichoice'"
                            ng-model="trainingdata.fields[$index]"
                            ng-options="value for value in field.choices"
                            ng-init="trainingdata.fields[$index] = field.choices[0]"
                            class="field-select">
                    </select>
                </div>
            </div>
        </div>
        <div class="modelguidance code-example-guidance">
<div class="pythoncodebox"><pre class="pythoncode">project <span class="pythonop">=</span> <span class="pythonfuncname">MLforKidsNumbers</span>(
    key<span class="pythonop">=</span>&quot;{{ scratchkey }}&quot;<span ng-if="modelSource">,
    modelurl=&quot;{{ modelSource }}&quot;</span>
)

<span class="pythoncomments"># CHANGE THIS to something you want to</span>
<span class="pythoncomments"># add to your training examples</span>
trainingvalue <span class="pythonop">=</span> [<div ng-repeat="field in trainingdata.fields track by $index">    <span class="highlighted-value"><strong><span ng-if="fields[$index].type === 'multichoice'">"</span>{{ field ? field : 0 }}<span ng-if="fields[$index].type === 'multichoice'">"</span></strong></span>,</div>]

project<span class="pythonop">.</span>store(trainingvalue, &quot;{{ trainingdata.label }}&quot;)
</pre></div>
        </div>
    </div>
</div>
