<div class="jumbotron">
    <h2 class="text-center" translate="NEWPROJECT.TITLE"></h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated" class="newprojectpage">
    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>

    <form ng-cloak name="newProject">

        <!-- ---------------------------------------- -->
        <!--   CROWD-SOURCED                          -->
        <!--                                          -->
        <!--            displayed for teachers only   -->
        <!-- ---------------------------------------- -->
        <div class="newprojectrow" ng-show="isTeacher">
            <md-input-container class="newprojectform">
                <md-checkbox
                       ng-model="crowdSourced"
                       ng-focus="vm.focused = 'crowdsourced'"
                       ng-disabled="creating"
                       class="newprojectname newcrowdsourced">
                       {{ 'NEWPROJECT.WHOLE_CLASS_PROJECT.TITLE' | translate }}
                </md-checkbox>
            </md-input-container>
            <div class="well newprojecthelp" ng-if="vm.focused === 'crowdsourced' && !creating">
                <div style="margin-bottom: 1em" translate="NEWPROJECT.WHOLE_CLASS_PROJECT.NOTES_1"></div>
                <div translate="NEWPROJECT.WHOLE_CLASS_PROJECT.NOTES_2"></div>
            </div>
        </div>


        <!-- ---------------------------------------- -->
        <!--   NAME                                   -->
        <!--                                          -->
        <!--            displayed for all projects    -->
        <!-- ---------------------------------------- -->
        <div class="newprojectrow">
            <md-input-container class="newprojectform">
                <label translate="NEWPROJECT.PROJECT_NAME.TITLE"></label>
                <input ng-minlength="1" ng-maxlength="36"
                       ng-required="true"
                       name="projectName"
                       ng-model="projectName"
                       ng-disabled="creating"
                       ng-focus="vm.focused = 'name'"
                       class="newprojectname"/>
                <div ng-messages="newProject.projectName.$error" ng-show="newProject.projectName.$dirty">
                    <div ng-message="required" translate="NEWPROJECT.ERRORS.REQUIRED"></div>
                    <div ng-message="maxlength" translate="NEWPROJECT.ERRORS.TOOLONG"></div>
                </div>
            </md-input-container>
            <div class="well newprojecthelp"
                 ng-if="vm.focused === 'name' && !creating"
                 translate="NEWPROJECT.PROJECT_NAME.NOTES"></div>
        </div>


        <!-- ---------------------------------------- -->
        <!--   TYPE                                   -->
        <!--                                          -->
        <!--            displayed for all projects    -->
        <!-- ---------------------------------------- -->
        <div class="newprojectrow">
            <md-input-container class="newprojectform">
                <label translate="NEWPROJECT.TYPES.LABEL"></label>
                <md-select ng-required="true"
                           ng-model="projectType"
                           ng-disabled="creating"
                           ng-focus="vm.focused = 'type'"
                           class="newprojecttype">
                    <md-option value="text"    translate="WORKSHEETS.TYPES.TEXT"></md-option>
                    <md-option value="imgtfjs" translate="WORKSHEETS.TYPES.IMAGES"></md-option>
                    <md-option value="numbers" translate="WORKSHEETS.TYPES.NUMBERS"></md-option>
                    <md-option value="sounds"  translate="WORKSHEETS.TYPES.SOUNDS"></md-option>
                </md-select>
            </md-input-container>
            <div class="well newprojecthelp"
                 ng-if="vm.focused === 'type' && projectType !== 'numbers' && !creating">
                <div class="helpfirstline" translate="NEWPROJECT.TYPES.NOTES_1"></div>
                <div translate="NEWPROJECT.TYPES.NOTES_2"></div>
                <div translate="NEWPROJECT.TYPES.NOTES_3"></div>
                <div translate="NEWPROJECT.TYPES.NOTES_4"></div>
                <div translate="NEWPROJECT.TYPES.NOTES_5"></div>
            </div>
        </div>


        <!-- ---------------------------------------- -->
        <!--   LANGUAGE                               -->
        <!--                                          -->
        <!-- displayed only for text projects         -->
        <!-- ---------------------------------------- -->
        <div class="newprojectfields newprojectlanguage" ng-show="projectType === 'text'">
            <md-input-container class="newprojectform">
                <label translate="NEWPROJECT.LANGUAGE.LABEL"></label>
                <md-select ng-model="language"
                           ng-focus="vm.focused = 'language'"
                           ng-disabled="creating"
                           class="newprojecttype">
                    <md-option value="en">English</md-option>
                    <md-option value="ar">Arabic</md-option>
                    <md-option value="zh-tw">Chinese (traditional)</md-option>
                    <md-option value="zh-cn">Chinese (simplified)</md-option>
                    <md-option value="cs">Czech</md-option>
                    <md-option value="nl">Dutch</md-option>
                    <md-option value="fr">French</md-option>
                    <md-option value="de">German</md-option>
                    <md-option value="it">Italian</md-option>
                    <md-option value="ja">Japanese</md-option>
                    <md-option value="ko">Korean</md-option>
                    <md-option value="pt-br">Portuguese (Brazillian)</md-option>
                    <md-option value="es">Spanish</md-option>
                    <md-option value="xx">Another language <span class="badge">beta</span></md-option>
                </md-select>
            </md-input-container>
            <div class="well newprojecthelp"
                    ng-if="vm.focused === 'language' && projectType === 'text' && !creating"
                    translate="NEWPROJECT.LANGUAGE.NOTES"></div>
        </div>



        <!-- ---------------------------------------- -->
        <!--   FIELDS                                 -->
        <!--                                          -->
        <!-- displayed only for numbers projects      -->
        <!-- ---------------------------------------- -->
        <div class="newprojectfields" ng-show="projectType === 'numbers'">
            <div class="newprojectrow newprojectfield"
                 ng-repeat="field in vm.fields track by $index">

                <!-- ----------------- -->
                <!--  FIELD NAME       -->
                <!-- ----------------- -->
                <md-input-container class="newprojectform" style="flex: 1;">
                    <label>Value {{ $index + 1 }}</label>
                    <input ng-minlength="1" ng-maxlength="12"
                           name="numfield_{{$index}}"
                           ng-required="true"
                           ng-model="field.name"
                           ng-disabled="creating"
                           ng-focus="vm.focused = 'fieldname' + $index"
                           class="newprojectfieldname"/>
                    <div ng-messages="newProject['numfield_' + $index].$error" ng-show="newProject['numfield_' + $index].$dirty">
                        <div ng-message="required" translate="NEWPROJECT.ERRORS.REQUIRED"></div>
                        <div ng-message="maxlength" translate="NEWPROJECT.ERRORS.TOOLONG"></div>
                    </div>
                </md-input-container>

                <!-- ----------------- -->
                <!--  FIELD TYPE       -->
                <!-- ----------------- -->
                <md-input-container class="newprojectform"  style="flex: 1;">
                    <label translate="NEWPROJECT.FIELDS.TYPE.TITLE"></label>
                    <md-select ng-required="true"
                               ng-model="field.type"
                               ng-disabled="creating"
                               ng-focus="vm.focused = 'fieldtype' + $index"
                               class="newprojectfieldtype">
                        <md-option value="number" translate="NEWPROJECT.FIELDS.TYPE.NUMBER"></md-option>
                        <md-option value="multichoice" translate="NEWPROJECT.FIELDS.TYPE.MULTIPLE_CHOICE"></md-option>
                    </md-select>

                    <!-- ----------------- -->
                    <!--  FIELD CHOICES    -->
                    <!-- ----------------- -->
                    <div class="newprojectfieldchoices" ng-if="field.type==='multichoice'">
                        <!--  list the current choices -->
                        <div class="newprojectfieldchoiceslabel md-required"
                             translate="NEWPROJECT.FIELDS.CHOICES.TITLE"></div>
                        <div class="newprojectfieldchoice"
                            ng-repeat="choice in field.choices track by $index">
                                {{ choice }}
                            <span class="glyphicon glyphicon-remove-circle newprojectfieldchoicedelete"
                                    ng-click="field.choices.splice($index, 1)"
                                    aria-hidden="true"></span>
                        </div>
                        <!--  add a new choice -->
                        <md-input-container class="newfieldentry" ng-if="field.type==='multichoice' && field.choices.length < 5">
                            <label translate="NEWPROJECT.FIELDS.CHOICES.LABEL"></label>
                            <input class="newprojectfieldchoiceentry"
                                   name="choicefield_{{$index}}"
                                   ng-model="field.newfieldchoice"
                                   ng-pattern="/^[^0-9\-\.][^,]*$/"
                                   ng-disabled="field.choices.length >= 5"
                                   ng-maxlength="9"
                                   ng-focus="vm.focused = 'newfieldchoice' + $parent.$index"
                                   ng-keyup="$event.keyCode === 13 && field.newfieldchoice.length <= 9 && [ vm.addFieldChoice(field.newfieldchoice, field), field.newfieldchoice = '' ]"></input>
                            <div ng-messages="newProject['choicefield_' + $index].$error" ng-show="newProject['choicefield_' + $index].$dirty">
                                <div ng-message="maxlength" translate="NEWPROJECT.ERRORS.TOOLONG"></div>
                            </div>
                        </md-input-container>
                    </div>
                </md-input-container>

                <!-- --------- -->
                <!-- HELP text -->
                <!-- --------- -->
                <div class="well newprojecthelp"
                     ng-if="vm.focused === 'fieldname' + $index"
                     translate="NEWPROJECT.FIELDS.NEWFIELD.DESCRIBE_FIELD"></div>
                <div class="well newprojecthelp"
                     ng-if="vm.focused === 'fieldtype' + $index">
                    <div style="margin-bottom: 1em">
                    If {{ field.name === '' ? 'this field' : field.name }} can be described as
                    numbers, choose "number".
                    </div>
                    <div translate="NEWPROJECT.FIELDS.NEWFIELD.MULTICHOICE"></div>
                </div>
                <div class="well newprojecthelp"
                     ng-if="vm.focused === 'newfieldchoice' + $index && field.choices.length === 0"
                     translate="NEWPROJECT.FIELDS.NEWFIELD.ADD_FIRST_FIELD"></div>
                <div class="well newprojecthelp"
                     ng-if="vm.focused === 'newfieldchoice' + $index && field.choices.length > 0 && field.choices.length < 5"
                     translate="NEWPROJECT.FIELDS.NEWFIELD.ADD_ANOTHER_FIELD"></div>

                <!-- ------------- -->
                <!-- DELETE button -->
                <!-- ------------- -->
                <span class="glyphicon glyphicon-remove-circle newprojectfielddelete"
                      ng-click="vm.fields.splice($index, 1)"
                      aria-hidden="true"></span>
            </div>
        </div>
        <div class="newprojectrow" ng-show="projectType === 'numbers'">
            <div class="newprojectform">
                <md-button
                    class="md-raised md-primary"
                    ng-disabled="vm.fields.length >= 10"
                    ng-click="vm.fields.push({ name : '', type : 'numbers', choices : [] })">
                    Add {{ vm.fields.length > 0 ? 'another' : 'a' }} value
                </md-button>
            </div>
            <div class="well newprojecthelp" ng-show="vm.fields.length === 0"
                 translate="NEWPROJECT.FIELDS.NEWVALUE.ADD_FIRST_VALUE"></div>
            <div class="well newprojecthelp" ng-show="vm.fields.length >= 10"
                 translate="NEWPROJECT.FIELDS.NEWVALUE.VALUES_LIMIT"></div>
        </div>



        <!-- ---------------------------------------- -->
        <!--   FOOTER buttons                         -->
        <!--                                          -->
        <!--            displayed for all projects    -->
        <!-- ---------------------------------------- -->
        <div class="newprojectrow">
            <span flex></span>
            <md-button
                class="md-raised md-primary"
                ng-disabled="creating || newProject.$invalid || isInvalid(projectType)"
                ng-click="vm.confirm({ name : projectName, type : projectType, fields : vm.fields, language : language, isCrowdSourced : (isTeacher && crowdSourced) ? true : false })"
                translate="NEWPROJECT.CREATE">
            </md-button>
            <md-button ui-sref="projects" translate="APP.CANCEL"></md-button>
        </div>

    </form>
</div>
