.studentslist {
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
}

.studentslist .odd {
    background-color: #f4f4f4;
}
.studentslist .even {
    background-color: #e8e8ff;
}

.studentlistheading {
    font-weight: bold;
    font-size: 1.1em;
    padding: 1em;
}

.studentslistname {
    padding-left: 1em;
    padding-right: 1em;
}

.studentslistdetail {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.9em;
}

.studentslistactions {
    padding: 0.4em;
    text-align: right;
}

.adminpage {
    padding-left: 2em;
    padding-right: 2em;
}

.adminrestriction {
    margin-left: 2em;
}
.adminrestriction li {
    margin-bottom: 0.4em;
}
