.adminpage {
    padding-left: 2em;
    padding-right: 2em;
}

.mlprojectmenu.warningmenu {
    background-color: #f9e0e0;
}

.md-dialog-content .confirmdialogsmall {
    max-width: 400px;
    margin-bottom: 1em;
}

.adminpage .help-button-width {
    width: 240px;
}

.adminpage .progress-centered {
    margin-left: auto;
    margin-right: auto;
}
