<div class="jumbotron">
    <h2 class="text-center">Get started with machine learning</h2>
</div>
<div ng-if="isAuthenticated" class="alert alert-info pageheadermsg">
    <strong>Info: </strong> Already logged in
</div>

<div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error:</strong> {{ error.message }}
</div>
<div ng-repeat="info in vm.infos" class="alert alert-info alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('info', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Info:</strong> {{ info.message }}
</div>

<div ng-if="!isAuthenticated" class="loginPage">

    <ul class="nav nav-tabs nav-justified">
        <li ng-class="{ 'active' : vm.selectedTab === 'login' }">
            <a href="" ng-click="vm.selectedTab = 'login'">Already have a username and password?</a>
        </li>
        <li ng-class="{ 'active' : vm.selectedTab === 'reset' }">
            <a href="" ng-click="vm.selectedTab = 'reset'">Forgotten your username and password?</a>
        </li>
        <li ng-class="{ 'active' : vm.selectedTab === 'signup' }">
            <a href="" ng-click="vm.selectedTab = 'signup'">New user?<br/><br/></a>
        </li>
    </ul>

    <div ng-if="vm.selectedTab === 'login'" class="loginPanel">
        <h4>Welcome back!</h4>
        <div>
            <div>
                Click on the button below to log in.
            </div>
            <button class="btn btn-primary login-button" ng-click="vm.authService.login()">
                Log In
            </button>
        </div>
    </div>
    <div ng-if="vm.selectedTab === 'reset'" class="loginPanel">
        <div class="loginPanel">
            <h4>Are you a teacher / group leader?</h4>
            <div>
                If you're a teacher or group leader, you can use the button below to reset your password.
            </div>
            <div>
                <button class="btn btn-primary login-button" ng-click="vm.reset()">
                    Reset your password
                </button>
            </div>
        </div>
        <div class="loginPanel">
            <h4>Are you a student?</h4>
            <div>
                If you're a student, we don't have your email address to be able to send you a password-reset email.
            </div>
            <div>
                That's no problem, though!
            </div>
            <div>
                Just ask your teacher or group leader who first signed you up. They will be able to reset your password for you.
            </div>
        </div>
    </div>
    <div ng-if="vm.selectedTab === 'signup'" class="loginPanel">
        <div class="loginPanel">
            <h4>Are you a teacher / group leader?</h4>
            <div>
                If you are a teacher or group leader who would like access for your group, please email Dale.Lane@uk.ibm.com for more info.
            </div>
        </div>
        <div class="loginPanel">
            <h4>Are you a student?</h4>
            <div>
                If your class is already using this tool, ask your teacher or group leader to create you an account.
            </div>
            <div>
                If your class isn't using this tool, ask your teacher or group leader to get in touch.
            </div>
        </div>
    </div>
</div>
