<md-dialog aria-label="Reset password">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Reset password</h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="resetPassword" ng-submit="confirm(resetemail)">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 300px">
                <md-card-content>
                    <div layout="row">
                        <md-input-container style="min-width: 280px">
                            <label>Enter the email address you registered with</label>
                            <input type="email" name="email"
                                   md-autofocus
                                   ng-required="true"
                                   ng-model="resetemail"
                                   placeholder="email address"></input>
                            <div class="ng-animate"  ng-messages="resetPassword.email.$error">
                                <div ng-message="email">Enter a valid email address</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="resetPassword.$invalid">Add</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
