#
# intentionally and manually installed
#

# REST API support
CherryPy==18.8.0
simplejson==3.17.6

# caching
pylru==1.2.1

# vizualisations
pydotplus==2.0.2

# ML model support
scikit-learn==1.1.3
numpy==1.23.4
scipy==1.9.3

#
# dependencies automatically dragged in
#
joblib==1.2.0
pyparsing==3.0.9
threadpoolctl==3.1.0
jaraco.classes==3.2.3
jaraco.collections==3.7.0
jaraco.functools==3.5.2
jaraco.text==3.10.0
cheroot==8.6.0
six==1.16.0
more-itertools==9.0.0
