trash
public/scratchx
public/scratch3
node_modules
coverage
logs/*.log
logs/*.log.*
dist
.vscode
public/bower_components
web
manifest-dev.yml
manifest-prod-ussouth.yml
manifest-prod-eude.yml
manifest-prod-eugb.yml
manifest-prod-ausyd.yml
ops/deploy.sh
ops/rollback.sh
ops/*.sql
ops/us-routes.sh
ops/de-routes.sh
ops/au-routes.sh
ops/scaling-*.json
archive
.DS_Store
ops/.lastconv
ops/.lastvisrec
serverless-functions/mltraining-images/dist
serverless-functions/mltraining-images/node_modules
serverless-functions/mltraining-numbers/__pycache__
sql/ibmcloud-ca.cert
