.vscode
.DS_Store
manifest-dev.yml
manifest-prod-ussouth.yml
manifest-prod-eude.yml
manifest-prod-eugb.yml
manifest-prod-ausyd.yml
ops/login.sh
ops/deploy.sh
ops/rollback.sh
ops/*.sql
ops/us-routes.sh
ops/de-routes.sh
ops/au-routes.sh
ops/scaling-*.json
ops/ibmcloud-login.md
