<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong>Not logged in</strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role === 'supervisor'">
    <div class="jumbotron">
        <h2 class="text-center">Students in your class</h2>
    </div>

    <div ng-if="!vm || !vm.students" class="loading"> </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="vm && vm.students">
        <div style="height: 60px;">
            <div class="newlabelbutton" ng-click="vm.createUser($event)">
                <div class="newlabelicon">+</div>
                <div class="newlabellabel">Add new student</div>
            </div>
        </div>
        <table class="studentslist">
            <tr ng-repeat="student in vm.students" ng-class-even="'even'" ng-class-odd="'odd'">
                <td class="studentslistname"> {{ student.username }} </td>
                <td class="studentslistdetail" ng-if="student.last_login"> Last login: {{ student.last_login | date : 'EEEE, MMMM d, y  h:mm a' }}  </td>
                <td class="studentslistdetail" ng-if="!student.last_login"> Not logged in yet </td>
                <td class="studentslistactions">
                    <button class="btn" ng-click="vm.resetUserPassword($event, student)">Reset password</button>
                    <button class="btn" ng-click="vm.deleteUser($event, student)">Delete student account</button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-if="isAuthenticated && vm.profile.role !== 'supervisor'" class="alert alert-danger pageheadermsg">
    <strong>Error:</strong> You are not authorized to access the list of students in your class.
</div>
