<div ng-if="!isAuthenticated">
    <h2 class="text-center">Not authenticated</h2>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role === 'supervisor'">
    <div class="jumbotron">
        <h2 class="text-center">Your class</h2>
    </div>
    <div class="text-center">
        List of students in the class.
        Plus some useful functions.
    </div>
    <div class="text-center">
        <h4>students list</h4>
    </div>
    <div class="text-center">
        <table border="1">
            <tr>
                <td> </td>
                <td>Last login</td>
                <td colspan=2>Controls</td>
            </tr>
            <tr ng-repeat="student in vm.students">
                <td> {{ student.username }} </td>
                <td> {{ student.last_login ? student.last_login : 'Never' }} </td>
                <td> <button class="btn" ng-click="vm.resetUserPassword($event, student)">Reset password</button> </td>
                <td> <button class="btn" ng-click="vm.deleteUser($event, student)">Delete</button> </td>
            </tr>
        </table>
    </div>
    <div class="text-center">
        <button class="btn" ng-click="vm.createUser($event)">Create new student account</button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role !== 'supervisor'">
    Not authorized.
</div>
