<div ng-if="!isAuthenticated">
    <h2 class="text-center">Not authenticated</h2>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div class="jumbotron">
        <h2 class="text-center">Use your training in a Scratch project</h2>
    </div>
    <div>
        <a ui-sref="mlproject({ projectId : projectId })">&lt; Back to project</a>
    </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project" style="margin: 4em">
        <div ng-if="scratchkey">
            <a target="_blank" href="{{ scratchkey.url }}">{{ scratchkey.url }}</a>
        </div>
        <button ng-if="!scratchkey" class="btn" ng-click="vm.getScratchKey($event, project)">Open in Scratch</button>
    </div>
    <div class="text-center" ng-if="!projectId">
        missing projectid - you should probably go back to <a ui-sref="projects">Projects</a>
    </div>
</div>
