<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong>Not logged in</strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>

<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong>Error:</strong> Missing project id. Go back to <a ui-sref="projects">your projects</a>
</div>

<div ng-if="isAuthenticated && projectId">
    <div class="jumbotron">
        <h2 class="text-center">Use your training in a Scratch project</h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId })">&lt; Back to project</a>
    </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project" style="margin: 4em">
        <div ng-if="scratchkey">
            <div ng-if="!scratchkey.model">
                <div class="alert alert-info" role="alert">
                    You haven't trained a machine learning model yet.
                </div>
                <div>
                    You can <strong><a href="" ui-sref="mlproject_models({ projectId : projectId })">train one now</a></strong> and then come back to open Scratch.
                </div>
                <div>
                    Or you can go <strong><a target="_blank" href="{{ scratchkey.url }}">straight into Scratch</a></strong> now. It just means that the computer will make random guesses as you haven't trained it to recognise things yet.
                </div>
            </div>
            <div ng-if="scratchkey.model">
                <a target="_blank" href="{{ scratchkey.url }}">{{ scratchkey.url }}</a>
            </div>
        </div>
        <button ng-if="!scratchkey" class="btn" ng-click="vm.getScratchKey($event, project)">Open in Scratch</button>
    </div>
</div>
