<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>

<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>

<div ng-if="isAuthenticated && projectId">
    <div class="jumbotron">
        <h2 class="text-center" translate="SCRATCH.TITLE"></h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId  })" translate="APP.BACKTOPROJECT"></a>
    </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project && project.type === 'sounds'" class="modelguidancecontainer">
        <div class="modelguidance">
            Scratch 2 cannot be used with sounds projects.
        </div>
    </div>

    <div ng-if="project && project.labels.length <= 1 && project.type !== 'sounds'" class="modelguidancecontainer">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="SCRATCH.NOTREADY"></div>
            <div class="modelstatusdetail" translate="SCRATCH.LAUNCH_SCRATCH_BY_ITSELF" translate-values='{ "url" : "/scratchx" }'></div>
            <div class="modelstatusdetail" translate="SCRATCH.GO_TO_LEARNANDTEST" translate-values='{ urls : projecturls }'></div>
        </div>
    </div>


    <div ng-if="scratchkey && project && project.type !== 'sounds' && project.labels.length > 1" style="margin: 2em;">
        <div ng-if="!scratchkey.model">
            <div class="alert alert-info" role="alert" translate="SCRATCH.NOMODEL"></div>
            <div>
                You can <strong><a href="" ui-sref="mlproject_models({ projectId : projectId, userId : userId })">train one now</a></strong> and then come back to open Scratch.
            </div>
            <div>
                Or you can go <a class="btn btn-default" target="_blank" href="{{ scratchkey.url }}">straight into Scratch</a> now.
            </div>
        </div>
        <div ng-if="scratchkey.model && scratchkey.url">
            <a target="_blank" class="btn btn-primary"
               href="{{ scratchkey.url }}"
               translate="SCRATCH.LAUNCH"></a>
        </div>
    </div>

    <div ng-if="project && project.type !== 'sounds' && project.labels.length > 1" class="modelguidancecontainer">
        <div class="modelguidance scratchblockscontainer">
            <div class="modelstatusdetail" translate="SCRATCH.MORE_BLOCKS"></div>
            <br/><br/>
            <div class="scratchblocks">
                {{ scratchblocks.label }}
            </div>
            <div class="modelstatusdetail" translate="SCRATCH.EXPLAIN_RECOGNISE_LABEL" translate-values='{ "type" : project.type }'></div>

            <div class="scratchblocks">
                {{ scratchblocks.confidence }}
            </div>
            <div class="modelstatusdetail" translate="SCRATCH.EXPLAIN_RECOGNISE_CONFIDENCE" translate-values='{ "type" : project.type }'></div>

            <div class="scratchblocks" style="float: left" ng-repeat="label in project.labels">
                {{label}} :: custom reporter
            </div>
            <div class="modelstatusdetail" style="clear: both;" translate="SCRATCH.EXPLAIN_LABELS"></div>

            <div class="scratchblocks" ng-if="project.type === 'imgtfjs'">
                costume image :: looks reporter
            </div>
            <div class="modelstatusdetail" ng-if="project.type === 'imgtfjs'" translate="SCRATCH.EXPLAIN_COSTUMEIMAGE"></div>

            <div class="modelstatusdetail"><strong translate="SCRATCH.SAMPLE_SCRIPT"></strong></div>
            <div class="scratchblocks">
                {{ scratchblocks.sample }}
            </div>
        </div>
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="SCRATCH.SAMPLE_SCREENSHOT"></div>
            <div class="modelstatusdetail">
                <img src="static/images/scratch-screenshot.png">
            </div>

            <div class="modelstatusdetail" translate="SCRATCH.EXPLAIN_STATUS"></div>
            <div class="modelstatusdetail">
                <ul>
                    <li><div class="statusicon ok"> </div> <span translate="SCRATCH.STATUS_GREEN"></span>
                    <li><div class="statusicon notready"> </div>  <span translate="SCRATCH.STATUS_YELLOW"></span>
                    <li><div class="statusicon error"> </div>  <span translate="SCRATCH.STATUS_RED" translate-values='{ urls : projecturls }'></span>
                </ul>
            </div>
        </div>
    </div>

    <div ng-if="scratchkey && scratchkey.extensionurl && project && project.type !== 'sounds'" class="modelguidancecontainer">
        <div class="modelguidance">
            <div class="modelstatusdetail">
                To add your model to a Scratch project that is already open, click on
                "Load Experimental Extension" and use the URL :<br/>
                <code>{{ scratchkey.extensionurl }}</code>
            </div>
            <div class="modelstatusdetail">
                You can use this to create Scratch projects using other extensions from
                <a href="http://scratchx.org/#extensions" target="_blank">ScratchX</a>
                together with your machine learning model.
            </div>
        </div>
    </div>
</div>
