<div ng-if="!isAuthenticated">
    <h2 class="text-center">Not authenticated</h2>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div class="jumbotron">
        <h2 class="text-center">Your machine learning projects</h2>
    </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div>
        <div class="newprojectbutton" ng-click="vm.createProject($event)">
            <div class="newprojecticon">+</div>
            <div class="newprojectlabel">Add a new project</div>
        </div>
    </div>
    <div class="text-center">
        <div ng-if="vm.projects && vm.projects.length === 0">
            Click on the 'plus' icon on the right to create your first project.
        </div>
        <div class="mlproject" ng-repeat="project in vm.projects">
            <div class="mlprojectdetails" ui-sref="mlproject({ projectId : project.id })">
                <div class="mlprojecttitle">{{ project.name }}</div>
                <div class="mlprojectdescription">
                    Recognising
                    <span class="mlprojecttype">{{ project.type }}</span>
                    <span ng-if="project.labelsSummary">
                        as
                        <span class="mlprojectlabels">{{ project.labelsSummary }}</span>
                    </span>
                </div>
            </div>
            <img class="mlprojectdelete"
                 src="images/trash.png"
                 ng-click="vm.deleteProject($event, project)"
                 alt="Delete project" />
        </div>
    </div>
</div>
