<div class="jumbotron">
    <h2 class="text-center">Machine Learning for kids</h2>
</div>
<div class="menucontainer">
    <div class="mlprojectmenu">
        <div class="mlprojectmenutitle">What?</div>
        <div class="aboutdescription">
            This tool introduces machine learning by providing hands-on experiences for training and building with machine learning systems.
            <br/><br/>
            It provides an easy-to-use guided environment for training machine learning models for classifying text, numbers or
            recognising images.
            <br/><br/>
            This builds on existing projects to introduce and teach coding to children, by adding these models to
            <a href="https://scratch.mit.edu/about" target="_blank">Scratch</a>
            (a widely used educational coding platform), allowing children to create projects and build games with the
            machine learning models that they've trained.
            <br/><br/>
            The tool is entirely web-based and requires no installs or complicated setup to be able to use.
            <br/><br/>
            To learn more, look at: <button type="button" class="btn btn-primary" ui-sref="worksheets">Worksheets</button>
        </div>
    </div>
    <div class="mlprojectmenu">
        <div class="mlprojectmenutitle">Why?</div>
        <div class="aboutdescription">
            Machine learning is all around us. We all use machine learning systems every day - such as spam filters, recommendation engines,
            language translation services, chatbots and digital assistants, search engines, fraud detection systems, and much much more.
            <br/><br/>
            It will soon become normal for machine learning systems to drive our cars and be used by doctors in the diagnosis and treatment of major illnesses.
            <br/><br/>
            It's important that kids are aware of how the world around them works, and the best way to understand the capabilities and the implications
            is to be allowed to try building with this technology for themselves.
            <br/><br/>
            To learn more, read: <a class="btn btn-primary" href="http://dalelane.co.uk/blog/?p=3513">"Introducing Machine Learning to kids"</a>
        </div>
    </div>
</div>
