<div class="jumbotron" id="top">
    <h2 class="text-center" translate="LINKS.TITLE"></h2>
</div>
<div class="helpsection">
    <p translate="LINKS.INTRO"></p>
</div>
<div class="menucontainer">
    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">eCraft2Learn</div>
        <div class="aboutdescription"><a href="https://ecraft2learn.github.io/ai/" target="_blank">ecraft2learn.github.io</a></div>
        <div class="aboutdescription" translate="LINKS.ECRAFT2LEARN.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.ECRAFT2LEARN.BODY2"></div>
        <div class="aboutdescription" translate="LINKS.ECRAFT2LEARN.BODY3"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Apps for Good</div>
        <div class="aboutdescription"><a href="https://www.appsforgood.org/courses/machine-learning" target="_blank">appsforgood.org</a></div>
        <div class="aboutdescription" translate="LINKS.APPSFORGOOD.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.APPSFORGOOD.BODY2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">STEM Learning</div>
        <div class="aboutdescription"><a href="https://www.stem.org.uk/cxg2kh" target="_blank">stem.org.uk</a></div>
        <div class="aboutdescription" translate="LINKS.STEMLEARNING.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.STEMLEARNING.BODY2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">AI Family Challenge</div>
        <div class="aboutdescription"><a href="https://www.curiositymachine.org/aichallenge/" target="_blank">curiositymachine.org</a></div>
        <div class="aboutdescription" translate="LINKS.AIFAMILYCHALLENGE.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.AIFAMILYCHALLENGE.BODY2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Raspberry Pi</div>
        <div class="aboutdescription"><a href="https://projects.raspberrypi.org/en/pathways/scratch-machine-learning" target="_blank">raspberrypi.org</a></div>
        <div class="aboutdescription" translate="LINKS.RASPBERRYPI.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.RASPBERRYPI.BODY2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">AIinSchools</div>
        <div class="aboutdescription"><a href="http://aiinschools.com/" target="_blank">aiinschools.com</a></div>
        <div class="aboutdescription" translate="LINKS.AIINSCHOOLS.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.AIINSCHOOLS.BODY2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Magenta.js demos</div>
        <div class="aboutdescription"><a href="https://magenta.tensorflow.org/demos/web/" target="_blank">magenta.tensorflow.org</a></div>
        <div class="aboutdescription" translate="LINKS.MAGENTADEMOS.BODY1"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Google Experiments</div>
        <div class="aboutdescription"><a href="https://experiments.withgoogle.com/collection/ai" target="_blank">experiments.withgoogle.com</a></div>
        <div class="aboutdescription" translate="LINKS.GOOGLEEXPERIMENTS.BODY1"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Teens in AI</div>
        <div class="aboutdescription"><a href="https://teensinai.com/" target="_blank">teensinai.com</a></div>
        <div class="aboutdescription" translate="LINKS.TEENSINAI.BODY1"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">AI4ALL</div>
        <div class="aboutdescription"><a href="http://ai-4-all.org/education/" target="_blank">ai-4-all.org</a></div>
        <div class="aboutdescription" translate="LINKS.AI4ALL.BODY1"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Calypso for Cozmo</div>
        <div class="aboutdescription"><a href="https://calypso.software/" target="_blank">calypso.software</a></div>
        <div class="aboutdescription" translate="LINKS.CALYPSO.BODY1"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">Exploring CS</div>
        <div class="aboutdescription"><a href="https://www.exploringcs.org/for-teachers-districts/artificial-intelligence" target="_blank">exploringcs.org</a></div>
        <div class="aboutdescription" translate="LINKS.EXPLORINGCS.BODY1"></div>
        <div class="aboutdescription" translate="LINKS.EXPLORINGCS.BODY2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">AI-in-a-Box</div>
        <div class="aboutdescription"><a href="https://www.readyai.org/readyai-you/ai-in-a-box/" target="_blank">readyai.org</a></div>
        <div class="aboutdescription" translate="LINKS.AIINABOX.BODY1"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="LINKS.VIDEOS.TITLE"></div>
        <div class="aboutdescription" translate="LINKS.VIDEOS.INTRO"></div>
        <div class="aboutdescription">
            <iframe src="https://www.youtube.com/embed/R9OHn5ZF4Uo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <small><a href="https://youtu.be/R9OHn5ZF4Uo" target="_blank">youtu.be/R9OHn5ZF4Uo</a></small>

            <iframe src="https://www.youtube.com/embed/o81QwXHbH5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <small><a href="https://youtu.be/o81QwXHbH5E" target="_blank">youtu.be/o81QwXHbH5E</a></small>

            <iframe src="https://www.youtube.com/embed/Wm1Id-vEX3U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <small><a href="https://youtu.be/Wm1Id-vEX3U" target="_blank">youtu.be/Wm1Id-vEX3U</a></small>

            <iframe src="https://www.youtube.com/embed/a0_lo_GDcFw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <small><a href="https://youtu.be/a0_lo_GDcFw" target="_blank">youtu.be/a0_lo_GDcFw</a></small>
        </div>
    </div>
</div>
