<md-dialog aria-label="choose story">
    <md-dialog-content layout="column" class="storylist">
        <md-button class="md-raised storylistbutton" translate="STORIES.MLHASNTREPLACEDCODING.TITLE" ng-click="confirm(0)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.MLWORKFLOW.TITLE"            ng-click="confirm(1)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.TRAININGQUANTITY.TITLE"      ng-click="confirm(2)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.CROWDSOURCING.TITLE"         ng-click="confirm(3)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.VARIETY.TITLE"               ng-click="confirm(4)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.TESTDATA.TITLE"              ng-click="confirm(5)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.NOTJUSTINTENTS.TITLE"        ng-click="confirm(6)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.COLLECTINGERRORS.TITLE"      ng-click="confirm(7)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.CONFIDENCESCORES.TITLE"      ng-click="confirm(8)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.BLACKBOX.TITLE"              ng-click="confirm(9)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.LEARNINGWRONGTHING.TITLE"    ng-click="confirm(10)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.CONFUSED.TITLE"              ng-click="confirm(11)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.BIAS.TITLE"                  ng-click="confirm(12)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.SOLUTIONS.TITLE"             ng-click="confirm(13)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.MISUSING.TITLE"              ng-click="confirm(14)"></md-button>
        <md-button class="md-raised storylistbutton" translate="STORIES.INVISIBLEAI.TITLE"           ng-click="confirm(15)"></md-button>
    </md-dialog-content>
</md-dialog>
