<div class="jumbotron">
    <h2 class="text-center">Create a new class account</h2>
</div>
<div ng-if="isAuthenticated" class="alert alert-info pageheadermsg">
    <strong>Info: </strong> Already logged in
</div>

<div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error:</strong> {{ error.message }}
</div>
<div ng-repeat="info in vm.infos" class="alert alert-info alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('info', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Info:</strong> {{ info.message }}
</div>

<div ng-if="!isAuthenticated" class="signupPage">




</div>
