ops/ibmcloud-ca.cert
ops/dev-credentials.env
ops/prod-credentials.env

ops/numbers-us-credentials.env
ops/numbers-au-credentials.env
ops/numbers-eu-credentials.env
ops/numbers-me-credentials.env

ops/postgresql-credentials.env
ops/auth0-credentials.env
ops/cos-credentials.env
ops/email-credentials.env
ops/slack-credentials.env
ops/openwhisk-credentials.env
ops/spotify-credentials.env

ops/previous-prod
public/scratchx
public/scratch3
public/bower_components
node_modules
coverage
logs/*.log
logs/*.log.*
dist
web
