<div class="jumbotron">
    <h2 class="text-center" translate="PROJECTS.TITLE"></h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>

    <div class="newprojectbuttons">
        <div class="newprojectbutton" ui-sref="importdataset">
            <div class="newprojecticon glyphicon glyphicon-import"></div>
            <div class="newprojectlabel" translate="PROJECTS.COPYTEMPLATE"></div>
        </div>
        <div class="newprojectbutton" ui-sref="newproject">
            <div class="newprojecticon">+</div>
            <div class="newprojectlabel" translate="PROJECTS.ADDNEWPROJECT"></div>
        </div>
        <div class="alert alert-info pageheadermsg page-header-alert-info" ng-if="vm.projects && vm.projects.length === 0">
            {{ 'PROJECTS.CREATEFIRSTPROJECT' | translate }}
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
    </div>

    <div ng-if="!vm.projects" class="loading"> </div>

    <div class="text-center mlpagecontents">
        <div class="mlproject" ng-repeat="project in vm.projects" id="{{project.id}}">
            <div class="mlprojectdetails placeholder" ng-if="project.isPlaceholder">
                <div class="mlprojecttitle">{{ project.name }}</div>
            </div>
            <div class="mlprojectdetails" ng-if="!project.isPlaceholder"
                 ui-sref="mlproject({ projectId : project.id, userId : project.userid })"
                 ng-class="{ 'mlprojecthighlight' : vm.highlightId === project.id }">
                <div class="mlprojecttitle">{{ project.name }}</div>
                <div class="mlprojectdescription">
                    {{ 'PROJECTS.RECOGNISING' | translate }}
                    <span class="mlprojecttype" ng-if="project.type === 'text'" translate="WORKSHEETS.TYPES.TEXT"></span>
                    <span class="mlprojecttype" ng-if="project.type === 'imgtfjs'" translate="WORKSHEETS.TYPES.IMAGES"></span>
                    <span class="mlprojecttype" ng-if="project.type === 'numbers'" translate="WORKSHEETS.TYPES.NUMBERS"></span>
                    <span class="mlprojecttype" ng-if="project.type === 'sounds'" translate="WORKSHEETS.TYPES.SOUNDS"></span>
                    <span ng-if="project.labelsSummary">
                        {{ 'PROJECTS.AS' | translate }}
                        <span class="mlprojectlabels">{{ project.labelsSummary }}</span>
                    </span>
                </div>
                <div class="mlprojectcrowd" ng-if="project.isCrowdSourced" ng-click="vm.displayCrowdSourcedInfo($event)"> </div>
            </div>
            <div class="mlprojectdelete">
                <button type="button"
                        ng-if="isTeacher && !project.isCrowdSourced && !project.isPlaceholder"
                        class="btn btn-info mlprojectssharebutton"
                        ng-click="vm.shareProject($event, project, true)"
                        translate="PROJECTS.SHARE"></button>
                <button type="button"
                        ng-if="isTeacher && project.isCrowdSourced && !project.isPlaceholder"
                        class="btn btn-info mlprojectssharebutton"
                        ng-click="vm.shareProject($event, project, false)"
                        translate="PROJECTS.UNSHARE"></button>
                <br ng-if="isTeacher"/>
                <img src="static/images/trash.png"
                    ng-if="!project.isPlaceholder"
                    ng-hide="project.isCrowdSourced && !isTeacher"
                    ng-click="vm.deleteProject($event, project)"
                    alt="Delete project" />
            </div>
        </div>
        <br clear="all"/>
    </div>
</div>
