@media(max-width: 540px) {
    .mlproject {
        width: 95%;
    }
}
@media(min-width: 540px) and (max-width: 650px) {
    .mlproject {
        width: 90%;
    }
}
@media(min-width: 650px) and (max-width: 800px) {
    .mlproject {
        width: 80%;
    }
}
@media(min-width: 800px) and (max-width: 940px) {
    .mlproject {
        width: 75%;
    }
}
@media(min-width: 940px) {
    .mlproject {
        width: 70%;
    }
}

.mlproject {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.mlprojecthighlight {
    border: thin #1864ab solid;
}


@media(min-width: 900px) {
    .mlprojectdetails {
        width: 90%;
    }
}
@media(max-width: 900px) {
    .mlprojectdetails {
        width: 85%;
    }
}
.mlprojectdetails {
    margin-bottom: 1em;
    padding: 1em 1.5em;
    background-color: #eeeeee;
    border-radius: 2em;
    text-align: left;
    cursor: pointer;
    float: left;
}

.mlprojectdetails.placeholder {
    color: #808080;
    background-color: #f1f1fb;
}

.mlprojecttitle {
    font-weight: bold;
    font-size: 2.2em;
}

@media(max-width: 460px) {
    .mlprojectdescription {
        padding: 0.5em 0.5em 0;
    }
}
@media(min-width: 460px) {
    .mlprojectdescription {
        padding: 0.5em 2.5em 0;
    }
}
.mlprojectdescription {
    font-size: 1.2em;
}

.mlprojecttype {
    color: darkblue;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.mlprojectlabels {
    color: darkgreen;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.mlprojectdelete {
    float: right;
    margin-top: 2.5em;
}

.newprojectbuttons {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5em;
    margin-bottom: 2em;
}
.newprojectbuttons .page-header-alert-info {
    margin-bottom: initial;
}
.newprojectbutton {
    border: 1px solid #ddd;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    outline: none;
    cursor: pointer;
    margin-left: 1em;
    color: black;
}
.newprojecticon {
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin-top: 0;
    padding-top: 0;
    line-height: 30px;
    margin-right: 10px;
    color: black;
}
.newprojecticon.glyphicon.glyphicon-import {
    font-size: 2em;
}
.newprojectlabel {
    float: right;
    width: 80px;
}

.mlprojectdetails .mlprojectcrowd {
    background-color: white;
    height: 28px;
    width: 28px;
    background-size: contain;
    background-image: url('./../../static/images/group.png');
    border: thin #333 solid;
    float: right;
}

.mlprojectssharebutton {
    margin: 4px;
    font-size: 0.8em;
    padding: 4px;
}
