.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pageheadermsg {
    margin-left: 1em;
    margin-right: 1em;
}

.loading {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.backbutton {
    margin-left: 5px;
}

.helpicon {
    font-family: Gill Sans Extrabold, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-align: center;
    background-color: #DDDDF0;
    color: #778899;
 	border-radius: 50%;
	width: 50px;
	height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: thin solid #2F4F4F;
    z-index: 10;
}
.helpicon:focus {
    outline: 0;
}

.helppanel {
    position: absolute;
    z-index: 8;
    border: thin solid #2F4F4F;
    background-color: #DDDDF0;
 	border-radius: 10px;
    bottom: 65px;
    right: 5px;
    font-size: 1.6em;
    padding: 0.8em;
	min-width: 150px;
	width: 25%;
    max-height: 80%;
    overflow-y: scroll;
}

.helppanel > div {
    margin-bottom: 1em;
}
