<div class="jumbotron" id="top">
    <h2 class="text-center">
        {{ 'PRETRAINED.TITLE' | translate }}
        <span class='badge'>beta</span>
    </h2>
</div>
<div class="helpsection">
    <p translate="PRETRAINED.INTRO.INTRO_1"></p>
</div>
<div class="menucontainer">
    <div class="mlprojectmenu aboutsection aboutwide">
        <div class="mlprojectmenutitle" translate="PRETRAINED.HOWTO.TITLE"></div>
        <div class="aboutdescription">
            <a class="btn btn-primary" target="_blank" href="/scratch3" translate="WELCOME.GET_STARTED"></a>
        </div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.INTRO"></div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.HOW_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.HOW_2"></div>
        <div class="aboutdescription">
            <img src="static/images/scratch3-extensions.png"
                 style="max-width: 95%; border: thin black solid;"
                 alt="screenshot of where to find extensions in Scratch 3">
        </div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.HOW_3"></div>
        <div class="aboutdescription" translate="PRETRAINED.IDEAS.IDEAS_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.IDEAS.IDEAS_2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.SPEECHTOTEXT.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.SPEECHTOTEXT.SPEECH_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.SPEECHTOTEXT.SPEECH_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-speechtotext.png"
                 style="max-width: 95%; border: thin black solid;"
                 alt="screenshot of the speech to text blocks">
        </div>
        <div class="aboutdescription" style="font-size: 1em;" translate="PRETRAINED.SPEECHTOTEXT.SPEECH_3"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.FACEAPI.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.FACEAPI.FACE_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.FACEAPI.FACE_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-faceapi.png"
                 style="max-width: 95%; border: thin black solid;"
                 alt="screenshot of the face detection blocks">
        </div>
        <div class="aboutdescription" style="font-size: 1em;" translate="PRETRAINED.FACEAPI.FACE_3"></div>
        <div class="aboutdescription" style="font-size: 1em;" translate="PRETRAINED.FACEAPI.FACE_4"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.POSENET.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.POSENET.POSE_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.POSENET.POSE_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-posenet.png"
                 style="max-width: 95%; border: thin black solid;"
                 alt="screenshot of the pose detection blocks">
        </div>
        <div class="aboutdescription" style="font-size: 1em;" translate="PRETRAINED.POSENET.POSE_3"></div>
        <div class="aboutdescription" style="font-size: 1em;" translate="PRETRAINED.POSENET.POSE_4"></div>
    </div>
</div>
