<div class="jumbotron" id="top">
    <h2 class="text-center" translate="PRETRAINED.TITLE"></h2>
</div>
<div class="helpsection">
    <p translate="PRETRAINED.INTRO.INTRO_1"></p>
</div>
<div class="menucontainer">
    <div class="mlprojectmenu aboutsection aboutwide">
        <div class="mlprojectmenutitle" translate="PRETRAINED.HOWTO.TITLE"></div>
        <div class="aboutdescription">
            <a class="btn btn-primary" target="_blank" href="https://scratch.machinelearningforkids.co.uk" translate="WELCOME.GET_STARTED"></a>
        </div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.INTRO"></div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.HOW_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.HOW_2"></div>
        <div class="aboutdescription">
            <img src="static/images/scratch3-extensions.png" class="screenshot"
                 alt="screenshot of where to find extensions in Scratch 3">
        </div>
        <div class="aboutdescription" translate="PRETRAINED.HOWTO.HOW_3"></div>
        <div class="aboutdescription" translate="PRETRAINED.IDEAS.IDEAS_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.IDEAS.IDEAS_2"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.SPEECHTOTEXT.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.SPEECHTOTEXT.SPEECH_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.SPEECHTOTEXT.SPEECH_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-speechtotext.png" class="screenshot"
                 alt="screenshot of the speech to text blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.SPEECHTOTEXT.SPEECH_3"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.FACEAPI.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.FACEAPI.FACE_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.FACEAPI.FACE_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-faceapi.png" class="screenshot"
                 alt="screenshot of the face detection blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.FACEAPI.FACE_3"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.FACEAPI.FACE_4"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.POSENET.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.POSENET.POSE_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.POSENET.POSE_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-posenet.png" class="screenshot"
                 alt="screenshot of the pose detection blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.POSENET.POSE_3"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.POSENET.POSE_4"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.POSENET.POSE_5"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.HANDPOSE.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.HANDPOSE.POSE_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.HANDPOSE.POSE_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-handpose.png" class="screenshot"
                 alt="screenshot of the hand detection blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.HANDPOSE.POSE_3"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.HANDPOSE.POSE_4"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.TOXICITY.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.TOXICITY.TOXICITY_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.TOXICITY.TOXICITY_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-toxicity.png" class="screenshot"
                 alt="screenshot of the toxicity blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.TOXICITY.TOXICITY_3"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.IMAGENET.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.IMAGENET.IMAGENET_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.IMAGENET.IMAGENET_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-imagenet.png" class="screenshot"
                 alt="screenshot of the imagenet blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.IMAGENET.IMAGENET_3"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.IMAGENET.IMAGENET_4"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.QNA.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.QNA.QNA_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.QNA.QNA_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-qna.png" class="screenshot"
                 alt="screenshot of the Q&A blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.QNA.QNA_3"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.QNA.QNA_4"></div>
        <div class="aboutdescription smalldescription emphasis" translate="PRETRAINED.QNA.QNA_5"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle" translate="PRETRAINED.SPICE.TITLE"></div>
        <div class="aboutdescription" translate="PRETRAINED.SPICE.SPICE_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.SPICE.SPICE_2"></div>
        <div class="aboutdescription">
            <img src="static/images/pretrained-spice.png" class="screenshot"
                 alt="screenshot of the voice tuner blocks">
        </div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.SPICE.SPICE_3"></div>
        <div class="aboutdescription smalldescription" translate="PRETRAINED.SPICE.SPICE_4"></div>
        <div class="aboutdescription smalldescription emphasis" translate="PRETRAINED.SPICE.SPICE_5"></div>
    </div>

    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="mlprojectmenutitle">{{ 'PRETRAINED.TENSORFLOW.TITLE' | translate }} <span class='badge'>beta</span></div>
        <div class="aboutdescription">
            <a class="btn btn-primary" ng-click="vm.openTensorFlowDialog($event)" translate="PRETRAINED.TENSORFLOW.BUTTON"></a>
        </div>
        <div class="aboutdescription" translate="PRETRAINED.TENSORFLOW.TF_1"></div>
        <div class="aboutdescription" translate="PRETRAINED.TENSORFLOW.TF_2"></div>
        <div class="aboutdescription" translate="PRETRAINED.TENSORFLOW.TF_3"></div>
        <div class="aboutdescription" translate="PRETRAINED.TENSORFLOW.TF_4"></div>
        <div class="aboutdescription"><a href="https://dalelane.co.uk/blog/?p=4201" translate="DATASETS.MORE.MOREINFO"></a></div>
        <div class="aboutdescription emphasis" translate="PRETRAINED.TENSORFLOW.TF_5"></div>
    </div>
</div>
