<div class="jumbotron">
    <h2 class="text-center" translate="NEWS.TITLE"></h2>
</div>
<div class="newsUpdates">
    <div style="text-align: center">
        <md-button class="md-raised"
            style="padding-left: 15px; padding-right: 15px;"
            ng-click="type = 'twitter'"
            ng-class="{ 'md-primary' : type !== 'wakelet' }">
            {{ 'NEWS.UPDATES.TITLE' | translate }}</md-button>
        <md-button class="md-raised"
            style="padding-left: 15px; padding-right: 15px;"
            ng-click="type = 'wakelet'"
            ng-class="{ 'md-primary' : type === 'wakelet' }">
            {{ 'NEWS.MENTIONS.TITLE' | translate }}</md-button>
    </div>
</div>
<div class="newsUpdates">
    <div ng-hide="type === 'wakelet'">
        <a class="twitter-timeline"
            data-lang="en"
            data-width="700"
            data-link-color="#2B7BB9"
            href="https://twitter.com/MLforKids"
            translate="NEWS.UPDATES.DESCRIPTION"></a>
    </div>
    <div ng-hide="type !== 'wakelet'">
        <iframe class="wakeletEmbed" width="100%" height="5800px"
            src="//embed.wakelet.com/wakes/4d3680cb-2a11-49ab-9180-fcfeced48393/list?no-title=true"
            style="border: none"
            allow="autoplay"
            translate="NEWS.MENTIONS.DESCRIPTION"></iframe>
    </div>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async src="//embed-assets.wakelet.com/wakelet-embed.js" charset="utf-8"></script>
