<div class="jumbotron">
    <h2 class="text-center" translate="BOOK.TITLE"></h2>
</div>
<div class="menucontainer bookpage">
    <div class="mlprojectmenu aboutsection aboutnarrow">
        <div class="aboutdescription">
            <img class="bookcover" src="/static/images/book-cover.png"/>
        </div>
    </div>
    <div class="mlprojectmenu aboutsection aboutwide">
        <div class="aboutdescription noabouttitle" translate="BOOK.NOTES_1"></div>
        <div class="aboutdescription" translate="BOOK.NOTES_2"></div>
        <div class="aboutdescription" translate="BOOK.NOTES_3"></div>
        <div class="aboutdescription" translate="BOOK.NOTES_4"></div>
        <div class="aboutdescription">
            <strong><a target='_blank' rel="noopener noreferrer" href="https://google.com/books/edition/Machine_Learning_for_Kids/9R6hzQEACAAJ?newbks=1">Find the book</a></strong>
        </div>
    </div>
</div>
<div class="faqs">
    <h3 translate="BOOK.UPDATES.TITLE"></h3>
    <div class="intro" translate="BOOK.UPDATES.NOTES"></div>
    <!--
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#bookChapter2" target="_self">Chapter X (page Y)</a>
                </h4>
            </div>
            <div id="bookChapter2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        where
                    </p>
                    <p>
                        what is says now
                    </p>
                    <p>
                        what it should say
                    </p>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
