<div class="jumbotron">
    <h2 class="text-center" translate>TEACHER.SUPERVISION.TITLE</h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role === 'supervisor'" class="adminpage">

    <div ng-if="!vm || !vm.projects" class="loading"> </div>

    <div ng-repeat="error in vm.errors"
            class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
            ng-click="vm.dismissAlert('errors', $index)"
            id="errors{{error.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings"
            class="alert alert-warning alert-dismissible pageheadermsg" role="alert"
            ng-click="vm.dismissAlert('warnings', $index)"
            id="warnings{{warning.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>


    <div ng-if="vm && vm.classifiers && vm.classifiers.conv.length > 0" class="unmanagedClassifiers">
        <div class="warningHeading" translate>APP.WARNING</div>
        <div class="warningExplanation">
            A check of the Watson API keys that you provided has found
            <span ng-if="vm.classifiers.conv.length === 1">a </span>
            machine learning model<span ng-if="vm.classifiers.conv.length > 1">s </span>
            that isn't known to Machine Learning for Kids.
        </div>
        <div class="warningSubHeading">How could this happen?</div>
        <div class="warningExplanation">
            <strong>Reason 1: </strong>
            You're using your Watson API keys for other things as well as
            Machine Learning for Kids.
        </div>
        <div class="warningExplanation">
            That's fine - you can ignore this. Just be aware that these
            count towards the limits that IBM Cloud enforces for your
            Watson credentials, so these mean that fewer models can be
            created by your students.
        </div>
        <div class="warningExplanation">
            <strong>Reason 2: </strong>
            Something went wrong when the machine learning model was being
            deleted, and it was left behind accidentally.
        </div>
        <div class="warningExplanation">
            You should delete the model, as it counts towards the limits
            that IBM Cloud enforces for your credentials, and so will
            mean fewer models that your students can create.
        </div>

        <table style="width: 100%;" class="unmanagedClassifiersTable">
            <tr ng-repeat="classifier in vm.classifiers.conv">
                <td><img class="mediumwatsonicon" hspace=10
                        src="static/images/conversation.jpg"
                        alt="Model using a Watson Assistant API key"></td>
                <td><strong>Watson Assistant</strong> workspace
                        (<small>{{ classifier.id }}</small>) called
                        <strong>"{{ classifier.name }}"</strong></td>
                <td><button class="btn btn-danger"
                            style="margin-left: 1em"
                            ng-click="vm.deleteClassifier($event, classifier)"
                            ng-disabled="submittingDeleteRequest"
                            translate="APP.DELETE">
                    </button></td>
            </tr>
        </table>
    </div>


    <div ng-if="vm && vm.projects">

        <div class="helpsection">
            <p translate>TEACHER.SUPERVISION.INTRO_1</p>
            <p translate>TEACHER.SUPERVISION.INTRO_2</p>
        </div>

        <div class="studentslist" ng-if="vm.projects.length === 0">
            <p translate>TEACHER.SUPERVISION.NO_PROJECTS_1</p>
            <p translate>TEACHER.SUPERVISION.NO_PROJECTS_2</p>
        </div>
        <table class="studentslist wide" ng-if="vm.projects.length > 0">
            <tr>
                <th title="Name of the project">
                    {{ 'TEACHER.SUPERVISION.NAME' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'name'"></span>
                    <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-name'"></span>
                </th>
                <th title="Type of project - what the computer is being trained to recognise">
                    {{ 'TEACHER.SUPERVISION.TYPE' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'type'"></span>
                    <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-type'"></span>
                </th>
                <th>
                </th>
                <th title="Owner of the project">
                    {{ 'TEACHER.SUPERVISION.STUDENT' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'owner.username'"></span>
                    <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-owner.username'"></span>
                </th>
                <th title="Whether the project currently has a trained model using a Watson API key">
                    {{ 'TEACHER.SUPERVISION.MODELS' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = ['-hasModel', 'type']"></span>
                    <br/>
                    <em style="font-weight: normal; font-size: 0.8em;" translate>TEACHER.SUPERVISION.DELETE</em>
                </th>
            </tr>
            <tr ng-repeat="project in vm.projects | orderBy : vm.orderBy" ng-class-even="'even'" ng-class-odd="'odd'">
                <!-- Project name -->
                <td class="projectslistname" ng-hide="project.owner">{{ project.name }}</td>
                <td class="projectslistname" ng-if="project.owner">
                    <a style="cursor: pointer" ui-sref="teacher_review_training({ projectId : project.id, userId : project.owner.id })">
                        {{ project.name }}
                    </a>
                </td>
                <!-- Project type  (text/images/numbers) -->
                <td class="studentslistdetail projecttype">
                    {{ project.type === 'imgtfjs' ? 'images' : project.type }}
                </td>
                <!-- Classes / Labels -->
                <td class="studentslistdetail detail"> {{ project.labelsSummary }} </td>
                <!-- Who owns the project -->
                <td class="studentslistdetail detail" ng-hide="project.owner || project.isCrowdSourced"> </td>
                <td class="studentslistdetail detail" ng-if="project.owner"> {{ project.owner.username }} </td>
                <td class="studentslistdetail" ng-if="project.isCrowdSourced"><div class="mlprojectcrowd miniwatsonicon" title="'Whole class project' - available to all students in the class" > </div> </td>
                <!-- If it has a trained model -->
                <td class="studentslistdetail detail" ng-hide="project.hasModel"> </td>
                <td class="studentslistdetail detail" ng-if="project.hasModel && project.type === 'text'">
                    <img class="miniwatsonicon" style="cursor: pointer"
                            src="static/images/conversation.jpg"
                            ng-click="vm.deleteModel($event, project)"
                            alt="Model using a Watson Assistant API key">
                </td>
            </tr>
        </table>

    </div>

</div>

<div ng-if="isAuthenticated && vm.profile.role !== 'supervisor'" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> {{ 'TEACHER.SUPERVISION.NOT_AUTHORIZED' | translate }}
</div>
