<div class="container welcome">
    <div class="row">
        <div class="col-md-6">
            <h1 class="motto" translate>WELCOME.TITLE</h1>

            <div class="getstartedaction">
                <button
                    ng-if="!isAuthenticated"
                    ng-hide="inMaintenanceMode"
                    ui-sref="login"
                    class="btn btn-primary" translate>WELCOME.GET_STARTED</button>
                <button
                    ng-if="!isAuthenticated"
                    ui-sref="about"
                    class="btn btn-default" translate>WELCOME.LEARN_MORE</button>
                <button
                    ng-if="isAuthenticated && isTeacher"
                    ui-sref="teacher"
                    class="btn btn-primary" translate>WELCOME.ADMIN_LABEL</button>
                <button
                    ng-if="isAuthenticated"
                    ui-sref="projects"
                    class="btn btn-primary" translate>WELCOME.PROJECT_LABEL</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="getstartedinfo">
                <div class="stepnumber">1</div>
                <h2 translate>WELCOME.STEP_1_TEXT</h2>
            </div>

            <div class="getstartedinfo">
                <div class="stepnumber">2</div>
                <h2 translate>WELCOME.STEP_2_TEXT</h2>
            </div>

            <div class="getstartedinfo">
                <div class="stepnumber">3</div>
                <h2 translate>WELCOME.STEP_3_TEXT</h2>
            </div>
        </div>
    </div>
</div>


