<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="motto">Teach a computer to play a game</h1>

            <div class="getstartedaction">
                <button
                    ng-if="!isAuthenticated"
                    ui-sref="login"
                    class="btn btn-primary">Get started</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="getstartedinfo">
                <div class="stepnumber">1</div>
                <h2>Collect examples of things you want to be able to recognise</h2>
            </div>

            <div class="getstartedinfo">
                <div class="stepnumber">2</div>
                <h2>Use the examples to train a computer to be able to recognise them</h2>

            </div>

            <div class="getstartedinfo">
                <div class="stepnumber">3</div>
                <h2>Make a game in Scratch that uses the computer's ability to recognise them</h2>

            </div>

        </div>
    </div>
</div>


