<div class="jumbotron">
    <h2 class="text-center">Welcome</h2>
</div>
<div class="text-center">
    This won't need auth. It'll be where we explain what this is all about.
</div>

<div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error:</strong> {{ error.message }}
</div>
<div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning:</strong> {{ warning.message }}
</div>

<div class="text-center">
    <button
        ng-if="!isAuthenticated"
        ui-sref="login"
        class="btn btn-primary">Login</button>
</div>
