<div class="jumbotron">
    <h2 class="text-center">Try It Now (beta)</h2>
</div>
<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert" id="sessionuserfailure">
    <strong>Error:</strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500">If this keeps happening, please <a ui-sref="help">let me know</a>.</em>
</div>
<div class="menucontainer">
    <div class="mlprojectmenu wide">
        <div class="mlprojectmenutitle">Try “Machine Learning for Kids” without needing to log on, or create an account</div>
        <div class="aboutdescription"><strong>If you're on this page, it's because you agreed to help me test a way to make it easier for kids to use Machine Learning for Kids. Thank you!</strong></div>
        <div class="aboutdescription">
            <div><span class="glyphicon glyphicon-thumbs-up"> </span> No login needed</div>
            <div><span class="glyphicon glyphicon-thumbs-up"> </span> No registration needed</div>
            <div><span class="glyphicon glyphicon-thumbs-up"> </span> No passwords to remember</div>
            <div><span class="glyphicon glyphicon-thumbs-up"> </span> No personal information needed</div>
        </div>
        <div class="aboutdescription"><em>(I'm not ready to release this feature, so please don't share this page)</em><br/><br/></div>
        <div class="mlprojectmenubutton">
            <button ng-if="!isAuthenticated" class="btn btn-primary" ng-click="vm.startSession()"> Try It Now (beta) </button>
        </div>
    </div>
</div>
<div class="menucontainer">
    <div class="mlprojectmenu">
        <div class="mlprojectmenutitle">What you can do with this:</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-ok"> </span> Create a machine learning project</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-ok"> </span> Train a machine learning model to recognise text or numbers</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-ok"> </span> Use the ML model from Scratch projects</div>
    </div>
    <div class="mlprojectmenu">
        <div class="mlprojectmenutitle">What you can't do with this:</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-remove"> </span> Save projects to return to later</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-remove"> </span> Switch web browsers while working on a project</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-remove"> </span> Train machine learning models to recognise images</div>
        <div class="aboutdescription"><span class="glyphicon glyphicon-remove"> </span> Work on multiple projects at once</div>
        <div class="aboutdescription"><em>(Use a normal student account for these!)</em></div>
    </div>
</div>

<hr>

<div class="faqs">
    <h3>Questions</h3>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#tryitnow1" target="_self">Why am I trying this?</a>
                </h4>
            </div>
            <div id="tryitnow1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>I know that getting younger students to remember (and type in!) yet another username and password can be a challenge.</p>
                    <p>Setting up and managing a class account is extra work that busy teachers don't always have time for.</p>
                    <p>I'm trying this as it would mean a class could easily be run with nothing to setup ahead of time, and no passwords for kids to type in.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#tryitnow2" target="_self">Am I going to replace the teacher/student logins with this?</a>
                </h4>
            </div>
            <div id="tryitnow2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>No. I still think there are many benefits to the existing student accounts.</p>
                    <p>Students can save their work and come back to it in a later lesson. They can work on a project together with other students in their class. They can log on from home and show their family what they've made.</p>
                    <p>I think this “Try it now” idea is a nice alternative option, not a replacement.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#tryitnow3" target="_self">Is there a limit to how many people can use this at once?</a>
                </h4>
            </div>
            <div id="tryitnow3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Yes. </p>
                    <p>For now, at least.</p>
                    <p>I'm going to start small - test it with a very small limit with a few users. I'll increase it gradually as I see how it works out.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#tryitnow4" target="_self">Why are image projects excluded from this?</a>
                </h4>
            </div>
            <div id="tryitnow4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Cost. Sorry.</p>
                    <p>I'm not sure what the usage of this will be like, so I'm going to start small and cheap and see how it goes. And the Watson Assistant APIs I'm using to train text projects are pretty cheap, so I'm thinking it's a safe place to start. </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#tryitnow5" target="_self">What does the "Log out" button do?</a>
                </h4>
            </div>
            <div id="tryitnow5" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>It deletes your temporary account and all of your work.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#tryitnow6" target="_self">What if you don't click "Log out"?</a>
                </h4>
            </div>
            <div id="tryitnow6" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Your temporary login will work for about four hours. After that, it will be deleted along with all of your work.</p>
                    <p><em>Is four hours the right amount of time for a temporary, one-use logon? Let me know what you think.</em></p>
                </div>
            </div>
        </div>
    </div>
</div>


