<md-dialog aria-label="Download project" class="worksheet-download-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>"{{worksheet.title}}"</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon class="glyphicon glyphicon-remove" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="worksheet-video-container">
                <iframe
                    ng-src="{{video}}" ng-if="video"
                    title="YouTube video player"
                    frameborder="0"
                    width="560" height="315"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen
                    class="worksheet-video-iframe"
                    onload="this.style.display='block'; document.getElementById('worksheet-download-screenshot').style.display='none';"></iframe>
                <img ng-src="{{worksheet.image}}" alt="screenshot" id="worksheet-download-screenshot">
            </div>
            <div ng-if="worksheet.featured" class="worksheet-featured-container">
                <div ng-repeat="text in worksheet.featured" ng-bind-html="text" class="worksheet-featured-text"></div>
            </div>
            <div>
                <h4 class="worksheet-section-title" translate="WORKSHEETS.DOWNLOADS.AUDIENCE.STUDENTS"></h4>
                <div ng-repeat="download in worksheet.downloads" class="worksheet-download-item">
                    <div ng-if="download.description" class="worksheet-download-description">
                        <strong>{{download.description}}</strong>
                    </div>
                    <div class="worksheet-download-button-container">
                        <a class="btn btn-primary" href="{{download.worksheet}}">
                            <span class="glyphicon glyphicon-print"> </span>
                            <span translate="WORKSHEETS.DOWNLOADS.WORKSHEET.TITLE"></span>                        </a>
                    </div>
                    <div ng-if="download.resources" class="worksheet-resources-container">
                        <a class="btn btn-primary" href="{{download.resources}}">
                            <span class="glyphicon glyphicon-print"> </span>
                            <span translate="WORKSHEETS.DOWNLOADS.RESOURCES.TITLE"></span>
                        </a>
                        <div class="worksheet-resources-detail" translate="WORKSHEETS.DOWNLOADS.RESOURCES.DETAIL"></div>
                    </div>
                </div>
                <h4 translate="WORKSHEETS.DOWNLOADS.AUDIENCE.TEACHERS"></h4>
                <div class="worksheet-download-item">
                    <a class="btn btn-info worksheet-guidance-button" href="{{worksheet.original}}">
                        <span class="glyphicon glyphicon-align-left"> </span>
                        <span translate="WORKSHEETS.DOWNLOADS.GUIDANCE.ORIGINALDOWNLOAD"></span>
                    </a>
                    <div class="worksheet-guidance-detail" translate="WORKSHEETS.DOWNLOADS.GUIDANCE.ORIGINALNOTES"></div>
                    <hr ng-if="worksheet.teachersnotes" class="worksheet-guidance-divider"/>
                    <a ng-if="worksheet.teachersnotes" class="btn btn-info worksheet-guidance-button" href="{{worksheet.teachersnotes}}">
                        <span class="glyphicon glyphicon-check"> </span>
                        <span translate="WORKSHEETS.DOWNLOADS.GUIDANCE.TITLE"></span>
                    </a>
                    <div ng-if="worksheet.teachersnotes" class="worksheet-guidance-detail" translate="WORKSHEETS.DOWNLOADS.GUIDANCE.DETAIL"></div>
                </div>
                <div ng-if="worksheet.notes && worksheet.notes.length > 0" class="worksheet-notes-container">
                    <h4 translate="WORKSHEETS.DOWNLOADS.GUIDANCE.NOTES"></h4>
                    <div ng-repeat="note in worksheet.notes" class="worksheet-note-item">
                        <span class="glyphicon glyphicon-warning-sign"> </span> {{note}}
                    </div>
                </div>
                <div ng-if="worksheet.providedby" class="worksheet-author-container">
                    <strong translate="WORKSHEETS.DOWNLOADS.WORKSHEET.AUTHOR"></strong>
                    <a target="_blank" href="{{ worksheet.providedby.url }}">{{ worksheet.providedby.name }}</a>
                </div>
                <div ng-if="worksheet.providedby && worksheet.providedby.embed" class="worksheet-embed-container">
                    <div ng-bind-html="worksheet.providedby.embed" class="worksheet-embed-content">loading...</div>
                </div>
            </md-card-content>
        </div>
    </md-dialog-content>
</md-dialog>
