<div class="jumbotron" id="top">
    <h2 class="text-center" translate="WORKSHEETS.TITLE"></h2>
</div>
<div class="worksheetsintro">
    <p translate="WORKSHEETS.INTRO_1"></p>
    <p translate="WORKSHEETS.INTRO_2"></p>
    <p translate="WORKSHEETS.INTRO_4"></p>
    <p class="small"><em><a href="https://github.com/IBM/taxinomitis-docs/blob/master/README.md#contributions" translate="WORKSHEETS.INTRO_3"></a></em></p>
</div>
<div class="worksheetfilters">
    <md-select ng-model="projecttype" class="filter">
        <md-option value="ALL" translate="WORKSHEETS.TYPES.ALL"></md-option>
        <md-option value="text">{{ 'WORKSHEETS.TYPES.PREFIX' | translate }} <strong translate="WORKSHEETS.TYPES.TEXT"></strong></md-option>
        <md-option value="images">{{ 'WORKSHEETS.TYPES.PREFIX' | translate }} <strong translate="WORKSHEETS.TYPES.IMAGES"></strong></md-option>
        <md-option value="numbers">{{ 'WORKSHEETS.TYPES.PREFIX' | translate }} <strong translate="WORKSHEETS.TYPES.NUMBERS"></strong></md-option>
        <md-option value="sounds">{{ 'WORKSHEETS.TYPES.PREFIX' | translate }} <strong translate="WORKSHEETS.TYPES.SOUNDS"></strong></md-option>
        <md-option value="faces">{{ 'WORKSHEETS.TYPES.PREFIX' | translate }} <strong translate="WORKSHEETS.TYPES.FACES"></strong></md-option>
    </md-select>
    <md-select ng-model="projectdifficulty" class="filter">
        <md-option value="ALL" translate="WORKSHEETS.LEVELS.ALL"></md-option>
        <md-option value="Beginner"><strong translate="WORKSHEETS.LEVELS.BEGINNER"></strong></md-option>
        <md-option value="Intermediate"><strong translate="WORKSHEETS.LEVELS.INTERMEDIATE"></strong></md-option>
        <md-option value="Advanced"><strong translate="WORKSHEETS.LEVELS.ADVANCED"></strong></md-option>
    </md-select>
    <md-select ng-model="projectmaketype" class="filter">
        <md-option value="ALL" translate="WORKSHEETS.MAKETYPES.ALL"></md-option>
        <md-option value="scratch"><strong translate="WORKSHEETS.MAKETYPES.SCRATCH"></strong></md-option>
        <md-option value="python"><strong translate="WORKSHEETS.MAKETYPES.PYTHON"></strong></md-option>
        <md-option value="appinventor"><strong translate="WORKSHEETS.MAKETYPES.APPINVENTOR"></strong></md-option>
    </md-select>
    <br clear="all"/>
</div>
<div class="worksheets">
    <div ng-repeat="worksheet in vm.worksheets | filter : filterWorksheets as filteredWorksheets" class="worksheetcard">
        <div class="cardmain">
            <div class="info">
                <div class="title"><a ng-click="vm.downloadWorksheet($event, worksheet)">{{worksheet.title}}</a></div>
                <div class="description">{{worksheet.description}}</div>
                <div class="summary">{{worksheet.summary}}</div>
            </div>
            <div class="image">
                <img ng-src="{{worksheet.image}}">
            </div>
        </div>
        <div class="cardfooter">
            <div class="difficulty"><span class="heading" translate="WORKSHEETS.LEVELS.TITLE"></span> {{worksheet.difficulty}}</div>
            <div class="projecttype"><span class="heading" translate="WORKSHEETS.TYPES.TITLE"></span>
                <span class="worksheettype" ng-if="worksheet.type === 'text'" translate="WORKSHEETS.TYPES.TEXT"></span>
                <span class="worksheettype" ng-if="worksheet.type === 'images'" translate="WORKSHEETS.TYPES.IMAGES"></span>
                <span class="worksheettype" ng-if="worksheet.type === 'numbers'" translate="WORKSHEETS.TYPES.NUMBERS"></span>
                <span class="worksheettype" ng-if="worksheet.type === 'sounds'" translate="WORKSHEETS.TYPES.SOUNDS"></span>
                <span class="worksheettype" ng-if="worksheet.type === 'faces'" translate="WORKSHEETS.TYPES.FACES"></span>
            </div>
        </div>
        <div class="cardfooter">
            <div class="maketype" ng-repeat="maketype in worksheet.maketypes">
                <img ng-if="maketype === 'scratch2'"
                     src="static/images/logo-small-scratch2.png"
                     alt="{{ 'WORKSHEETS.MAKETYPES.SCRATCH_WORKSHEET' | translate }}"
                     title="{{ 'WORKSHEETS.MAKETYPES.SCRATCH_WORKSHEET' | translate }}"/>
                <img ng-if="maketype === 'scratch3'"
                     src="static/images/logo-small-scratch3.png"
                     alt="{{ 'WORKSHEETS.MAKETYPES.SCRATCH_WORKSHEET' | translate }}"
                     title="{{ 'WORKSHEETS.MAKETYPES.SCRATCH_WORKSHEET' | translate }}"/>
                <img ng-if="maketype === 'python'"
                     src="static/images/logo-small-python.png"
                     alt="{{ 'WORKSHEETS.MAKETYPES.PYTHON_WORKSHEET' | translate }}"
                     title="{{ 'WORKSHEETS.MAKETYPES.PYTHON_WORKSHEET' | translate }}"/>
                <img ng-if="maketype === 'appinventor'"
                     src="static/images/logo-small-appinventor.png"
                     alt="{{ 'WORKSHEETS.MAKETYPES.APPINVENTOR' | translate }}"
                     title="{{ 'WORKSHEETS.MAKETYPES.APPINVENTOR' | translate }}"/>
            </div>
            <div class="tags" ng-hide="worksheet.providedby"><span class="heading">Tags:</span> {{ worksheet.tags.join(', ') }}</div>
            <div class="tags" ng-if="worksheet.providedby"><span class="heading">Provided by:</span> <a target="_blank" href="{{ worksheet.providedby.url }}">{{ worksheet.providedby.name }}</a></div>
            <div class="download">
                <a ng-click="vm.downloadWorksheet($event, worksheet)" class="btn btn-primary">
                    <span class="glyphicon glyphicon-download-alt"> </span> {{ 'WORKSHEETS.DOWNLOAD' | translate }}
                </a>
            </div>
        </div>
    </div>
    <div ng-if="filteredWorksheets.length === 0" class="modelguidancecontainer">
        <div class="modelguidance">
            <p translate="WORKSHEETS.NO_WORKSHEETS.NO_MATCHES"></p>
            <p translate="WORKSHEETS.NO_WORKSHEETS.MAKE_YOUR_OWN"></p>
            <p translate="WORKSHEETS.NO_WORKSHEETS.CONTRIBUTE"></p>
        </div>
    </div>
</div>
