.worksheetsintro {
    font-size: 1.2em;
    margin: 1em 3em;
}

.worksheetsintro .small {
    font-size: 0.9em;
}

.worksheetfilters {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.worksheetfilters .filter {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    margin: 1em;
    min-width: 300px;
}

.worksheets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
}

.worksheetcard {
    border-radius: 1em;
    background-color: #eee;
    margin: 14px;
    padding: 8px;

    display: flex;
    flex-direction: column;
}

.worksheetcard .title {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.worksheetcard .summary {
    font-size: 1em;
}

.worksheetcard .description {
    font-size: 1.1em;
    padding-bottom: 0.2em;
    font-weight: 500;
}

.worksheetcard img {
    margin-top: 1em;
    width: 100%;
    border: thin #aaa solid;
}

.worksheetcard .cardmain {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}

.worksheetcard .cardmain .info {
    margin-right: 8px;
}

.worksheetcardembeddiv {
    padding: 56.25% 0 0 0;
    position: relative;
}
.worksheetcardembeddiv iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* *************************************/
/*     ONE column     (vertical cards) */
/* *************************************/
@media (max-width: 450px) {

    .worksheetcard {
        width: 100%;
    }
    .worksheetcard .cardmain {
        flex-direction: column;
    }
}

/* *************************************/
/*     ONE column   (horizontal cards) */
/* *************************************/
@media (min-width: 450px) and (max-width: 600px) {

    .worksheetcard {
        width: 100%;
    }
    .worksheetcard .cardmain {
        flex-direction: row;
    }
}

/* *************************************/
/*     TWO columns    (vertical cards) */
/* *************************************/
@media (min-width: 600px) and (max-width: 770px) {

    .worksheetcard {
        width: calc(50% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: column;
    }
}

/* *************************************/
/*     TWO columns  (horizontal cards) */
/* *************************************/
@media (min-width: 770px) and (max-width: 960px) {

    .worksheetcard {
        width: calc(50% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: row;
    }
}

/* *************************************/
/*     THREE columns  (vertical cards) */
/* *************************************/
@media (min-width: 960px) and (max-width: 1100px) {

    .worksheetcard {
        width: calc(33.3% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: column;
    }
}

/* *************************************/
/*    THREE columns (horizontal cards) */
/* *************************************/
@media (min-width: 1100px) and (max-width: 1400px) {

    .worksheetcard {
        width: calc(33.3% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: row;
    }
}

/* *************************************/
/*     FOUR columns   (vertical cards) */
/* *************************************/
@media (min-width: 1400px) and (max-width: 1600px) {

    .worksheetcard {
        width: calc(25% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: column;
    }
}


/* *************************************/
/*    FOUR columns  (horizontal cards) */
/* *************************************/
@media (min-width: 1600px) and (max-width: 2100px) {

    .worksheetcard {
        width: calc(25% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: row;
    }
}

/* *************************************/
/*     FIVE columns   (vertical cards) */
/* *************************************/
@media (min-width: 2100px) {

    .worksheetcard {
        width: calc(20% - 28px);
    }
    .worksheetcard .cardmain {
        flex-direction: column;
    }
}

/* *************************************/



.worksheetcard .cardfooter {
    display: flex;
    flex-direction: row;
    margin-top: 0.6em;
}

.worksheetcard .cardfooter .maketype {
    padding-left: 2px;
    padding-right: 5px;
}

.worksheetcard .cardfooter .maketype img {
    border: thin #555555 solid;
    width: 32px;
    height: 32px;
}

.worksheetcard .cardfooter span.heading {
    font-size: 0.8em;
    color: #555555;
}

.worksheetcard .cardfooter .difficulty {
    text-align: left;
    margin-right: auto;
    margin-left: 2px;
}
.worksheetcard .cardfooter .projecttype {
    text-align: right;
    margin-left: auto;
}

.worksheetcard .download {
    margin-left: 0.7em;
    margin-top: auto;
}

.worksheetcard .download .btn {
    font-size: 0.8em;
}

.worksheetcard .cardfooter .tags {
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.worksheettype {
    color: #00008b;
    font-weight: bold;
}
