<md-dialog aria-label="Modify Watson Assistant API key" style="max-width: 98%; max-height: 95%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Modify Watson Assistant credentials</h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="modifyCredentials"
            ng-submit="confirm({ credstype : credstype })">
        <md-dialog-content>
            <div layout="column">
                <div layout="row">
                    <div style="width: 380px; padding: 1em;">
                        <div style="padding-right: 1em;">
                            Limits on models that can be trained
                            are enforced by IBM Cloud (not Machine Learning
                            for Kids).
                        </div>
                        <div style="padding-right: 1em;">
                            Answering this question is only used to display the
                            correct limit on the number of models.
                        </div>

                        <hr/>

                        <div style="margin-top: 1em; font-weight: bold;">
                            Which Pricing Plan did you use?
                        </div>
                        <div style="margin-top: 0.2em; margin-left: 1em;">
                            <md-radio-group ng-model="credstype" ng-required="true">
                                <md-radio-button value="conv_lite" class="md-primary">Lite <em>(free)</em></md-radio-button>
                                <md-radio-button value="conv_standard" class="md-primary">Standard <em>(paid)</em></md-radio-button>
                                <md-radio-button value="conv_plus" class="md-primary">Plus <em>(paid)</em></md-radio-button>
                                <md-radio-button value="conv_plustrial" class="md-primary">Plus Trial <em>(free)</em></md-radio-button>
                            </md-radio-group>
                        </div>

                        <hr/>

                    </div>
                    <div class="additionalDialogInfo">
                        <div style="font-style: italic; padding: 0.5em; margin: 0.5em; border: thin #3C70B1 solid; background-color: #EAEBF0; font-size: 0.7em;">
                            This screenshot is intended to be illustrative only. Refer to IBM Cloud
                            for current details of pricing plans.
                        </div>
                        <img ng-hide="credstype !== 'unknown'"        src="static/images/modifycreds-conv_lite.png" style="width: 100%" class="dialoghelpimages" alt="screenshot of the Watson Assistant screen"/>
                        <img ng-hide="credstype !== 'conv_lite'"      src="static/images/modifycreds-conv_lite.png" style="width: 100%" class="dialoghelpimages" alt="screenshot of the Watson Assistant screen"/>
                        <img ng-hide="credstype !== 'conv_standard'"  src="static/images/modifycreds-conv_standard.jpg" style="width: 100%" class="dialoghelpimages" alt="screenshot of the Watson Assistant screen"/>
                        <img ng-hide="credstype !== 'conv_plus'"      src="static/images/modifycreds-conv_plus.png" style="width: 100%" class="dialoghelpimages" alt="screenshot of the Watson Assistant screen"/>
                        <img ng-hide="credstype !== 'conv_plustrial'" src="static/images/modifycreds-conv_plustrial.png" style="width: 100%" class="dialoghelpimages" alt="screenshot of the Watson Assistant screen"/>
                    </div>
                </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="credstype === currentcredstype">OK</md-button>
                    <md-button ng-click="cancel()">Cancel</md-button>
                </md-dialog-actions>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
