<md-dialog aria-label="Add new label" class="newtrainingdatadialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="TRAINING.ADDLABEL"></h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newLabel" ng-submit="confirm(newlabel)">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 300px">
                <md-card-content>
                    <div layout="row">
                        <md-input-container style="min-width: 280px">
                            <label translate="TRAINING.NEWLABEL.INTRO"></label>

                            <input type="text" name="text"
                                   md-autofocus
                                   ng-required="true"
                                   ng-pattern="/^[ \w.-]+$/"
                                   ng-model="newlabel"
                                   placeholder="label"
                                   md-maxlength="30"></input>
                            <div  ng-messages="newLabel.text.$error" ng-show="newLabel.text.$touched">
                                <div ng-message="pattern" translate="TRAINING.NEWLABEL.ERROR"></div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="newLabel.$invalid" translate="APP.ADD"></md-button>
            <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
