<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated" ignore-drop>
    <div class="jumbotron training">
        <h2 class="text-center" ng-if="!project" translate="TRAINING.TITLE"></h2>
        <div class="mlprojectdescription" ng-if="project">
            <span ng-hide="project.type === 'regression'" translate="PROJECTS.RECOGNISING"></span>
            <span ng-if="project.type === 'regression'" translate="PROJECTS.PREDICTING"></span>
            <span class="mlprojecttype"
                  ng-if="project.type === 'text'"
                  translate="WORKSHEETS.TYPES.TEXT"></span>
            <span class="mlprojecttype"
                  ng-if="project.type === 'imgtfjs'"
                  translate="WORKSHEETS.TYPES.IMAGES"></span>
            <span class="mlprojecttype"
                  ng-if="project.type === 'sounds'"
                  translate="WORKSHEETS.TYPES.SOUNDS"></span>
            <span class="mlprojecttype"
                  ng-if="project.type === 'numbers'"
                  translate="WORKSHEETS.TYPES.NUMBERS"></span>
            <span ng-if="project.labelsSummary" ng-hide="project.type === 'regression'" translate="PROJECTS.AS"></span>
            <span ng-if="project.labelsSummary">
                <span class="mlprojectlabels">{{ project.labelsSummary }}</span>
            </span>
            <span ng-if="columnsSummary">
                {{ columnsSummary }}
            </span>
        </div>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId })" translate="APP.BACKTOPROJECT" ng-hide="reviewing"></a>
    </div>

    <div ng-repeat="error in vm.errors track by $index" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings track by $index" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project">
        <div class="newlabelbuttons" ng-hide="reviewing || project.type === 'regression'">
            <div class="newlabelbutton" ng-click="vm.addLabel($event)" ng-hide="crowdSourced">
                <div class="newlabelicon">+</div>
                <div class="newlabellabel" translate="TRAINING.ADDLABEL"></div>
            </div>
            <div class="alert alert-info pageheadermsg page-header-alert-info"
                 ng-if="project.labels.length === 0 && !crowdSourced">
                {{ 'TRAINING.CREATEFIRSTLABEL' | translate }}
                <span class="glyphicon glyphicon-arrow-right"></span>
            </div>
            <div class="alert alert-info pageheadermsg page-header-alert-info"
                 ng-if="project.labels.length === 0 && crowdSourced"
                 translate="TRAINING.CROWDSOURCEDEMPTY"></div>
        </div>

        <div class="trainingbuckets" ng-hide="project.type == 'regression'">
            <div class="trainingbucket" ng-repeat="label in project.labels track by label">
                <div class="trainingbucketheader">
                    <span class="trainingbucketlabel">{{ ::(label === '_background_noise_' ? 'background noise' : label) }}</span>
                </div>
                <span class="glyphicon glyphicon-remove-circle deletelabel"
                      aria-hidden="true"
                      ng-hide="reviewing || crowdSourced || label === '_background_noise_'"
                      ng-click="vm.deleteLabel($event, label, $index)"></span>
                <div class="trainingbucketitems" ng-if="project.type === 'text'">
                    <div class="loading loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label] track by item.id" ng-class="{ placeholder : item.isPlaceholder }" id="{{item.id}}">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-click="vm.deleteText(label, item, $index)"
                              ng-hide="reviewing"
                              ng-if="!item.isPlaceholder"></span>
                        {{ ::item.textdata }}
                    </div>
                </div>
                <div class="trainingbucketitems" ng-if="project.type === 'numbers'">
                    <div class="loading loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label] track by item.id" ng-class="{ placeholder : item.isPlaceholder }"  id="{{item.id}}">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-click="vm.deleteText(label, item, $index)"
                              ng-hide="reviewing"
                              ng-if="!item.isPlaceholder"></span>
                        <table>
                            <tr ng-repeat="field in project.fields track by field.name">
                                <td class="numberdatalabel"> {{ ::field.name }} </td>
                                <td class="numberdatavalue" ng-if="project.fields[$index].type === 'number'"> {{ ::item.numberdata[$index] }} </td>
                                <td class="numberdatavalue" ng-if="project.fields[$index].type === 'multichoice'"> {{ ::project.fields[$index].choices[item.numberdata[$index]] }} </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="trainingbucketitems" ng-if="project.type === 'imgtfjs'" ml-image-loader>
                    <div class="loading loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="dragprompt" ng-hide="loadingtraining || training[label].length > 0">{{ ::(project.storage === 'local' ? 'TRAINING.DRAGIMAGESLOCAL' : 'TRAINING.DRAGIMAGES') | translate }}</div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label] track by item.id" id="{{item.id}}" ng-class="{ error : item.loadingFailed }">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-hide="reviewing"
                              ng-click="vm.deleteText(label, item, $index)"></span>
                        <!-- hosted images need to be fetched using the httpSrc directive so that an auth header is included -->
                        <img ng-if="item.imageurl && item.imageurl.substring(0, 4) === '/api'"
                             http-src="{{ ::item.imageurl }}"
                             class="trainingImageThumbnail"
                             alt="{{ ::item.imageurl }}"
                             ml-image-on-error="vm.onImageError(item)">
                        <!-- public images can be fetched by the browser - using ngSrc to set the img.src value in a safe way -->
                        <img ng-if="item.imageurl && item.imageurl.substring(0, 4) !== '/api'"
                             ng-src="{{ ::item.imageurl }}"
                             class="trainingImageThumbnail"
                             alt="{{ ::item.imageurl }}"
                             ml-image-on-error="vm.onImageError(item)">
                    </div>
                </div>
                <div class="trainingbucketitems" ng-if="project.type === 'sounds'">
                    <div ng-if="label === '_background_noise_'" translate="TRAINING.BACKGROUNDNOISE"></div>
                    <div class="loading loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label] track by item.id" ng-class="{ placeholder : item.isPlaceholder }" id="{{item.id}}">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-click="vm.deleteText(label, item, $index)"
                              ng-hide="reviewing"
                              ng-if="!item.isPlaceholder"></span>
                        <mlsoundvis ng-if="project.type === 'sounds' && item.audiodata" spectogram="item.audiodata" modelinfo="soundModelInfo" datatype="'sounds'"></mlsoundvis>
                        <div class="loading loadingtraining loadingsoundstraining" ng-hide="item.audiodata"></div>
                    </div>
                </div>
                <div class="newexamplesbuttonbar" ng-hide="reviewing">
                    <div class="btn newexamplebutton" ng-click="vm.addTrainingData($event, label)" ng-if="project.type === 'text' || project.type === 'numbers'">
                        <div class="newexampleicon">+</div>
                        <div class="newexamplelabel" translate="TRAINING.ADDEXAMPLE"></div>
                    </div>
                    <label class="btn newexamplebutton" for="text-file-upload-{{$index}}" ng-if="project.type === 'text' && project.storage === 'local'">
                        <div class="thin buttonicon glyphicon glyphicon-open-file"></div>
                        <div class="newexamplelabel" translate="TRAINING.ADDFROMFILE"></div>
                    </label>
                    <input id="text-file-upload-{{$index}}" ng-if="project.type === 'text' && project.storage === 'local'"
                        type="file"
                        accept=".txt"
                        data-label="{{ ::label }}"
                        onchange="angular.element(this).scope().uploadTrainingData(event, this)"/>
                    <label class="btn newexamplebutton" for="numbers-file-upload-{{$index}}" ng-if="project.type === 'numbers' && project.storage === 'local'">
                        <div class="thin buttonicon glyphicon glyphicon-open-file"></div>
                        <div class="newexamplelabel" translate="TRAINING.ADDFROMFILE"></div>
                    </label>
                    <input id="numbers-file-upload-{{$index}}" ng-if="project.type === 'numbers' && project.storage === 'local'"
                        type="file"
                        accept=".csv"
                        data-label="{{ ::label }}"
                        onchange="angular.element(this).scope().uploadTrainingData(event, this)"/>
                    <div class="btn newexamplebutton" ng-if="(project.type === 'text' || project.type === 'numbers') && training[label].length > 0 " ng-click="downloadTrainingData($event, label)">
                        <div class="thin buttonicon glyphicon glyphicon-save-file"></div>
                        <div class="newexamplelabel" translate="WORKSHEETS.DOWNLOAD"></div>
                    </div>
                    <div class="btn newexamplebutton" ng-click="vm.addTrainingData($event, label)" ng-if="project.type === 'imgtfjs'">
                        <div class="newexamplelabel">
                            &nbsp;
                            <span class="glyphicon glyphicon-link"></span>
                            {{ 'TRAINING.ADDURL' | translate }}
                        </div>
                    </div>
                    <div class="btn newexamplebutton" ng-click="vm.useWebcam($event, label)" ng-if="project.type === 'imgtfjs'">
                        <div class="newexamplelabel">
                            &nbsp;
                            <span class="glyphicon glyphicon-camera"></span>
                            {{ 'TRAINING.ADDWEBCAM' | translate }}
                        </div>
                    </div>
                    <div class="btn newexamplebutton" ng-click="vm.useCanvas($event, label)" ng-if="project.type === 'imgtfjs'">
                        <div class="newexamplelabel">
                            &nbsp;
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{ 'TRAINING.ADDDRAWING' | translate }}
                        </div>
                    </div>
                    <label class="btn newexamplebutton" for="image-file-upload-{{$index}}" ng-if="project.type === 'imgtfjs' && project.storage === 'local'">
                        <div class="thin buttonicon glyphicon glyphicon-open-file"></div>
                        <div class="newexamplelabel">file</div>
                    </label>
                    <input id="image-file-upload-{{$index}}" ng-if="project.type === 'imgtfjs' && project.storage === 'local'"
                        type="file"
                        accept=".jpeg,.jpg,.png"
                        multiple
                        data-label="{{ ::label }}"
                        onchange="angular.element(this).scope().uploadTrainingData(event, this)"/>
                    <div class="btn newexamplebutton" ng-click="vm.useMicrophone($event, label)" ng-if="project.type === 'sounds'" ng-disabled="loadingtraining">
                        <div class="newexampleicon">+</div>
                        <div class="newexamplelabel" translate="TRAINING.ADDEXAMPLE"></div>
                    </div>
                </div>
                <div class="trainingcountlabel" ng-if="training[label].length > 0">{{ training[label].length }}</div>
            </div>
        </div>
        <div class="trainingbuckets regression" ng-if="project.type === 'regression'">
            <div class="trainingbucket">
                <div class="trainingbucketheader">
                    <span class="trainingbucketlabel">examples</span>
                </div>
                <div class="loading loadingtraining" ng-if="loadingtraining"> </div>
                <mldatatable
                    ng-hide="loadingtraining"
                    class="trainingbucketitems"
                    on-delete-item="vm.deleteRegressionItem"
                    on-columns-changed="vm.onColumnsChanged"
                    mode="regressionmode" set-mode="vm.setRegressionMode"
                    project="project" training="training"></mldatatable>
                <div class="newexamplesbuttonbar" ng-hide="regressionmode === 'selectcolumns' || loadingtraining">
                    <div class="btn newexamplebutton" ng-click="vm.setRegressionMode('selectcolumns')" ng-if="project.columns.length > 1">
                        <div class="buttonicon glyphicon glyphicon-check"></div>
                        <div class="newexamplelabel">Change output column(s)</div>
                    </div>
                    <div class="btn newexamplebutton" ng-if="training.length === 0" ng-click="vm.addRegressionColumn($event)">
                        <div class="buttonicon glyphicon glyphicon-pencil"></div>
                        <div class="newexamplelabel">Add column</div>
                    </div>
                    <label class="btn newexamplebutton" for="regression-file-upload" ng-hide="project.columns.length === 1">
                        <div class="buttonicon glyphicon glyphicon-open-file"></div>
                        <div class="newexamplelabel">Upload CSV</div>
                    </label>
                    <div class="btn newexamplebutton" ng-if="training.length > 0" ng-click="downloadTrainingData($event)">
                        <div class="buttonicon glyphicon glyphicon-save-file"></div>
                        <div class="newexamplelabel">Download CSV</div>
                    </div>
                    <div class="btn newexamplebutton" ng-if="training.length > 0" ng-click="vm.deleteAllRegression($event)">
                        <div class="buttonicon glyphicon glyphicon-remove"></div>
                        <div class="newexamplelabel">Delete all</div>
                    </div>

                    <input id="regression-file-upload"
                        type="file"
                        accept=".csv"
                        onchange="angular.element(this).scope().uploadTrainingData(event)"/>
                </div>
                <div class="trainingcountlabel">{{ training.length }}</div>
            </div>
        </div>
    </div>

    <div ng-if="!projectId" class="alert alert-danger pageheadermsg">
        <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
    </div>
</div>
