.describemodelloss .describeintro {
    padding: 20px;
    background-color: #f8f9fa;
    margin: 20px;
    border-radius: 8px;
}

.describemodelloss .visualization-section {
    margin: 20px;
}

.describemodelloss .visualization-section h3 {
    color: #337;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
}

.describemodelloss .visualization-section h4 {
    color: #333;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.3em;
}

.describemodelloss .losschart-container {
    margin-bottom: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

@media (min-width: 550px) {
    .describemodelloss .losschart-container {
        padding: 20px;
    }
}

.describemodelloss .losschart-container > mllinechart {
    flex: 1 50%;
    min-width: min(500px, 100%);
}

.describemodelloss .losschart-container > div {
    flex: 1 1 300px;
    min-width: 250px;
}

.describemodelloss .losschart-container > div > div {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

.describemodelloss .losschart-container > div > div:last-child {
    margin-bottom: 0;
}
