.menucontainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mlprojectmenu {
    flex: 1;
    background-color: #eeeeee;
    border-radius: 2em;
    width: 40%;
    margin: 1%;
    padding: 2em;
    position: relative;
    min-width: 300px;
}

.mlprojectmenuexpanded {
    flex: 2;
    background-color: #eeeeee;
    border-radius: 2em;
    width: 80%;
    margin: 1%;
    padding: 2em;
    position: relative;
    min-width: 350px;
}

.mlprojectmenutitle {
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
}

.mlprojectmenudescription {
    padding-top: 1em;
    font-size: 1.2em;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    height: 120px;
}

.mlprojectmenubutton {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.mlprojectmenubutton button {
    width: 240px;
}
