.menucontainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 560px) {
    .menucontainer {
        width: 90%;
    }
}

.mlprojectmenu {
    flex: 1;
    background-color: #eeeeee;
    border-radius: 2em;
    width: 40%;
    margin: 12px;
    padding: 2em;
    position: relative;
    min-width: 300px;
}

.mlprojectmenuexpanded {
    flex: 2;
    background-color: #eeeeee;
    border-radius: 2em;
    width: 80%;
    margin: 12px;
    padding: 2em;
    position: relative;
    min-width: 350px;
}

.mlprojectmenutitle {
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
}

.mlprojectmenudescription {
    padding-top: 1em;
    font-size: 1.2em;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    height: 120px;
}

.mlprojectmenubutton {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.mlprojectmenubutton button {
    width: 240px;
}


@media (min-width: 500px) {
    .mlprojectpage .advanced,
    .adminpage .advanced {
        margin: 5em 2em 1em 2em;
        padding: 1em 2em;
    }
    .advanced .mlprojectmenu {
        max-width: 300px;
    }
}
@media (max-width: 500px) {
    .mlprojectpage .advanced,
    .adminpage .advanced {
        margin: 5em 0 1em 0;
        padding: 1em;
    }
}

.advanced .mlprojectmenu {
    font-size: 0.85em;
}

.advanced .mlprojectmenudescription {
    height: 80px;
}

.mlprojectpage .advancedMenu,
.adminpage .advancedMenu {
    background-color: #eeeeee;
    padding: 0.5em;
}

.mlprojectpage .advancedMenu .glyphicon,
.adminpage .advancedMenu .glyphicon {
    margin-right: 9px;
}

.mlprojectpage .collapsable,
.adminpage .collapsable {
    transition: all .4s ease-in-out;
    min-height: 20px;
    overflow: hidden;
    background-color: #f9f9ff;
}
.mlprojectpage .collapsable.expanded,
.adminpage .collapsable.expanded {
    padding-bottom: 2em;
}
.mlprojectpage .collapsable.collapsed,
.adminpage .collapsable.collapsed {
    height: 0;
    min-height: 0;
}
