<div ng-if="!isAuthenticated">
    <h2 class="text-center">Not authenticated</h2>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div class="jumbotron">
        <h2 class="text-center">Your machine learning project</h2>
    </div>
    <div class="menucontainer">
        <div class="mlprojectmenu" ui-sref="mlproject_training({ projectId : projectId })">
            <div class="mlprojectmenutitle">Train</div>
            <div class="mlprojectmenudescription">Collect examples that we can use to train the computer</div>
        </div>
        <div class="mlprojectmenu" ui-sref="mlproject_models({ projectId : projectId })">
            <div class="mlprojectmenutitle">Models</div>
            <div class="mlprojectmenudescription">Train computer using examples you've collected</div>
        </div>
        <div class="mlprojectmenu" ui-sref="mlproject_test({ projectId : projectId })">
            <div class="mlprojectmenutitle">Test</div>
            <div class="mlprojectmenudescription">Test the computer to see how your training is going</div>
        </div>
        <div class="mlprojectmenu" ui-sref="mlproject_scratch({ projectId : projectId })">
            <div class="mlprojectmenutitle">Scratch</div>
            <div class="mlprojectmenudescription">Use your trained model in a Scratch project</div>
        </div>
    </div>
    <div class="text-center" ng-if="!projectId">
        missing projectid - you should probably go back to <a ui-sref="projects">Projects</a>
    </div>
</div>
