<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert">
    <strong>Error:</strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500">If this keeps happening, please <a ui-sref="help">let me know</a>.</em>
</div>
<div ng-if="isAuthenticated && projectId && !failure" class="mlprojectpage">
    <div class="jumbotron">
        <h2 class="text-center">"{{ project.name }}"</h2>
    </div>
    <div class="menucontainer">
        <div class="mlprojectmenu">
            <div class="mlprojectmenutitle" translate="PROJECT.TRAIN.TITLE"></div>
            <div class="mlprojectmenudescription" translate="PROJECT.TRAIN.BODY"></div>
            <div class="mlprojectmenubutton">
                <button type="button" class="btn btn-primary"
                        ui-sref="mlproject_training({ projectId : projectId, userId : userId })"
                        translate="PROJECT.TRAIN.TITLE"></button>
            </div>
        </div>
        <div class="mlprojectmenu">
            <div class="mlprojectmenutitle" translate="PROJECT.LEARNANDTEST.TITLE"></div>
            <div class="mlprojectmenudescription">{{ 'PROJECT.LEARNANDTEST.BODY' | translate }} {{ project.type }}.</div>
            <div class="mlprojectmenubutton">
                <button type="button" class="btn btn-primary"
                        ui-sref="mlproject_models({ projectId : projectId, userId : userId })"
                        translate="PROJECT.LEARNANDTEST.TITLE"></button>
            </div>
        </div>
        <div class="mlprojectmenuexpanded">
            <div class="mlprojectmenutitle" translate="PROJECT.SCRATCH.TITLE"></div>
            <div class="mlprojectmenudescription" translate="PROJECT.SCRATCH.BODY"></div>
            <div class="mlprojectmenubutton">
                <button type="button" class="btn btn-primary"
                        ui-sref="mlproject_scratch({ projectId : projectId, userId : userId })"
                        translate="PROJECT.SCRATCH.TITLE"></button>
            </div>
        </div>
    </div>
    <div class="advanced">
        <div ng-init="advancedClosed = true" ng-click="advancedClosed = !advancedClosed" class="advancedMenu">
            <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right' : advancedClosed, 'glyphicon-chevron-down' : !advancedClosed }"> </span>
            <span translate="PROJECT.ADVANCED"></span>
        </div>
        <div ng-class="{ collapsed : advancedClosed, expanded : !advancedClosed }" class="collapsable">
            <div class="menucontainer" >
                <div class="mlprojectmenu">
                    <div class="mlprojectmenutitle" translate="PROJECT.PYTHON.TITLE"></div>
                    <div class="mlprojectmenudescription" translate="PROJECT.PYTHON.BODY"></div>
                    <div class="mlprojectmenubutton">
                        <button type="button" class="btn btn-primary"
                                ui-sref="mlproject_python({ projectId : projectId, userId : userId })"
                                translate="PROJECT.PYTHON.TITLE"></button>
                    </div>
                </div>
                <div class="mlprojectmenu">
                    <div class="mlprojectmenutitle" translate="PROJECT.APPINVENTOR.TITLE"></div>
                    <div class="mlprojectmenudescription"><span class="badge">Idea</span> <span translate="PROJECT.APPINVENTOR.BODY"></span></div>
                    <div class="mlprojectmenubutton">
                        <button type="button" class="btn btn-primary"
                                ng-click="vm.appInventor($event)"
                                translate="PROJECT.APPINVENTOR.TITLE"></button>
                    </div>
                </div>
                <div class="mlprojectmenu" ng-if="project.type === 'text' || project.type === 'numbers'">
                    <div class="mlprojectmenutitle" translate="PROJECT.SCRATCH3.TITLE"></div>
                    <div class="mlprojectmenudescription"><span class="badge">Beta</span> <span translate="PROJECT.SCRATCH3.BODY"></span></div>
                    <div class="mlprojectmenubutton">
                        <button type="button" class="btn btn-primary"
                                ui-sref="mlproject_scratch3({ projectId : projectId, userId : userId })"
                                translate="PROJECT.SCRATCH3.TITLE"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong>Error:</strong> Missing project id. Go back to <a ui-sref="projects">your projects</a>
</div>
