.loginPage {
    margin: 0 auto 3em auto;
    background: #dcdce0;
    border-radius: 1em;
    padding: 3em;
    max-width: 700px;
}

.loginPage.loginPageWide,
.loginPageFooter.loginPageWide {
    max-width: none;
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 450px) {
    .loginPage.loginPageWide,
    .loginPageFooter.loginPageWide {
        margin-left: 0;
        margin-right: 0;
    }
    .loginPage {
        padding: 1em;
    }

    .loginPage .loginInfoGrid {
        font-size: 0.7em;
        width: 100%;
    }
}


.loginPage .loginItem {
    display: flex;
    flex-wrap: wrap;
}

.loginPage .loginItem > label {
    font-size: 1.5em;
    flex-grow: 2;
    min-width: 330px;
}

.loginPage .loginItem > button {
    flex-grow: 1;
    min-width: 200px;
}

.loginPage .login-button {
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1em;
}

.loginPage .signup-button {
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 1em;
    margin-left: 1em;
}

.loginPage .loginInfoLink {
    margin-top: 0.8em;
    margin-bottom: 3em;
}
.loginPage a {
    text-decoration: underline;
    color: #304ab4;
    font-size: 1.1em;
}

.loginPage .loginButtonInfo {
    text-align: right;
}

.loginPage hr {
    border: 1px solid #888888;
    margin-bottom: 4em;
}

.loginPage .loginHeading {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 0.6em;
}
.loginPage .loginInfo {
    font-size: 1.3em;
    margin-bottom: 2em;
}
.loginPage .loginSubheading {
    font-weight: bold;
    font-size: 1.4em;
}

.loginPage .wideLoginButton {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}
.loginPage .wideLoginButton > button {
    flex-grow: 1;
    font-weight: bold;
    font-size: 1.1em;
}

.loginPage .loginInfoGrid {
    width: 100%;
}

table.loginInfoGrid th,
table.loginInfoGrid td {
    border: thin black solid;
    border-collapse: collapse;
}

.loginInfoGrid th,
.loginInfoGrid td {
    padding: 1em;
}

.loginInfoGrid th {
    text-align: center;
    background-color: #eeeeee;
}

.loginInfoGrid .loginInfoGridLabel {
    background-color: #B0C4DE;
    font-weight: bold;
}

.loginInfoGridSubItem {
    text-align: right;
    color: darkblue;
    font-weight: bold;
    font-size: 1.1em;
}

.loginInfoGridCheck {
    text-align: center;
    font-size: 1.2em;
    padding: 0.8em;
    font-weight: normal;
    background-color: white;
}

.loginInfoCaveat {
    margin-top: 6px;
    margin-bottom: -17px;
    font-size: 50%;
}

.glyphicon.glyphicon-ok.greencheck {
    color: green;
}


.loginPage .loginType {
    flex: 1;
    min-width: 350px;
    border: thin #2e6da4 solid;
    padding: 1em;
}

@media (max-width: 550px) {
    .loginPage .loginType {
        margin-bottom: 2em
    }
}

@media (min-width: 550px) {
    .loginPage .loginType {
        margin:1em
    }
}

.loginPage .loginType .loginNewClassType {
    text-align: center;
    background-color: #eeeeee;
    padding: 0.8em;
}

.loginPage .loginType .loginNewClassInfo {
    font-size: 1em;
    margin: 1em 0;
}

.loginPage .loginType .loginNewClassButton {
    text-align: center;
}

.loginPageFooter {
    margin: 0 auto 3em auto;
    max-width: 700px;
    text-align: right;
    font-size: 0.8em;
}


.md-dialog-content .outofoffice {
    max-width: 400px;
    margin-bottom: 1em;
}