<md-dialog aria-label="Request new managed class account" class="newtrainingdatadialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="SIGNUP.MANAGED.TITLE"></h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card-content style="color: #606060;">
                <p>
                    If you are a teacher or run a not-for-profit coding group, I am happy to setup a class account for you.
                </p>
                <p>
                    You can ask me to do this by emailing me at <strong>dale.lane@uk.ibm.com</strong>
                </p>
                <p>
                    <strong>You must include this information in your email:</strong>
                </p>
                <p>
                    <ul>
                        <li>your name</li>
                        <li>your role or title in the school or coding group</li>
                        <li>the name of your school or coding group</li>
                        <li>the web address for your school or coding group</li>
                        <li>the number of students you want to use Machine Learning for Kids</li>
                    </ul>
                </p>
                <p>
                    (If you've already created an unmanaged account, please include the username you used. I can save time by converting your existing account rather than make you start again.)
                </p>
                <p>
                    --<br/>
                    Dale
                </p>
                <!--
                <p>
                    PS - Please give me a day or two to respond before you start chasing me.
                </p>
                -->
            </md-card-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" class="md-raised md-primary">OK</md-button>
    </md-dialog-actions>
</md-dialog>
