<md-dialog aria-label="Turnstile error help" class="newtrainingdatadialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="LOGIN.TURNSTILE_ERROR_DIALOG_TITLE"></h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card-content>
                <p translate="LOGIN.TURNSTILE_ERROR_DIALOG_INTRO"></p>
                <p translate="LOGIN.TURNSTILE_ERROR_DIALOG_WHY"></p>
                <ul>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_REASON_1"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_REASON_2"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_REASON_3"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_REASON_4"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_REASON_5"></li>
                </ul>
                <p translate="LOGIN.TURNSTILE_ERROR_DIALOG_TRY"></p>
                <ul>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_TIP_1"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_TIP_2"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_TIP_3"></li>
                    <li translate="LOGIN.TURNSTILE_ERROR_DIALOG_TIP_4"></li>
                </ul>
                <p translate="LOGIN.TURNSTILE_ERROR_DIALOG_ALTERNATIVE"></p>
            </md-card-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" class="md-raised md-primary">OK</md-button>
    </md-dialog-actions>
</md-dialog>
