<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert">
    <strong translate="APP.ERROR"></strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
</div>
<div ng-if="isAuthenticated && projectId && !failure" class="mlprojectpage">
    <div class="jumbotron">
        <h2 class="text-center">"{{ project.name }}"</h2>
    </div>
    <div class="menucontainer">
        <div class="mlprojectmenu">
            <div class="mlprojectmenutitle" translate="PROJECT.TRAIN.TITLE"></div>
            <div class="mlprojectmenudescription" translate="PROJECT.TRAIN.BODY"></div>
            <div class="mlprojectmenubutton">
                <button type="button" class="btn btn-primary"
                        ui-sref="mlproject_training({ projectId : projectId, userId : userId })"
                        translate="PROJECT.TRAIN.TITLE"></button>
            </div>
        </div>
        <div class="mlprojectmenu">
            <div class="mlprojectmenutitle" translate="PROJECT.LEARNANDTEST.TITLE"></div>
            <div class="mlprojectmenudescription">{{ 'PROJECT.LEARNANDTEST.BODY' | translate }} {{ project.type === 'imgtfjs' ? 'images' : project.type }}</div>
            <div class="mlprojectmenubutton">
                <button type="button" class="btn btn-primary"
                        ui-sref="mlproject_models({ projectId : projectId, userId : userId })"
                        translate="PROJECT.LEARNANDTEST.TITLE"></button>
            </div>
        </div>
        <div class="mlprojectmenuexpanded">
            <div class="mlprojectmenutitle" translate="PROJECT.MAKES.TITLE"></div>
            <div class="mlprojectmenudescription" translate="PROJECT.MAKES.BODY_SCRATCHONLY"
                 ng-if="!project || project.type === 'sounds'"></div>
            <div class="mlprojectmenudescription" translate="PROJECT.MAKES.BODY"
                 ng-if="project && project.type !== 'sounds'"></div>
            <div class="mlprojectmenubutton">
                <button type="button" class="btn btn-primary"
                        ui-sref="mlproject_makes({ projectId : projectId, userId : userId })"
                        translate="PROJECT.MAKES.TITLE"></button>
            </div>
        </div>
    </div>
</div>
<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>
