<md-dialog aria-label="Modify project expiry" class="expiry-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools"><h2>Change when models are deleted</h2></div>
    </md-toolbar>
    <form ng-cloak name="modifyExpiry" ng-submit="confirm({ textexpiry : textexpiry })">
        <md-dialog-content>
            <div layout="column">
                <div layout="row">
                    <div class="expiry-dialog-content">
                        <div class="expiry-text-padding">Machine learning models created by your students are temporary.  </div>
                        <div class="expiry-text-padding">You can control how long they will be available for here.</div>

                        <hr/>

                        <div class="expiry-section-heading">
                            Text projects
                        </div>
                        <div class="expiry-slider-container">
                            <md-slider ng-model="textexpiry" min="1" max="255" aria-label="blue" id="blue-slider" class="md-primary"></md-slider>
                            <div>Models deleted after <strong>{{ hoursfilter(textexpiry) }}</strong></div>
                        </div>

                        <hr/>

                    </div>
                    <div class="additionalDialogInfo">
                        <div class="expiry-info-box">
                            <div class="expiry-info-text" translate="HELP.TEACHERUI.Q4-A-1"></div>
                            <div class="expiry-info-text" translate="HELP.TEACHERUI.Q4-A-2"></div>
                            <div class="expiry-info-text" translate="HELP.TEACHERUI.Q4-A-3"></div>
                            <div translate="HELP.TEACHERUI.Q4-A-6"></div>
                        </div>
                    </div>
                </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="initialtextexpiry === textexpiry">Save</md-button>
                    <md-button ng-click="cancel()">Cancel</md-button>
                </md-dialog-actions>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
