<div class="jumbotron">
    <h2 class="text-center">Site admin</h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role === 'siteadmin'" class="adminpage">
    <div ng-if="!vm || !vm.tenants" class="loading"> </div>

    <div ng-if="vm && vm.tenants" class="siteadminfilters">
        <div class="adminfilter">
            <label for="filterManaged">Managed</label>
            <select name="filterManaged" ng-model="vm.filters.managed">
                <option value="all"></option>
                <option value="yes">managed</option>
                <option value="no">unmanaged</option>
            </select>
        </div>
        <div class="adminfilter">
            <label for="filterCreds">Bluemix</label>
            <select name="filterCreds" ng-model="vm.filters.credentials">
                <option value="all"></option>
                <option value="none">classes WITHOUT API keys</option>
                <option value="setup">classes WITH API keys</option>
            </select>
        </div>
        <div class="adminfilter">
            <label for="filterDemo">Demo accounts</label>
            <select name="filterDemo" ng-model="vm.filters.demo">
                <option value="all"></option>
                <option value="demo">demo only</option>
                <option value="exclude">exclude demo</option>
            </select>
        </div>
        <div class="adminfilter">
            <label for="filterActive">Active</label>
            <select name="filterActive" ng-model="vm.filters.active">
                <option value="all"></option>
                <option value="2018">logged in 2018</option>
                <option value="multiple">logged in more than once</option>
                <option value="once">logged in ever</option>
                <option value="never">never logged in</option>
            </select>
        </div>
        <div class="adminfilter">
            <label for="filterIbm">IBM</label>
            <select name="filterIbm" ng-model="vm.filters.ibm">
                <option value="all"></option>
                <option value="exclude">exclude IBMers</option>
                <option value="only">only IBMers</option>
            </select>
        </div>
        <div class="adminfilter">
            <label for="filterDale">Admins</label>
            <select name="filterDale" ng-model="vm.filters.dale">
                <option value="all"></option>
                <option value="exclude">exclude me</option>
            </select>
        </div>
    </div>
    <div class="siteadmincontrol">
        <button ng-click="vm.filters = { managed : 'all', credentials : 'setup', demo : 'all', active : 'once', ibm : 'all', dale : 'exclude' };">
            View active tenants</button>
        <button ng-click="vm.filters = { managed : 'all', credentials : 'all', demo : 'all', active : 'all', ibm : 'all', dale : 'all' };">
            Clear filters</button>
    </div>

    <table class="siteadmintable" width="100%" border=1 ng-if="vm && vm.tenants">
        <tr>
            <th></th>
            <th>
                ID
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'id'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-id'"></span>
            </th>
            <th>
                Created
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'supervisors[0].created'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-supervisors[0].created'"></span>
            </th>
            <th>Teacher</th>
            <th>Teacher email</th>
            <th>
                # logins
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'supervisors[0].logins_count'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-supervisors[0].logins_count'"></span>
            </th>
            <th>
                Last login
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'supervisors[0].last_login'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-supervisors[0].last_login'"></span>
            </th>
            <th>
                Managed
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'is_managed'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-is_managed'"></span>
            </th>
            <th>
                conv
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'credentials.conv'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-credentials.conv'"></span>
            </th>
            <th>
                visrec
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'credentials.visrec'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-credentials.visrec'"></span>
            </th>
            <th>
                API keys
                <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'credentials.total'"></span>
                <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-credentials.total'"></span>
            </th>
        </tr>
        <tr ng-repeat="tenant in vm.tenants | filter : vm.filter | orderBy : vm.orderBy">
            <td style="font-size: 0.7em"> {{ $index + 1 }} </td>
            <td> {{ tenant.id }} </td>
            <td> {{ tenant.supervisors[0].created | date : 'dd-MM-yyyy' }} </td>
            <td> {{ tenant.supervisors[0].username }} </td>
            <td> <a href="mailto:{{ tenant.supervisors[0].email }}">{{ tenant.supervisors[0].email }}</a> </td>
            <td> {{ tenant.supervisors[0].logins_count ? tenant.supervisors[0].logins_count : 0 }} </td>
            <td ng-if="tenant.supervisors[0].last_login"> {{ tenant.supervisors[0].last_login | date : 'dd-MM-yyyy' }} </td>
            <td ng-if="!tenant.supervisors[0].last_login"> </td>
            <td> {{ tenant.is_managed }} </td>
            <td> {{ tenant.credentials.conv }} </td>
            <td> {{ tenant.credentials.visrec }} </td>
            <td> {{ tenant.credentials.total }} </td>
        </tr>
    </table>

    <div class="siteadmincontrol">
        <h4>Mailing list</h4>
        <span ng-repeat="tenant in vm.tenants | filter : vm.filter">
            {{ tenant.supervisors[0].email }} ,
        </div>
    </div>

    <!--
    <div class="siteadmincontrol">
        <h4>Create managed tenant</h4>
        <div>
            <label for="newTenantName">Class ID: </label>
            <input name="newTenantName" ng-model="vm.newtenant.classid">
        </div>
        <div>
            <label for="newTenantUserName">Teacher username: </label>
            <input name="newTenantUserName" ng-model="vm.newtenant.username">
        </div>
        <div>
            <label for="newTenantEmail">Teacher email: </label>
            <input name="newTenantEmail" ng-model="vm.newtenant.email">
        </div>
        <div>
            <label for="newTenantText">Text</label>
            <input name="newTenantText" ng-model="vm.newtenant.projecttypes.text" type="checkbox">

            <label for="newTenantImages">Images</label>
            <input name="newTenantImages" ng-model="vm.newtenant.projecttypes.images" type="checkbox">

            <label for="newTenantNumbers">Numbers</label>
            <input name="newTenantNumbers" ng-model="vm.newtenant.projecttypes.numbers" type="checkbox">
        </div>
        <div>
            <label for="newTenantMaxUsers">Max users: </label>
            <input name="newTenantMaxUsers" ng-model="vm.newtenant.maxusers">
        </div>
        <button ng-click="vm.createManagedTenant()">Create</button>
    </div>
    -->
</div>
