#
# intentionally and manually installed
#

# REST API support
fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.21

# LRU cache
cachetools==6.2.4

# ML model support
ydf==0.12.0

# Visualisation support
scikit-learn==1.8.0
pydotplus==2.0.2
pandas==2.3.3

#
# dependencies automatically dragged in
#
matplotlib==3.10.8
numpy==2.4.0
