#
# intentionally and manually installed
#

# REST API support
fastapi==0.115.6
uvicorn==0.34.0
python-multipart==0.0.20

# LRU cache
cachetools==5.5.0

# ML model support
ydf==0.9.0

# Visualisation support
scikit-learn==1.6.1
pydotplus==2.0.2
pandas==2.2.3

#
# dependencies automatically dragged in
#
matplotlib==3.10.0
numpy==2.2.2
