<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>

<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>

<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert">
    <strong translate="APP.ERROR"></strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
</div>

<div ng-if="isAuthenticated && projectId">
    <div class="jumbotron">
        <h2 class="text-center" translate="PYTHON.REPLIT.TITLE"></h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId  })" translate="APP.BACKTOPROJECT"></a>
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project && project.labels.length <= 1" class="modelguidancecontainer">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="PYTHON.NOTREADY"></div>
            <div class="modelstatusdetail">
                Go to the <a ui-sref="mlproject_models({ projectId : projectId, userId : userId })" translate="PROJECT.LEARNANDTEST.TITLE"></a>
                page for some tips on what to do next.
            </div>
        </div>
    </div>

    <div class="modelguidancecontainer" ng-if="scratchkey && project && project.labels.length > 1">
        <div class="modelguidance" style="flex: 2">
            <div class="modelstatusdetail" translate="PYTHON.REPLIT.TIP"></div>
        </div>
        <div class="modelguidance">
            <div class="modelstatusdetail">
                <a target="_blank" class="btn btn-primary"
                    href="https://repl.it/@mlforkids/TextMLTemplate"
                    translate="PYTHON.REPLIT.GO"></a>
            </div>
        </div>
    </div>


    <!-- ************************************************* -->
    <!--  Add API key to template                          -->
    <!-- ************************************************* -->

    <div class="modelguidancecontainer" ng-if="scratchkey && project && project.labels.length > 1">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="PYTHON.APIKEY_INSTRUCTION"></div>
            <div class="modelstatusdetail"><em translate="PYTHON.APIKEY_WARNING"></em></div>
        </div>
        <div class="modelguidance" style="flex: 2">
            <div translate="PYTHON.REPLACE_THIS"></div>
            <div class="pythoncodebox"><pre class="pythoncode">API_KEY <span class="pythonop">=</span> &quot;<b>CHANGE THIS TO YOUR PROJECT API KEY</b>&quot;</pre></div>
            <div translate="PYTHON.WITH_THIS"></div>
            <div class="pythoncodebox"><pre class="pythoncode">API_KEY <span class="pythonop">=</span> &quot;<b>{{ scratchkey.id }}</b>&quot;</pre></div>
        </div>
    </div>


    <!-- ************************************************* -->
    <!--  Classify test data                               -->
    <!-- ************************************************* -->

    <div class="modelguidancecontainer" ng-if="scratchkey && project && project.labels.length > 1">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="PYTHON.RECOGNIZE.TEXT.INTRO"></div>
            <div class="modelstatusdetail" translate="PYTHON.RECOGNIZE.INSTRUCTION"></div>
        </div>
        <div class="modelguidance" style="flex: 2">
            <div translate="PYTHON.RECOGNIZE.TEXT.REPLACE"></div>
            <div class="pythoncodebox"><pre class="pythoncode">test_text <span class="pythonop">=</span> &quot;<b>The text that you want to test</b>&quot;</pre></div>
        </div>
    </div>

    <!-- ************************************************* -->
    <!--  Store training data                              -->
    <!-- ************************************************* -->

    <div class="modelguidancecontainer" ng-if="scratchkey && project && project.labels.length > 1">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="PYTHON.STORE.TEXT.INTRO"></div>
            <div class="modelstatusdetail" translate="PYTHON.STORE.INSTRUCTION"></div>
            <div class="modelstatusdetail">
                Text you want to add: <input style="padding-left: 1em; padding-right: 1em; width: 80%;" ng-model="testdata.storetext"></input>
            </div>
            <div class="modelstatusdetail">
                Label for the text:
                <select ng-model="testdata.label" style="padding-left: 1em; padding-right: 1em; width: 80%;" >
                    <option ng-repeat="label in project.labels" value="{{ label }}">{{label}}</option>
                </select>
            </div>
            <div class="modelstatusdetail"><em translate="PYTHON.UNCOMMENT"></em></div>
        </div>
        <div class="modelguidance" style="flex: 2">
            <div translate="PYTHON.REPLACE_THIS"></div>
            <div class="pythoncodebox" style="margin-bottom: 10px;"><pre class="pythoncode"><span class="pythoncomments"># CHANGE THIS to the text that you want to add </span>
<span class="pythoncomments"># to your project training data</span>
training_text <span class="pythonop">=</span> &quot;<b>Training Example From Python</b>&quot;

<span class="pythoncomments"># CHANGE THIS to the training bucket to add the</span>
<span class="pythoncomments"># training example to</span>
training_label <span class="pythonop">=</span> &quot;<b>Label</b>&quot;

<span class="pythoncomments"># remove the comment on the next line to use this </span>
<span class="pythoncomments"># storeText(API_KEY, training_text, training_label)</span></pre></div>
            <div translate="PYTHON.WITH_THIS"></div>
            <div class="pythoncodebox"><pre class="pythoncode"><span class="pythoncomments"># CHANGE THIS to the text that you want to add </span>
<span class="pythoncomments"># to your project training data</span>
training_text <span class="pythonop">=</span> &quot;<b>{{ testdata.storetext }}</b>&quot;

<span class="pythoncomments"># CHANGE THIS to the training bucket to add the</span>
<span class="pythoncomments"># training example to</span>
training_label <span class="pythonop">=</span> &quot;<b>{{ testdata.label }}</b>&quot;

<span class="pythoncomments"># remove the comment on the next line to use this </span>
<span class="pythonfunc">storeText</span>(API_KEY, training_text, training_label)</pre></div>
        </div>
    </div>
</div>
