.modelguidance .strongemphasis {
    font-weight: bold;
    color: #3078b4;
}

.pythoncodebox {
    font-size: 0.7em;
    background: #ffffff;
    overflow:auto;
    width:auto;
    border:solid gray;
    border-width:.1em .1em .1em .8em;
    padding:.2em .6em;
}

.pythoncodebox .pythoncode {
    margin: 0;
    line-height: 125%;
}

.pythoncodebox .pythoncode .pythoncomments {
    color: #888888;
}

.pythoncodebox .pythoncode .pythonfunc {
    color: #008800;
    font-weight: bold;
}

.pythoncodebox .pythoncode .pythonfuncname {
    color: #0066BB;
    font-weight: bold;
}

.pythoncodebox .pythoncode .pythonop {
    color: #333333;
}

.pythoncodebox .pythoncode .pythonimport {
    color: #0e84b5;
    font-weight: bold;
}

.pythoncodebox .pythoncode .pythonint {
    color: #0000DD;
    font-weight: bold;
}

.pythonreplhighlight {
    font-weight: bold;
    background-color: #337ab7;
    color: white;
    font-size: larger;
    padding-left: 4px;
    padding-right: 4px;
}

.python-guidance-flex-2 {
    flex: 2;
}

.python-guidance-flex-3 {
    flex: 3;
}

.python-guidance-full-width {
    flex-basis: 100%;
}

.python-guidance-min-width {
    min-width: 300px;
}

.python-guidance-min-width-wide {
    min-width: 350px;
}

.python-input-field {
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
}

.python-select-field {
    height: 24px;
}

.pythoncodebox-spaced {
    margin-bottom: 10px;
}

.python-alert-container {
    margin: 2em;
}

.python-requirements-text {
    font-size: 1em;
    padding-bottom: 0;
}

.python-requirements-list {
    margin-bottom: 0;
    padding-left: 20px;
}

.python-code-highlight-pink {
    background-color: #fff0f0;
}

.python-code-highlight-gray {
    background-color: #eeeeee;
}
