@media(min-width: 450px) {
    .languagemodelpage {
        margin: 1em auto 2em auto;
        width: 92%;
    }
}
@media(max-width: 450px) {
    .languagemodelpage {
        margin: 1em 0 2em 0;
        width: 100%;
    }
}

.agewarning {
    margin: 0;
}

.languagemodelpage {
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}

.languagemodelpage button {
    width: 120px;
    margin-left: 0.75em;
    margin-left: 0.75em;
}

.languagemodelpage button.btn-wide {
    width: 150px;
}

.languagemodelpage .trainingbuckets {
    height: 220px;
}

.languagemodelpage .trainingbuckets.documents {
    height: 310px;
}

.languagemodelpage .trainingbuckets .trainingbucket {
    max-width: 100%;
}

.languagemodelpage .trainingbuckets .trainingbucket .documentlabel {
    font-size: 0.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 120px;
}

.languagemodelpage table {
    border-collapse: collapse;
    width: 100%;
}

.languagemodelpage table td {
    padding: 0.7em;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.languagemodelpage table td.unclickable {
    cursor: default;
}

.languagemodelpage table td.tokenpresent {
    border: thin black solid;
}

.languagemodelpage table td.tokenpresent.selected {
    background-color: #d9d9d9;
    font-weight: bold;
    font-size: 1.1em;
}

.languagemodelpage table td.tokenmissing {
    border: none;
}

.languagemodelpage table td.nexttoken {
    padding: 0;
}

.languagemodelpage table td .tokentooltip {
    display: inline-flex;
    padding: 0;
    margin: 0 0 0 10px;
}

.languagemodelpage .confirmtokens {
    border: thin black solid;
    width: 97%;
    margin: 1em auto 2em auto;
    padding: 1em;
}
.languagemodelpage .confirmtokens .highlightnumber {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
}

.languagemodelpage .confirmtokens .token {
    background-color: #d9d9d9;
    font-family: monospace;
    font-size: 1.1em;
    padding: 0.7em 1em;
    margin-right: 1em;
}

.languagemodelpage .confirmtokens.hoverexplain {
    width: 100%;
}

.languagemodelpage .confirmtokens.hoverexplain .nowrap {
    white-space: nowrap;
    display: inline-block;
    line-height: 50px;
}

.languagemodelpage .confirmtokens.hoverexplain .token {
    margin-left: 0.5em;
    margin-right: 0.5em;
}


.languagemodelpage td.count {
    background: linear-gradient(to right, #9fbe94 var(--percent, 0%), white var(--percent, 0%));
}
.languagemodelpage td.count.deselected {
    color: #c0c0c0;
}



.languagemodelpage md-select {
    background-color: white;
    padding: 0.2em;
}

.languagemodelpage .modelstep {
    position: relative;
    flex: 1;
    background-color: #eeeeee;
    border-radius: 2em;
    width: 100%;
    margin: 1em 0;
    padding: 1.75em;
    font-size: 1.1em;
}

.languagemodelpage .modelstep .resetlink {
    position: absolute;
    font-size: 11px;
    top: 18px;
    right: 18px;
    text-decoration: none;
    background-color: #f5f5ff;
    border: 1px #707070 dotted;
    border-radius: 6px;
    color: #707070;
    padding: 6px;
}

.languagemodelpage .stepheading {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.languagemodelpage .modelstep .stepexplanation {
    font-size: 1em;
    margin-bottom: 0.2em;
}

.languagemodelpage .modelstep .stepcontrols {
    margin-bottom: 1em;
}

.languagemodelpage .modelstep .steprow {
    display: flex;
    flex-direction: row;
}

.languagemodelpage .modelstep .steprow .rowitem {
    flex: 1;
    padding-left: 1em;
    padding-right: 1em;
}

.languagemodelpage .modelstep .steprow .rowitem.multicol {
    padding-left: 0.5em;
    padding-right: 2em;
}

.languagemodelpage .modelstep .steprow .rowitem .contextinset {
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.languagemodelpage md-slider .md-track.md-track-fill,
.languagemodelpage md-slider .md-sign {
    background-color: #2e6da4;
}

.languagemodelpage md-slider .md-thumb:after {
    border-color: #2e6da4;
    background-color: #2e6da4;
}

.languagemodelpage md-slider .md-focus-ring {
    background-color: rgb(0 0 139 / 40%);
}

.languagemodelpage .nextstep {
    text-align: right;
}

.languagemodelpage .testfeedback {
    color: #931509;
    margin-bottom: 1em;
}

.languagemodelpage .generatedtext {
    width: 100%;
    height: 260px;
    border: thin black solid;
    background-color: #efefef;
    padding: 1em;
    font-family: monospace;
    overflow-y: scroll;
}

.languagemodelpage .generatedtext .userpromptcontainer {
    margin-bottom: 10px;
    text-align: right;
}

.languagemodelpage .generatedtext .userpromptcontainer .userprompt {
    margin-left: auto;
    font-weight: bold;
    font-style: normal;
    max-width: 40%;
    font-family: serif;
    font-size: 1.1em;
    text-align: right;
    color: #2e6da4;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

.languagemodelpage .generatedtext .systemmessage {
    margin-bottom: 15px;
}

.languagemodelpage .generatedtext .generatedtoken {
    cursor: pointer;
}

.languagemodelpage .generatedtext .generatedtoken.hovertoken {
    background-color: black;
    color: white;
    padding: 4px;
}
.languagemodelpage .generatedtext .generatedtoken.hoverinput {
    background-color: grey;
    color: white;
    padding: 4px;
}


.languagemodelpage .generatedtext.placeholder {
    font-style: italic;
}

.languagemodelpage .makes {
    width: 100%;
    margin-top: 2em;
}

@media(min-width: 450px) {
    .languagemodelpage .makes .makesplaceholder {
        flex: 2;
    }
}


@media(max-width: 800px) {
    .languagemodelpage .steprow.modeldetails {
        flex-direction: column;
    }
    .languagemodelpage .mlchart {
        width: 100%; height: 270px;
    }
}
@media(min-width: 800px) {
    .languagemodelpage .steprow.modeldetails {
        flex-direction: row;
    }
    .languagemodelpage .mlchart {
        flex: 3; height: 270px;
    }
}

.languagemodelpage .model-type-buttons {
    margin: 1em 0;
}

.languagemodelpage .model-name-label {
    color: #00008b;
    margin-left: 1em;
}

.languagemodelpage .wikipedia-icon {
    font-family: serif;
    font-size: 2em;
}

.languagemodelpage .context-image {
    max-width: 150px;
}

.languagemodelpage .context-change-button {
    margin-top: 1em;
}

.languagemodelpage .context-explanation {
    flex: 3;
}

.languagemodelpage .token-display-container {
    min-height: 320px;
    max-height: 340px;
    height: unset;
}

.languagemodelpage .token-items-scrollable {
    max-height: 267px;
    height: unset;
    overflow-y: scroll;
    padding-top: 0;
}

.languagemodelpage .token-table {
    padding-top: 0;
}

.languagemodelpage .token-cell {
    width: calc(23vw - 20px);
}

.languagemodelpage .token-tooltip-wide {
    max-width: 380px;
}

.languagemodelpage .slider-labels {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    font-size: 0.9em;
    color: #2e6da4;
}

.languagemodelpage .slider-label-left {
    flex: 1;
    text-align: left;
}

.languagemodelpage .slider-label-right {
    flex: 1;
    text-align: right;
}

.languagemodelpage .topp-controls {
    padding-left: 2em;
    padding-right: 0.5em;
}

.languagemodelpage .probability-display-container {
    min-height: 410px;
    max-height: 430px;
    height: unset;
}

.languagemodelpage .probability-items-scrollable {
    max-height: 357px;
    height: unset;
    overflow-y: scroll;
    padding-top: 0;
}

.languagemodelpage .probability-result {
    text-align: right;
}

.languagemodelpage .download-progress {
    width: 80%;
}

.languagemodelpage .chart-container {
    padding: 1em;
}

.languagemodelpage .chart-explanation {
    flex: 1;
    padding: 1em;
}

.languagemodelpage .chart-title {
    font-weight: bold;
}

.languagemodelpage .chart-container-top {
    padding: 1em 1em 0 1em;
}

.languagemodelpage .context-controls {
    padding-left: 0.5em;
    padding-right: 2em;
}

.languagemodelpage .context-buttons {
    background-color: white;
    margin: 1em;
    padding: 1em;
}

.languagemodelpage .file-upload-hidden {
    display: none !important;
}

.languagemodelpage .testing-container {
    margin-top: 2em;
}

.languagemodelpage .testing-input-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.languagemodelpage .testing-input {
    flex: 3;
    margin-left: 10px;
    margin-right: 10px;
}

.languagemodelpage .token-no-margin {
    margin-left: 0;
}

.languagemodelpage .token-highlighted {
    background-color: black;
    color: white;
    margin-left: 1em;
}

.languagemodelpage .dialog-content-padded {
    padding: 1em;
}

.languagemodelpage .wikipedia-textarea {
    padding: 0.5em;
    border: thin #c0c0c0 solid;
}

.languagemodelpage .hover-explanation-content {
    margin-bottom: 15px;
}
