<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>

<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>

<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert">
    <strong translate="APP.ERROR"></strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
</div>

<div ng-if="isAuthenticated && projectId">
    <div class="jumbotron">
        <h2 class="text-center" translate="PYTHON.TITLE"></h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId  })" translate="APP.BACKTOPROJECT"></a>
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project && project.type === 'sounds'" class="modelguidancecontainer">
        <div class="modelguidance">
            Python cannot be used with sounds projects.
        </div>
    </div>

    <div ng-if="project && project.labels.length <= 1 && project.type !== 'sounds'" class="modelguidancecontainer">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="PYTHON.NOTREADY"></div>
            <div class="modelstatusdetail">
                Go to the <a ui-sref="mlproject_models({ projectId : projectId, userId : userId })" translate="PROJECT.LEARNANDTEST.TITLE"></a>
                page for some tips on what to do next.
            </div>
        </div>
    </div>

    <div ng-if="project && project.labels.length > 1 && scratchkey && !scratchkey.model && project.type !== 'sounds' && project.type !== 'imgtfjs'" style="margin: 2em;">
        <div class="alert alert-info" role="alert" translate="PYTHON.NOMODEL"></div>
        <div ng-if="project.type !== 'text'">
            You can <strong><a href="" ui-sref="mlproject_models({ projectId : projectId, userId : userId })">train one now</a></strong> and then come back to start your Python project.
        </div>
    </div>

    <div class="modelguidancecontainer" ng-if="scratchkey && project && project.labels.length > 1 && project.type !== 'sounds'">
        <div class="modelguidance" ng-if="scratchkey.model || project.type === 'imgtfjs' || project.type === 'text' && functionType === 'store'" >
            <div class="modelstatusdetail">
                You can use this code to
                <span ng-if="project.type === 'text' && functionType === 'classify'">submit text</span>
                <span ng-if="project.type === 'numbers'">submit numbers</span>
                <span ng-if="project.type === 'imgtfjs'">submit an image file that you have on your computer</span>
                <span ng-if="functionType === 'classify'">to the machine learning model that you've trained.</span>
                <span ng-if="project.type === 'text' && functionType === 'store'">add text examples to your training data.</span>
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='text' && functionType === 'classify'">
                Enter the text: <input style="padding-left: 1em; padding-right: 1em; width: 80%;" ng-model="testdata.text"></input>
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='text' && functionType === 'store'">
                Enter the text: <input style="padding-left: 1em; padding-right: 1em; width: 80%;" ng-model="testdata.storetext"></input>
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='text' && functionType === 'store'">
                Enter the label:
                <select ng-model="testdata.label">
                    <option ng-repeat="label in project.labels" value="{{ label }}">{{label}}</option>
                </select>
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='numbers'">
                Enter the numbers below:
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='numbers'">
                <div ng-repeat="field in fields track by $index">
                    {{ field.name }} :
                    <input ng-if="field.type === 'number'"
                           type="number"
                           ng-model="testdata.fields[$index]"
                           ng-init="testdata.fields[$index] = 0"></input>
                    <select ng-if="field.type === 'multichoice'"
                            ng-model="testdata.fields[$index]"
                            ng-options="value for value in field.choices"
                            ng-init="testdata.fields[$index] = field.choices[0]"
                            style="height: 24px">
                    </select>
                </div>
            </div>
            <div class="modelstatusdetail" ng-if="project.type === 'imgtfjs'">
                Enter the name of your image file: <input style="padding-left: 1em; padding-right: 1em; width: 80%;" ng-model="testdata.imagefile"></input>
            </div>
            <div class="modelstatusdetail" ng-hide="functionType === 'store'">
                Running this will print something like:
            </div>
            <div class="modelstatusdetail" ng-hide="functionType === 'store'"><pre>$ python yourscript.py
result: '{{ project.labels[0] }}' with 81% confidence</pre></div>
            <div class="modelstatusdetail" ng-if="project.type==='text' && functionType !== 'classify' && scratchkey.model">
                <a href="" ng-click="setFunctionType('classify')">Click here for Python for recognising text</a>
            </div>
            <div class="modelstatusdetail" ng-if="project.type==='text' && functionType !== 'store'">
                <a href="" ng-click="setFunctionType('store')">Click here for Python for adding a training example</a>
            </div>
            <div class="modelstatusdetail" ng-hide="project.type === 'imgtfjs'">
                If you've never used <a href="https://realpython.com/python-requests/"><code>requests</code></a>
                     before, you might need to <a href="https://realpython.com/python-requests/#getting-started-with-requests">install it first</a>.
                <br/>
                Ask your teacher for help if you're not sure how to do that.
            </div>
        </div>
        <div class="modelguidance" ng-if="project.type === 'text'" style="flex: 2">
<div class="pythoncodebox" ng-if="scratchkey.model && functionType === 'classify'"><pre class="pythoncode"><span class="pythonfunc">import</span> <span class="pythonimport">requests</span>

<span class="pythoncomments"># This function will pass your text to the machine learning model</span>
<span class="pythoncomments"># and return the top result with the highest confidence</span>
<span class="pythonfunc">def</span> <span class="pythonfuncname">classify</span>(text):
    key <span class="pythonop">=</span> &quot;{{ scratchkey.id }}&quot;
    url <span class="pythonop">=</span> &quot;https://machinelearningforkids.co.uk/api/scratch/&quot;+ key + &quot;/classify&quot;

    response <span class="pythonop">=</span> requests<span class="pythonop">.</span>get(url, params<span class="pythonop">=</span>{ &quot;data&quot; : text })

    <span class="pythonfunc">if</span> response<span class="pythonop">.</span>ok:
        responseData <span class="pythonop">=</span> response<span class="pythonop">.</span>json()
        topMatch <span class="pythonop">=</span> responseData[<span class="pythonint">0</span>]
        <span class="pythonfunc">return</span> topMatch
    <span class="pythonfunc">else</span>:
        response<span class="pythonop">.</span>raise_for_status()


<span class="pythoncomments"># <strong>CHANGE THIS</strong> to something you want your machine learning model to classify</span>
demo <span class="pythonop">=</span> classify(<span style="background-color: #fff0f0">&quot;<strong>{{ testdata.text }}</strong>&quot;</span>)

label <span class="pythonop">=</span> demo[&quot;class_name&quot;]
confidence <span class="pythonop">=</span> demo[&quot;confidence&quot;]


<span class="pythoncomments"># <strong>CHANGE THIS</strong> to do something different with the result</span>
<span class="pythonfunc">print</span> (&quot;result: &#39;%s&#39; with %d%% confidence&quot; <span class="pythonop">%</span> (label, confidence))
</pre></div>
<div class="pythoncodebox" ng-if="functionType === 'store'"><pre class="pythoncode"><span class="pythonfunc">import</span> <span class="pythonimport">requests</span>

<span class="pythoncomments"># This function will store your text in one of the training</span>
<span class="pythoncomments"># buckets in your machine learning project</span>
<span class="pythonfunc">def</span> <span class="pythonfuncname">storeTraining</span>(text, label):
    key <span class="pythonop">=</span> &quot;{{ scratchkey.id }}&quot;
    url <span class="pythonop">=</span> &quot;https://machinelearningforkids.co.uk/api/scratch/&quot;+ key + &quot;/train&quot;

    response <span class="pythonop">=</span> requests<span class="pythonop">.</span>post(url, json<span class="pythonop">=</span>{ &quot;data&quot; : text, &quot;label&quot; : label })

    <span class="pythonfunc">if</span> response<span class="pythonop">.</span>ok == <span class="pythonint">False</span>:
        <span class="pythoncomments"># if something went wrong, display the error</span>
        <span class="pythonfunc">print</span> (response<span class="pythonop">.</span>json())


<span class="pythoncomments"># <strong>CHANGE THIS</strong> to the text that you want to store</span>
training <span class="pythonop">=</span> <span style="background-color: #fff0f0">&quot;<strong>{{ testdata.storetext }}</strong>&quot;</span>

<span class="pythoncomments"># <strong>CHANGE THIS</strong> to the training bucket to store it in</span>
label <span class="pythonop">=</span> <span style="background-color: #fff0f0">&quot;<strong>{{ testdata.label }}</strong>&quot;</span>

storeTraining(training, label)
</pre></div>

        </div>
        <div class="modelguidance" ng-if="scratchkey.model && project.type === 'numbers'"  style="flex: 2">
<div class="pythoncodebox"><pre class="pythoncode"><span class="pythonfunc">import</span> <span class="pythonimport">requests</span>

<span class="pythoncomments"># This function will pass your numbers to the machine learning model</span>
<span class="pythoncomments"># and return the top result with the highest confidence</span>
<span class="pythonfunc">def</span> <span class="pythonfuncname">classify</span>(numbers):
    key <span class="pythonop">=</span> &quot;{{ scratchkey.id }}&quot;
    url <span class="pythonop">=</span> &quot;https://machinelearningforkids.co.uk/api/scratch/&quot;+ key + &quot;/classify&quot;

    response <span class="pythonop">=</span> requests<span class="pythonop">.</span>post(url, json<span class="pythonop">=</span>{ &quot;data&quot; : numbers })

    <span class="pythonfunc">if</span> response<span class="pythonop">.</span>ok:
        responseData <span class="pythonop">=</span> response<span class="pythonop">.</span>json()
        topMatch <span class="pythonop">=</span> responseData[<span class="pythonint">0</span>]
        <span class="pythonfunc">return</span> topMatch
    <span class="pythonfunc">else</span>:
        response<span class="pythonop">.</span>raise_for_status()


<span class="pythoncomments"># CHANGE THIS to something you want your machine learning model to classify</span>
<div ng-repeat="field in testdata.fields track by $index">data{{ $index + 1 }} <span class="pythonop">=</span> <span style="background-color: #fff0f0"><strong><span ng-if="fields[$index].type === 'multichoice'">"</span>{{ field ? field : 0 }}<span ng-if="fields[$index].type === 'multichoice'">"</span></strong></span></div>
demo <span class="pythonop">=</span> classify([ <span ng-repeat="field in testdata.fields track by $index">data{{ $index + 1 }}<span ng-show="!$last">,</span> </span> ])

label <span class="pythonop">=</span> demo[&quot;class_name&quot;]
confidence <span class="pythonop">=</span> demo[&quot;confidence&quot;]


<span class="pythoncomments"># CHANGE THIS to do something different with the result</span>
<span class="pythonfunc">print</span> (&quot;result: &#39;%s&#39; with %d%% confidence&quot; <span class="pythonop">%</span> (label, confidence))
</pre></div>
        </div>
        <div class="modelguidance" ng-if="project.type === 'imgtfjs'" style="flex: 2">
            <div class="pythoncodebox" style="min-width: 350px;">
<pre class="pythoncode"><span class="pythonfunc">from</span> mlforkids <span class="pythonfunc">import</span> <span class="pythonimport">MLforKidsImageProject</span>

<span class="pythoncomments"># treat this key like a password and keep it secret!</span>
key <span class="pythonop">=</span> &quot;{{ scratchkey.id }}&quot;

<span class="pythoncomments"># this will train your model and might take a little while</span>
myproject <span class="pythonop">=</span> <span class="pythonfunc">MLforKidsImageProject</span>(key)
myproject.train_model()

<span class="pythoncomments"># CHANGE THIS to the image file you want to recognize</span>
demo <span class="pythonop">=</span> myproject.prediction(<span style="background-color: #fff0f0;">&quot;<strong>{{ testdata.imagefile }}</strong>&quot;</span>)

label <span class="pythonop">=</span> demo[&quot;class_name&quot;]
confidence <span class="pythonop">=</span> demo[&quot;confidence&quot;]

<span class="pythoncomments"># CHANGE THIS to do something different with the result</span>
<span class="pythonfunc">print</span> (&quot;result: &#39;<span style="background-color: #eeeeee">%s</span>&#39; with <span style="background-color: #eeeeee">%d%%</span> confidence&quot; <span class="pythonop">%</span> (label, confidence))</pre>
            </div>
        </div>
        <div class="modelguidance" style="min-width: 300px" ng-if="project.type === 'imgtfjs'">
            <div class="modelstatusdetail" style="font-size: 1em; padding-bottom: 0;">
                To use this code, you need to:
                <ul style="margin-bottom: 0; padding-left: 20px;">
                    <li>Use Python 3</li>
                    <li>Download this <a href="https://raw.githubusercontent.com/IBM/taxinomitis/master/resources/mlforkids-requirements.txt">list of other Python modules you need</a></li>
                    <li>Install the other Python modules by running <br/><code>pip install -r mlforkids-requirements.txt</code></li>
                    <li>Download <a href="https://raw.githubusercontent.com/IBM/taxinomitis/master/resources/mlforkids.py">mlforkids.py</a> to the folder where you will run your Python code</li>
                </ul>
            </div>
        </div>
        <div class="modelguidance" style="flex-basis: 100%" ng-if="project.type !== 'images'">
            <div class="modelstatusdetail">
                If you know how to use it, your API key for this project is:
            </div>
            <div class="modelstatusdetail">
                <div class="pythoncodebox"><pre class="pythoncode">{{ scratchkey.id }}</pre></div>
            </div>
            <div class="modelstatusdetail">
                <em>Treat it like a password and make sure that you keep it secret!</em>
            </div>
        </div>
    </div>
</div>

