<div class="jumbotron">
    <h2 class="text-center">Collecting diagnostics</h2>
</div>
<div class="helpsection">
    <div class="apikeysguideinfo">Unfortunately, students sometimes encounter errors when using the Machine Learning for Kids site.</div>
    <div class="apikeysguideinfo">I'm very sorry about this.</div>
    <div class="apikeysguideinfo">This page has some instructions for how you can collect information about what went wrong that will help me to fix it quickly, to prevent it happening again.</div>
</div>
<div class="debugguidance">
    <ol>
        <li class="debugguidanceinfo">Go to <a href="https://machinelearningforkids.co.uk/#!/welcome?debug">https://machinelearningforkids.co.uk/#!/welcome?debug</a> <br/>(<em>the important bit is the <code>?debug</code> at the end - this should work with any page on the site</em>)</li>
        <li class="debugguidanceinfo">If it works, you'll see a new "<strong>DOWNLOAD LOG</strong>" item in the menu at the top of the page. (If you don't see that, please refresh the page until you do)</li>
        <li class="debugguidanceinfo">Recreate the problem - retrace your steps to demonstrate the error that you've seen</li>
        <li class="debugguidanceinfo">Click on <strong>DOWNLOAD LOG</strong> to download a file that will have a description of everything that you did, and the error that was encountered</li>
        <li class="debugguidanceinfo">Please send me that file:
            <ul>
                <li>by email, or</li>
                <li>by creating an <a href="https://github.com/IBM/taxinomitis/issues">issue in Github</a>, or</li>
                <li>by posting a message in <a href="https://groups.google.com/g/mlforkids">the support forum</a></li>
            </ul>
        </li>
    </ol>
</div>
