<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong>Not logged in</strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div class="jumbotron training">
        <h2 class="text-center" ng-if="!project">Training</h2>
        <div class="mlprojectdescription" ng-if="project">
            Recognising
            <span class="mlprojecttype">{{ project.type }}</span>
            <span ng-if="project.labelsSummary">
                as
                <span class="mlprojectlabels">{{ project.labelsSummary }}</span>
            </span>
        </div>
    </div>
    <div style="margin: 5px;">
        <a ui-sref="mlproject({ projectId : projectId })">&lt; Back to project</a>
    </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500">If this keeps happening, please <a ui-sref="help">let me know</a>.</em>
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project">
        <div style="height: 60px;">
            <div class="newlabelbutton" ng-click="vm.addLabel($event, project)">
                <div class="newlabelicon">+</div>
                <div class="newlabellabel">Add new label</div>
            </div>
        </div>

        <div class="alert alert-info pageheadermsg" ng-if="project.labels.length === 0">
            Click on the 'plus' button on the right to add your first bucket.
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>

        <div class="trainingbuckets">
            <div class="trainingbucket" ng-repeat="label in project.labels">
                <div class="trainingbucketheader">
                    <span class="trainingbucketlabel">{{label}}</span>
                </div>
                <span class="glyphicon glyphicon-remove-circle deletelabel" aria-hidden="true" ng-click="vm.deleteLabel($event, label, $index)"></span>
                <div class="trainingbucketitems" ng-if="project.type === 'text'">
                    <div class="loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label]" ng-class="{ placeholder : item.isPlaceholder }">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-click="vm.deleteText(label, item, $index)"
                              ng-if="!item.isPlaceholder"></span>
                        {{ item.textdata }}
                    </div>
                </div>
                <div class="trainingbucketitems" ng-if="project.type === 'numbers'">
                    <div class="loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label]" ng-class="{ placeholder : item.isPlaceholder }">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-click="vm.deleteText(label, item, $index)"
                              ng-if="!item.isPlaceholder"></span>
                        <table>
                            <tr ng-repeat="field in project.fields">
                                <td class="numberdatalabel"> {{ field }} </td>
                                <td class="numberdatavalue"> {{ item.numberdata[$index] }} </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="trainingbucketitems" ng-if="project.type === 'images'" ml-image-loader>
                    <div class="loadingtraining" ng-if="loadingtraining"> </div>
                    <div class="trainingbucketitem" ng-repeat="item in training[label]">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true"
                              ng-click="vm.deleteText(label, item, $index)"></span>
                        <img src="{{ item.imageurl }}" class="trainingImageThumbnail" alt="{{ item.imageurl}}">
                    </div>
                </div>
                <div style="text-align: center; height: 45px;">
                    <div class="btn newexamplebutton" ng-click="vm.addTrainingData($event, label)">
                        <div class="newexampleicon">+</div>
                        <div class="newexamplelabel">Add example</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div ng-if="!projectId" class="alert alert-danger pageheadermsg">
        <strong>Error:</strong> Missing project id. Go back to <a ui-sref="projects">your projects</a>
    </div>
</div>
