<md-dialog aria-label="Add new example">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add new example</h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newTextTrainingData" ng-hide="project.type !== 'text'" ng-submit="confirm(example)">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 500px">
                <md-card-content>
                    <div layout="row">
                        <md-input-container style="min-width: 480px">
                            <label>Enter an example of '{{ label }}'</label>
                            <input type="text" name="text"
                                   md-autofocus
                                   ng-required="true"
                                   ng-pattern="/^[^\n\t\r]+$/"
                                   ng-model="example"
                                   md-maxlength="1000"></input>
                            <div class="ng-animate" ng-messages="newTextTrainingData[text].$error" >
                                <div ng-message="pattern">You're not allowed to use tabs or newlines.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-disabled="newTextTrainingData.$invalid">Add</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
    <form ng-cloak name="newNumbersTrainingData" ng-hide="project.type !== 'numbers'" ng-submit="confirm(values)">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 500px">
                <md-card-content>
                    <label>Enter an example of '{{ label }}'</label>
                    <div layout="row" ng-repeat="field in project.fields">
                        <md-input-container>
                            <div> {{ field }} </div>
                            <input name="{{field}}"
                                required
                                ng-pattern="/^-?[0-9]+(?:\.[0-9]*)?$/"
                                ng-model="values[field]">
                            <div class="ng-animate" ng-messages="newNumbersTrainingData[field].$error" >
                                <div ng-message="required">You have to include values for all fields in an example</div>
                                <div ng-message="pattern">This doesn't look like a number</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" ng-disabled="newNumbersTrainingData.$invalid">Add</md-button>
            <md-button ng-click="cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
