<md-dialog aria-label="Add new example" class="newtrainingdatadialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="TRAINING.ADDEXAMPLE"></h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newTextTrainingData" ng-hide="project.type !== 'text'" ng-submit="confirm(example)">
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-card-content>
                    <div layout="row">
                        <md-input-container class="trainingtextinput">
                            <label>{{ 'TRAINING.NEWEXAMPLE.INTRO' | translate }} '{{ label }}'</label>
                            <textarea type="text" name="text"
                                   md-autofocus="project.type === 'text'"
                                   ng-keypress="submitOnEnter($event)"
                                   ng-required="true"
                                   ng-model="example"
                                   md-maxlength="1000"></textarea>
                            <div ng-messages="newTextTrainingData[text].$error" >
                                <div ng-message="pattern" translate="TRAINING.NEWEXAMPLE.ERROR"></div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="newTextTrainingData.$invalid" translate="APP.ADD"></md-button>
            <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
    <form ng-cloak name="newNumbersTrainingData" ng-hide="project.type !== 'numbers'">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 500px">
                <md-card-content>
                    <label>{{ 'TRAINING.NEWEXAMPLE.INTRO' | translate }} '{{ label }}'</label>
                    <div layout="row" ng-repeat="field in project.fields">
                        <md-input-container>
                            <div> {{ field.name }} </div>
                            <input name="{{field.name}}"
                                ng-if="field.type === 'number'"
                                md-autofocus="project.type === 'numbers' && $index == 0"
                                ng-required="true"
                                ng-pattern="/^-?[0-9]+(?:\.[0-9]*)?$/"
                                ng-model="values[field.name]"/>
                            <md-select name="{{field.name}}"
                                ng-if="field.type === 'multichoice'"
                                md-autofocus="project.type === 'numbers' && $index == 0"
                                ng-required="true"
                                ng-model="values[field.name]">
                                <md-option ng-repeat="choice in field.choices track by $index" value="{{$index}}">{{ choice }}</md-option>
                            </md-select>
                            <div ng-messages="newNumbersTrainingData[field.name].$error" >
                                <div ng-message="required" translate="TRAINING.NEWEXAMPLE.REQUIRED"></div>
                                <div ng-message="pattern" translate="TRAINING.NEWEXAMPLE.PATTERNNUMBER"></div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="newNumbersTrainingData.$invalid" ng-click="confirm(values)" translate="APP.ADD"></md-button>
            <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
    <form ng-cloak name="newImagesTrainingData" ng-hide="project.type !== 'imgtfjs'" ng-submit="confirm(example)">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 600px">
                <md-card-content>
                    <div layout="row">
                        <md-input-container style="min-width: 580px">
                            <label>{{ 'TRAINING.NEWEXAMPLE.INTROURL' | translate }} '{{ label }}'</label>
                            <input type="url" name="url"
                                   md-autofocus="project.type === 'imgtfjs'"
                                   ng-required="true"
                                   ng-model="example"
                                   md-maxlength="1000"></input>
                            <div ng-messages="newImagesTrainingData[url].$error" >
                                <div ng-message="pattern" translate="TRAINING.NEWEXAMPLE.PATTERNURL"></div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="newImagesTrainingData.$invalid" ng-click="confirm(example)" translate="APP.ADD"></md-button>
            <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
    <form ng-cloak name="newSoundsTrainingData" ng-hide="project.type !== 'sounds'">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 330px">
                <md-card-content>
                    <div>Record an example of '{{ label === '_background_noise_' ? 'background noise' : label }}'</div>
                    <div layout="row">
                        <md-progress-linear ng-if="recording" md-mode="determinate" value="{{recordingprogress}}" style="height: 49px; margin-top: 50px; vertical-align: middle;"></md-progress-linear>
                        <mlsoundvis ng-if="project.type === 'sounds' && example" ng-hide="recording" datatype="'sounds'" spectogram="example" modelinfo="soundModelInfo"></mlsoundvis>
                        <div style="flex-grow: 1; height: 100px;" ng-hide="recording"></div>
                        <button class="btn btn-primary" ng-click="recordSound(label)" ng-hide="recording || example"><img src="static/images/microphone.png" alt="record"/></button>
                        <button class="btn btn-primary" ng-click="recordSound(label)" ng-hide="recording || !example"><img src="static/images/microphone.png" alt="record"/></button>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="!example" ng-click="confirm(example)" translate="APP.ADD"></md-button>
            <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
