<div ng-if="!isAuthenticated">
    <h2 class="text-center">Not authenticated</h2>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div class="jumbotron training">
        <h2 class="text-center" ng-if="!project">Training</h2>
        <div class="mlprojectdescription" ng-if="project">
            Recognising
            <span class="mlprojecttype">{{ project.type }}</span>
            <span ng-if="project.labelsSummary">
                as
                <span class="mlprojectlabels">{{ project.labelsSummary }}</span>
            </span>
        </div>
    </div>
    <div>
        <a ui-sref="mlproject({ projectId : projectId })">&lt; Back to project</a>
    </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="projectId && !project" class="loading"> </div>

    <div ng-if="project">
        <div style="height: 60px;">
            <div class="newlabelbutton" ng-click="vm.addLabel($event, project)">
                <div class="newlabelicon">+</div>
                <div class="newlabellabel">Add new label</div>
            </div>
        </div>
        <div class="trainingbuckets">
            <div class="trainingbucket" ng-if="project.labels.length === 0">
                <div class="trainingbucketheader" ng-click="vm.addLabel($event, project)">
                    <span class="trainingbucketlabel"> &lt;Enter name&gt; </span>
                </div>
            </div>
            <div class="trainingbucket" ng-repeat="label in project.labels">
                <div class="trainingbucketheader">
                    <span class="trainingbucketlabel">{{label}}</span>
                </div>
                <div class="trainingbucketitems">
                    <div class="trainingbucketitem" ng-repeat="item in training[label]">
                        <span class="glyphicon glyphicon-remove-circle deletetext" aria-hidden="true" ng-click="vm.deleteText(label, item, $index)"></span>
                        {{ item.textdata }}
                    </div>
                </div>
                <div style="text-align: center;">
                    <button class="btn" ng-click="vm.addTrainingData($event, label)"> Add example </button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" ng-if="!projectId">
        missing projectid - you should probably go back to <a ui-sref="projects">Projects</a>
    </div>
</div>
