<md-dialog aria-label="Add new example">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'TRAINING.NEWEXAMPLE.INTROWEBCAM' | translate }} {{ label }}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <img src="static/images/loading.gif" ng-hide="webcamInitComplete" alt="loading" style="margin: 1em auto; width: 320px;"/>
        <webcam
            channel="channel"
            ng-hide="webcamerror"
            on-error="onWebcamError(err)"
            on-access-denied="onWebcamError(err)"
            on-streaming="onWebcamSuccess()"></webcam>
        <div class="webcamerror" ng-show="webcamerror">
            <strong translate="TRAINING.NEWEXAMPLE.WEBCAMFAIL"></strong>
        </div>
        <div class="webcamerror" ng-show="webcamerrordetail">
            {{ 'TRAINING.NEWEXAMPLE.WEBCAMERROR' | translate }} <br/>
            {{ webcamerrordetail }}
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="webcamerror" ng-click="confirm()">
            <span class="glyphicon glyphicon-camera"></span>
            {{ 'APP.ADD' | translate }}
        </md-button>
        <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
    </md-dialog-actions>
</md-dialog>
