.describemlmodel .describeintro .nnexplanation {
    flex-grow: 3;
}

.describemlmodel .nnexplanation .bodytext {
    margin-bottom: 1em;
}

.describemlmodel .nnwizardaction {
    text-align: center;
}

.describemlmodel .nnsearchbox {
    margin-right: 0;
    margin-left: 15px;
    background-color: #eeeeee;
    border-radius: 2em;
    padding: 1em;
    flex-grow: 1;
    position: relative;
}

.describemlmodel .nnsearchbox .nnsearchprompt {
    font-size: 0.7em;
}
.describemlmodel .nnsearchbox .nnsearchterm {
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 0.3em;
}
.describemlmodel .nnsearchbox .nnsearchgraphic {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
}
.describemlmodel .nnsearchbox .nnsearchgraphic svg {
    opacity: 0.1;
}


.describemlmodel .nnwizardaction button {
    width: 180px;
    margin-top: 1em;
    margin-bottom: 1em;
}


.describemlmodel .visualisationimagehost .inputdata {
    font-size: 11px;
    text-align: center;
    background-color: white;
    border: thin grey solid;
}




.describemlmodel .visualisationimagehost .nodedata {
    font-size: 12px;
}
.describemlmodel .visualisationimagehost .nodevalue {
    font-size: 17px;
}
.describemlmodel .visualisationimagehost .nodeseparator {
    stroke-width: 0.5;
    stroke-opacity: 1;
    stroke: rgb(80, 80, 80);
}
.describemlmodel .visualisationimagehost .nodeweight {
    font-size: 9px;
}
.describemlmodel .visualisationimagehost .inputannotation {
    background-color: #f1feff;
    border: thin #1864ab solid;
    font-size: 9px;
    padding: 3px;
}

.describemlmodel .visualisationimagehost .hiddenlayerfunction {
    background-color: #f0f0ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 8px;
    text-align: right;
}

.describemlmodel .visualisationimagehost .hiddenlayerfunction td {
    padding-left: 5px;
    padding-right: 5px;
}

.describemlmodel .visualisationimagehost .hiddendiagramelement {
    visibility: hidden;
}


.describemlmodel .visualisationimagehost .highlightedlayer {
    fill: #84cbcc !important;
    background-color: #84cbcc;

    stroke: #1864ab !important;
    color: #1864ab;
}
