<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>
<div ng-if="isAuthenticated && projectId" class="describemlmodel">
    <div class="jumbotron">
        <h2 class="text-center" translate="DESCRIBEMODEL.TITLE"></h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject_models({ projectId : projectId, userId : userId })" translate="APP.BACKTOMODEL"></a>
    </div>

    <div ng-repeat="error in vm.errors"
         class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
         ng-click="vm.dismissAlert('errors', $index)"
         id="errors{{error.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry! This is a new page and I still have some bits left to fix...</strong><br/><br/>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>

    <div class="describeintro" style="display: flex; padding-bottom: 0" ng-switch="vm.wizardPage">
        <div class="nnexplanation" ng-switch-when="1">
            <div class="bodytext">The type of machine learning model you trained in this project is called a neural network. </div>
            <div class="bodytext">This page is an interactive guide to explain how your model was created.</div>
            <div class="bodytext">The diagrams we'll use aren't an exact description of your model. Your model is much more complicated, but simplified diagrams make it easier to explain.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="2">
            <div class="bodytext">The model is made up of "nodes", arranged in vertical layers.</div>
            <div class="bodytext">If you build your own machine learning model, you need to choose how many layers to use, and how many nodes to put in each layer. </div>
            <div class="bodytext">Models with a lot of layers are described as "deep".</div>
            <div class="bodytext">Deep learning models can give better results, but take longer to train. </div>
        </div>
        <div class="nnexplanation" ng-switch-when="3">
            <div class="bodytext">Let's start with one of the training examples used to create your model.</div>
            <div class="bodytext">For this diagram, the input is shown on the left, and we'll move through the model to the results on the right.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="4">
            <div class="bodytext">To use your training example to train the model, first the text needs to be turned into a series of numbers. </div>
            <div class="bodytext">There are lots of ways to do this, and if you build your own machine learning model, you have to choose a way that will work well for your particular project.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="5" >
            <div class="bodytext">For example, one way of turning your text into numbers is to make each number a count of how many times each word is included.</div>
            <div class="bodytext">This is quick and easy, but it's not good for projects where the order of words in the text is important.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="6">
            <div class="bodytext">If the order of words is important, you can... FILL IN THIS</div>
        </div>
        <div class="nnexplanation" ng-switch-when="7|20" ng-switch-when-separator="|">
            <div class="bodytext">If you build your own machine learning model, you need to choose the method for turning the text into numbers. </div>
            <div class="bodytext">You can do this based on what you know will work best for the type of project you're doing. Or you can do it by experimenting with different techniques to see which works best with your training examples.</div>
            <div class="bodytext" style="font-style: italic;">The encoding method for your model was chosen for you based on what seemed to work best with your training examples.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="8">
            <div class="bodytext">The numbers from the input layer are used in sums to calculate values for the nodes in the next layer.</div>
            <div class="bodytext">The lines on the diagram show you which of the input values are used to calculate which values in the next layer. </div>
        </div>
        <div class="nnexplanation" ng-switch-when="9">
            <div class="bodytext">There are lots of different types of calculation you can use. Not every node in the model has to use the same calculation.</div>
            <div class="bodytext">If you build your own machine learning model, you need to choose which equations to use for each node.</div>
            <div class="bodytext" style="font-style: italic;">The functions to use for each node in your model were chosen for you.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="10">
            <div class="bodytext">Each arrow in the diagram has a "weight" number that can be used in the sum.</div>
            <div class="bodytext" style="font-style: italic;">Training the model is how we work out the right number to put on each arrow, as you'll see in a moment.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="11">
            <div class="bodytext">Each node in the diagram has a "bias" number that is used in the sum as well.</div>
            <div class="bodytext" style="font-style: italic;">Training the model is also how we work out the right bias number, as you'll see in a moment.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="12|21" ng-switch-when-separator="|">
            <div class="bodytext">This is a common function used in neural networks.</div>
            <div class="bodytext">Each input value is multiplied by the value for the arrow that connected it. These are all added together. And added to the value for the node itself.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="13|22" ng-switch-when-separator="|">
            <div class="bodytext">Each node in the model has it's own bias value. Each arrow has its own weight.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="14|23" ng-switch-when-separator="|">
            <div class="bodytext">Each node in the model can have its own equation function. </div>
            <div class="bodytext">Remember, if you build your own machine learning model, you will choose how many nodes to put in each layer, which functions to use in them, and how many layers to use.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="15|24" ng-switch-when-separator="|">
            <div class="bodytext">This continues through the rest of the model. </div>
            <div class="bodytext" style="font-style: italic;">The functions to use for each node in your model were chosen for you.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="16|25" ng-switch-when-separator="|">
            <div class="bodytext">The final layer gives the machine learning model's prediction.</div>
            <div class="bodytext">There is a node for each bucket you added to your training data.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="17|26" ng-switch-when-separator="|">
            <div class="bodytext">Results from the output layer are compared with the correct answer (the training bucket you put this example in).</div>
            <div class="bodytext">This is used to work out how well the machine learning model did at this stage of it's training. </div>
        </div>
        <div class="nnexplanation" ng-switch-when="18|27" ng-switch-when-separator="|">
            <div class="bodytext">The error rate is used to go backwards through the layers and nudge the numbers associated with each of the arrows and nodes.</div>
            <div class="bodytext">Each weight and bias number is increased a little bit or decreased a little bit, depending on what would've made the error a little smaller.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="19">
            <div class="bodytext">Next, this is all done over again, with another of your training examples.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="28">
            <div class="bodytext">One run-through of every training example you collected through the model is called an "epoch".</div>
            <div class="bodytext">Each time through, the weights for each node are nudged a little more, until hopefully the error rate for predictions are as low as they can be.</div>
            <div class="bodytext">If you build your own machine learning model, you need to choose how many epochs you want to run.</div>
        </div>
        <div class="nnexplanation" ng-switch-when="29">
            <div class="bodytext">I hope this simplified description gives you an idea what happens when you click on the "Train new machine learning model" button.</div>
        </div>


        <div class="nnsearchbox">
            <div class="nnsearchprompt">for more detail, try searching for:</div>
            <div class="nnsearchterm">
                <a target="_blank" href="{{ vm.searchBoxLinks[vm.wizardPage] }}">
                    <span ng-switch-when="1">neural networks</span>
                    <span ng-switch-when="2">deep learning</span>
                    <span ng-switch-when="3">input layer</span>
                    <span ng-switch-when="4">encoding</span>
                    <span ng-switch-when="5">bag of words</span>
                    <span ng-switch-when="6">word embedding</span>
                    <span ng-switch-when="7">feature selection</span>
                    <span ng-switch-when="8">hidden layer</span>
                    <span ng-switch-when="9">activation functions</span>
                    <span ng-switch-when="10">weight</span>
                    <span ng-switch-when="11">bias</span>
                    <span ng-switch-when="12">hidden layer</span>
                    <span ng-switch-when="13">hidden layer</span>
                    <span ng-switch-when="14">activation functions</span>
                    <span ng-switch-when="15">hidden layer</span>
                    <span ng-switch-when="16">output layer</span>
                    <span ng-switch-when="17">loss function</span>
                    <span ng-switch-when="18">back propagation</span>
                    <span ng-switch-when="19">neural networks</span>
                    <span ng-switch-when="20">encoding</span>
                    <span ng-switch-when="21">hidden layer</span>
                    <span ng-switch-when="22">activation functions</span>
                    <span ng-switch-when="23">activation functions</span>
                    <span ng-switch-when="24">hidden layer</span>
                    <span ng-switch-when="25">output layer</span>
                    <span ng-switch-when="26">loss function</span>
                    <span ng-switch-when="27">back propagation</span>
                    <span ng-switch-when="28">epochs</span>
                    <span ng-switch-when="29">neural networks</span>
                </a>
            </div>
            <div class="nnsearchgraphic">
                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-search" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                  </svg>
            </div>
        </div>
    </div>

    <div ng-hide="loading" class="nnwizardaction">
        <button class="btn btn-default" ng-disabled="vm.wizardBusy || vm.wizardPage < 2" ng-click="vm.previousPage()">&lt; Back</button>
        <button class="btn btn-primary" ng-disabled="vm.wizardBusy || false"             ng-click="vm.nextPage()">Next &gt;</button>
    </div>

    <div ng-if="loading" class="loading"> </div>

    <div ng-if="!loading && modelinfo">
        <div class="visualisationpage">
            <div id="mlforkidsmodelvizimghost" class="visualisationimagehost">
                <div id="mlforkidsmodelvizimg">

                </div>
            </div>
            <div class="sidepanel">
                <div class="btn-group btn-group-lg" role="group">
                    <div type="button" class="btn btn-default glyphicon glyphicon-zoom-out" ng-mousedown="vm.shrink()" ng-mouseup="vm.stop()" ng-mouseleave="vm.stop()"></div>
                    <div type="button" class="btn btn-default glyphicon glyphicon-zoom-in" ng-mousedown="vm.grow()" ng-mouseup="vm.stop()" ng-mouseleave="vm.stop()"></div>
                </div>

                <div class="btn-group btn-group-lg" role="group">
                    <div class="btn btn-default glyphicon glyphicon-arrow-left" ng-mousedown="vm.goleft()" ng-mouseup="vm.stop()" ng-mouseleave="vm.stop()"></div>
                    <div class="btn btn-default glyphicon glyphicon-arrow-up" ng-mousedown="vm.goup()" ng-mouseup="vm.stop()" ng-mouseleave="vm.stop()"></div>
                    <div class="btn btn-default glyphicon glyphicon-arrow-down" ng-mousedown="vm.godown()" ng-mouseup="vm.stop()" ng-mouseleave="vm.stop()"></div>
                    <div class="btn btn-default glyphicon glyphicon-arrow-right" ng-mousedown="vm.goright()" ng-mouseup="vm.stop()" ng-mouseleave="vm.stop()"></div>
                </div>

                <div style="margin-top: 40px; margin-bottom: 5px;">Use these controls to navigate the model diagrams</div>
            </div>
        </div>
    </div>
    <div ng-if="!loading && project.type!=='text'">error placeholder</div>
</div>

