.describemlmodel .visualisationimagehost .inputdata {
    font-size: 11px;
    text-align: center;
    background-color: white;
}


.describemlmodel .visualisationimagehost .nodedata {
    font-size: 12px;
}
.describemlmodel .visualisationimagehost .nodevalue {
    font-size: 16px;
}
.describemlmodel .visualisationimagehost .nodeseparator {
    stroke-width: 0.5;
    stroke-opacity: 1;
    stroke: rgb(80, 80, 80);
}
.describemlmodel .visualisationimagehost .nodeweight {
    font-size: 9px;
}
.describemlmodel .visualisationimagehost .inputannotation {
    background-color: #ffebcd;
    border: thin grey solid;
    font-size: 9px;
}

.describemlmodel .visualisationimagehost .hiddenlayerfunction {
    background-color: #f0f0ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    padding: 8px;
    text-align: right;
}

.describemlmodel .visualisationimagehost .hiddenlayerfunction td {
    padding-left: 5px;
    padding-right: 5px;
}

.describemlmodel .visualisationimagehost .hiddendiagramelement {
    visibility: hidden;
}


.describemlmodel .visualisationimagehost .highlightedlayer {
    fill: rgb(220, 220, 220) !important;
    stroke: rgb(255, 51, 51) !important;
}
