<md-dialog aria-label="Store new Visual Recognition API key" style="max-width: 98%; max-height: 95%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>TEACHER.APIKEYS.ADD_API_KEYS.VISUAL_RECOGNITION_TITLE</h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newCredentials"
          ng-submit="confirm({ apikey : apikey, credstype : credstype })">
        <md-dialog-content>
            <div layout="column">
                <div layout="row">
                    <div style="min-width: 380px; padding: 1em;">
                        <div style="padding-right: 1em;" translate>TEACHER.APIKEYS.ADD_API_KEYS.USED_FOR_IMAGE_PROJECTS</div>
                        <div style="padding-right: 1em;" translate>TEACHER.APIKEYS.ADD_API_KEYS.HIDDEN_FROM_STUDENTS</div>

                        <hr/>

                        <div style="margin-top: 1em; font-weight: bold;" translate>TEACHER.APIKEYS.ADD_API_KEYS.PRICING_PLAN</div>
                        <div style="margin-top: 0.2em; margin-left: 1em;">
                            <md-radio-group ng-model="credstype" ng-required="true">
                                <md-radio-button value="visrec_lite" class="md-primary">Lite <em>(free)</em></md-radio-button>
                                <md-radio-button value="visrec_standard" class="md-primary">Standard <em>(paid)</em></md-radio-button>
                                <md-radio-button value="unknown" class="md-primary"><em>Unknown</em></md-radio-button>
                            </md-radio-group>
                        </div>

                        <hr/>

                        <div style="margin-top: 1em; font-weight: bold;" translate>TEACHER.APIKEYS.ADD_API_KEYS.ENTER_APIKEY</div>
                        <div style="margin-top: 0.2em; margin-left: 1em;">
                            <md-input-container style="width: 100%; padding-right: 1.1em;">
                                <input type="text" name="text"
                                    md-autofocus
                                    ng-required="type === 'apikey'"
                                    ng-pattern="/^([0-9a-f]{40}|[0-9A-Za-z\-\_]{44})$/"
                                    ng-model="apikey"
                                    placeholder="API key"
                                    md-maxlength="44"></input>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="additionalDialogInfo">
                        <div style="padding: 0.5em; margin: 0.5em; border: thin #3C70B1 solid; background-color: #EAEBF0; font-size: 0.8em;">
                            For help creating an API key, download the &nbsp;
                            <a ui-sref="apikeysguide" target="_blank"> step by step guide </a>.
                        </div>
                        <img src="static/images/creds-visrec-apikey.jpg" style="width: 100%" class="dialoghelpimages" alt="screenshot of the Visual Recognition screen"/>
                    </div>
                </div>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="newCredentials.$invalid" translate="APP.ADD"></md-button>
                    <md-button ng-click="cancel()" translate="APP.CANCEL"></md-button>
                </md-dialog-actions>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
