<md-dialog aria-label="Store new Visual Recognition API key" style="max-width: 90%; max-height: 90%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add new Visual Recognition API key</h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newCredentials" ng-submit="confirm({ apikey : apikey })">
        <md-dialog-content>
            <div class="md-dialog-content" style="min-width: 400px">
                <md-card-content>
                    <div>
                        Provide an API key for Watson Visual Recognition.
                    </div>
                    <div style="margin-top: 0.5em">
                        This will be used when you (or students in your class) train
                        models in images projects.
                    </div>
                    <div style="margin-top: 0.5em">
                        This will not be shown to students in your group.
                    </div>
                    <div style="margin-top: 1em">
                        For help creating an API key, download the &nbsp;
                        <a href="https://github.com/IBM/taxinomitis-docs/raw/master/docs/pdf/machinelearningforkids-apikeys.pdf"> step by step guide </a>.
                    </div>
                    <div layout="row" style="margin-top: 1em;">
                        <md-input-container style="width: 100%">
                            <label>API key</label>
                            <input type="text" name="text"
                                md-autofocus
                                ng-required="true"
                                ng-pattern="/^([0-9a-f]{40}|[0-9A-Za-z\-\_]{44})$/"
                                ng-model="apikey"
                                placeholder="API key"
                                md-maxlength="44"></input>
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="newCredentials.$invalid">Add</md-button>
                    <md-button ng-click="cancel()">Cancel</md-button>
                </md-dialog-actions>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
