<div class="jumbotron">
    <h2 class="text-center" translate="TEACHER.APIKEYS.TITLE"></h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role !== 'supervisor'" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> {{ 'TEACHER.APIKEYS.NOTAUTHORISED' | translate }}
</div>

<div ng-if="isAuthenticated && vm.policy && vm.policy.isManaged" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> {{ 'TEACHER.APIKEYS.MANAGEDCLASS' | translate }}
</div>

<div ng-if="isAuthenticated && vm.profile.role === 'supervisor'" class="adminpage">

    <div class="alert alert-info pageheadermsg" translate="TEACHER.APIKEYS.HELP_STEPBYSTEP_GUIDE"></div>

    <div ng-if="!vm || !vm.credentials || vm.credentials.loading.conv" class="loading"> </div>

    <div ng-repeat="error in vm.errors"
         class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
         ng-click="vm.dismissAlert('errors', $index)"
         id="errors{{error.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings"
         class="alert alert-warning alert-dismissible pageheadermsg" role="alert"
         ng-click="vm.dismissAlert('warnings', $index)"
         id="warnings{{warning.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>

    <div ng-if="vm && vm.credentials" class="credentialsinfo">
        <div ng-if="vm.credentials.loading.conv === false" style="border-top: thin #444 solid; padding-top: 1em; margin-bottom: 2em;">
            <div translate="TEACHER.APIKEYS.INTRO_WATSONASSISTANT"></div>
            <div ng-if="vm.credentials.failed.conv" class="credserror" translate="TEACHER.APIKEYS.ERROR_FETCHING_WATSONASSISTANT"></div>
            <div class="newlabelbuttons">
                <div class="newlabelbutton" ng-click="vm.addCredentials($event, 'conv')" style="margin-right: 1.5em;">
                    <div class="newlabelicon">+</div>
                    <div class="newlabellabel" translate="TEACHER.APIKEYS.ADDNEWCREDENTIALS"></div>
                </div>
            </div>
            <table ng-if="vm.credentials.conv && vm.credentials.conv.length > 0" class="studentslist" style="margin-bottom: 1em; min-width: 95%">
                <tr ng-repeat="creds in vm.credentials.conv" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td class="additionalDialogInfo" style="width: 60px;">
                        <img width=50 height=50 src="static/images/conversation.jpg" alt="Watson Assistant">
                    </td>
                    <td class="studentslistdetail" ng-class="{ 'placeholder' : creds.isPlaceholder }">
                        <div class="listheading" ng-if="creds.username" translate="TEACHER.APIKEYS.USERNAME"></div>
                        <div class="listmain" ng-if="creds.username">
                            {{ creds.username }}
                        </div>
                        <div class="listheading" ng-if="creds.password" translate="TEACHER.APIKEYS.PASSWORD" style="padding-top: 0.5em;" ></div>
                        <div class="listmain" ng-if="creds.password">
                            {{ creds.password }}
                        </div>
                        <div class="listheading" ng-if="creds.apikey" translate="TEACHER.APIKEYS.APIKEY"></div>
                        <div class="listmain" ng-if="creds.apikey">
                            {{ creds.apikey }}
                        </div>
                    </td>
                    <td class="studentslistdetail" style="cursor: pointer" ng-click="vm.modifyCredentials($event, creds, 'conv')" ng-hide="creds.isPlaceholder">
                        <div class="listheading" translate="TEACHER.APIKEYS.NUMBER_OF_ML_MODELS"></div>
                        <div class="listmain" ng-switch="creds.credstype">
                            <span style="font-size: 1.2em;" ng-switch-when="conv_lite">5</span>
                            <span class="glyphicon glyphicon-alert apikeywarning" ng-if="creds.credstype === 'conv_lite'">
                                <md-tooltip style="font-size: 1.2em;">{{ 'TEACHER.APIKEYS.LITE_30_DAYS_EXPIRE' | translate }}</md-tooltip>
                            </span>
                            <span style="font-size: 1.2em;" ng-switch-when="conv_standard">20</span>
                            <span style="font-size: 1.2em;" ng-switch-when="conv_plus">50</span>
                            <span style="font-size: 1.2em;" ng-switch-when="conv_plustrial">50</span>
                            <span class="glyphicon glyphicon-alert apikeywarning" ng-if="creds.credstype === 'conv_plustrial'">
                                <md-tooltip style="font-size: 1.2em;">{{ 'TEACHER.APIKEYS.TRIAL_30_DAYS_EXPIRE' | translate }}</md-tooltip>
                            </span>
                            <span style="font-size: 1.4em; font-style: italic" ng-switch-default translate="TEACHER.APIKEYS.UNKNOWN"></span>
                        </div>
                    </td>
                    <td class="studentslistactions" ng-hide="creds.isPlaceholder">
                        <button class="btn btn-default" ng-click="vm.verifyCredentials($event, creds)" ng-disabled="creds.verifying || creds.verified">
                            <md-progress-circular ng-if="creds.verifying" style="display: inline" class="md-hue-2" md-diameter="12px"></md-progress-circular>
                            <span class="verifybutton" ng-hide="creds.verified" translate="TEACHER.APIKEYS.VERIFY">Verify</span>
                            <span class="glyphicon glyphicon-ok" ng-if="creds.verified"></span>
                        </button>
                        <button class="btn btn-default" ng-click="vm.deleteCredentials($event, creds, 'conv')" translate="TEACHER.APIKEYS.REMOVE"></button>
                    </td>
                </tr>
            </table>
            <div style="font-size: 1.25em; text-align: right; margin-right: 1em; cursor: pointer;"
                 ng-if="vm.credentials.conv && vm.credentials.conv.length > 0"
                 ng-click="vm.explainLimit()">
                {{ 'TEACHER.APIKEYS.LIMIT_TEXT_PROJECTS' | translate }}
                <span style="font-size: 1.15em; font-style: italic" ng-if="vm.credentials.totals.conv === vm.CONSTANTS.UNKNOWN" translate="TEACHER.APIKEYS.UNKNOWN"></span>
                <span style="font-size: 1.15em; font-weight: bold;" ng-if="vm.credentials.totals.conv >= 0">{{ vm.credentials.totals.conv }}</span>
            </div>
            <div class="credserror" ng-if="vm.credentials.conv && vm.credentials.conv.length === 0">
                <div translate="TEACHER.APIKEYS.NO_TEXT_CREDENTIALS"></div>
                <div class="errormsg" translate="TEACHER.APIKEYS.LINK_TO_APIKEYS_GUIDE"></div>
            </div>
        </div>

        <div style="border-top: thin #444 solid; padding-top: 1em; margin-bottom: 2em;">
            <div translate="TEACHER.APIKEYS.INTRO_IMAGES"></div>
        </div>
        <div style="border-top: thin #444 solid; padding-top: 1em; margin-bottom: 2em;">
            <div translate="TEACHER.APIKEYS.INTRO_NUMBERS"></div>
        </div>
        <div style="border-top: thin #444 solid; padding-top: 1em; margin-bottom: 2em;">
            <div translate="TEACHER.APIKEYS.INTRO_SOUNDS"></div>
        </div>
    </div>

</div>

