<div class="jumbotron">
    <h2 class="text-center">Administration : IBM Watson API Keys</h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong>Not logged in</strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role !== 'supervisor'" class="alert alert-danger pageheadermsg">
    <strong>Error:</strong> You are not authorized to access the Watson API keys used by your class.
</div>

<div ng-if="isAuthenticated && vm.policy && vm.policy.isManaged" class="alert alert-danger pageheadermsg">
    <strong>Error:</strong> API Keys used by your class are being managed for you.
</div>

<div ng-if="isAuthenticated && vm.profile.role === 'supervisor'" class="adminpage">

    <div class="alert alert-info pageheadermsg">
        If you're not sure what to do here, please follow the
        <a href="https://github.com/dalelane/ml-for-kids/raw/master/doc/machinelearningforkids-apikeys.pdf"> step-by-step guide </a>.

        If you'd like any help, please <strong><a style="cursor: pointer;" ui-sref="help">get in touch</a></strong>.
    </div>

    <div ng-if="!vm || !vm.credentials || vm.credentials.loading.visrec || vm.credentials.loading.conv" class="loading"> </div>

    <div ng-repeat="error in vm.errors"
         class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
         ng-click="vm.dismissAlert('errors', $index)"
         id="errors{{error.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500">If this keeps happening, please <a ui-sref="help">let me know</a>.</em>
    </div>
    <div ng-repeat="warning in vm.warnings"
         class="alert alert-warning alert-dismissible pageheadermsg" role="alert"
         ng-click="vm.dismissAlert('warnings', $index)"
         id="warnings{{warning.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="vm && vm.credentials" class="credentialsinfo">
        <div ng-if="vm.credentials.loading.conv === false">
            <div>
                Training machine learning models for <span class="mlprojecttype">text</span> projects uses
                the <a class="mlprojecttype" href="https://www.ibm.com/watson/services/conversation/">Watson Assistant</a>
                (formerly Watson Conversation) service.</a>
            </div>
            <div ng-if="vm.credentials.failed.conv" class="credserror" >Failed to get your Watson Assistant passwords</div>
            <div style="height: 60px;">
                <div class="newlabelbutton" ng-click="vm.addCredentials($event, 'conv')">
                    <div class="newlabelicon">+</div>
                    <div class="newlabellabel">Add new credentials</div>
                </div>
            </div>
            <table ng-if="vm.credentials.conv && vm.credentials.conv.length > 0" class="studentslist">
                <tr ng-repeat="creds in vm.credentials.conv" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td><img src="static/images/conversation.jpg" alt="Watson Assistant"></td>
                    <td class="studentslistdetail" ng-if="creds.username">
                        <div class="listheading">
                            Username
                        </div>
                        <div class="listmain">
                            {{ creds.username }}
                        </div>
                    </td>
                    <td class="studentslistdetail" ng-if="creds.password">
                        <div class="listheading">
                            Password
                        </div>
                        <div class="listmain">
                            {{ creds.password }}
                        </div>
                    </td>
                    <td class="studentslistdetail" ng-if="creds.apikey">
                        <div class="listheading">
                            API key
                        </div>
                        <div class="listmain">
                            {{ creds.apikey }}
                        </div>
                    </td>
                    <td class="studentslistdetail" ng-if="creds.apikey">
                        <!-- placeholder -->
                    </td>
                    <td class="studentslistactions">
                        <button class="btn btn-default" ng-click="vm.deleteCredentials($event, creds, 'conv')">Remove</button>
                    </td>
                </tr>
            </table>
            <div class="credserror" ng-if="vm.credentials.conv && vm.credentials.conv.length === 0">
                You don't have any Assistant credentials. This means that it will not be possible to train models for <strong>text</strong> projects.
            </div>
        </div>
        <div ng-if="vm.credentials.loading.visrec === false">
            <div>
                Training machine learning models for <span class="mlprojecttype">images</span> projects uses
                the <a class="mlprojecttype" href="https://www.ibm.com/watson/services/visual-recognition/">Watson Visual Recognition</a>
                service.</a>
            </div>
            <div ng-if="vm.credentials.failed.visrec" class="credserror" >Failed to get your Visual Recognition API keys</div>
            <div style="height: 60px;">
                <div class="newlabelbutton" ng-click="vm.addCredentials($event, 'visrec')">
                    <div class="newlabelicon">+</div>
                    <div class="newlabellabel">Add new API key</div>
                </div>
            </div>

            <table ng-if="vm.credentials.conv && vm.credentials.visrec.length > 0" class="studentslist">
                <tr ng-repeat="creds in vm.credentials.visrec" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td><img src="static/images/visualrecognition.jpg" alt="Watson Visual Recognition"></td>
                    <td class="studentslistdetail">
                        <div class="listheading">
                            API key
                        </div>
                        <div class="listmain">
                            {{ creds.apikey }}
                        </div>
                    </td>
                    <td class="studentslistactions">
                        <button class="btn btn-default" ng-click="vm.deleteCredentials($event, creds, 'visrec')">Remove</button>
                    </td>
                </tr>
            </table>
            <div class="credserror" ng-if="vm.credentials.visrec && vm.credentials.visrec.length === 0">
                You don't have any Visual Recognition API keys. This means that it will not be possible to train models for <strong>images</strong> projects.
            </div>
        </div>
    </div>

</div>

