
.credentialsinfo {
    margin-bottom: 4em;
}
.credserror {
    text-align: center;
    margin-bottom: 6em;
}
.credserror .errormsg {
    font-size: 1.1em;
    margin-top: 0.3em;
}

.studentslistdetail .listheading {
    font-size: 0.6em;
    color: #404040;
}
.studentslistdetail .listmain {
    font-size: 1em;
    padding-left: 1em;
}

.studentslistdetail.placeholder .listheading,
.studentslistdetail.placeholder .listmain {
    font-style: italic
}

.studentslistdetail .listmain .apikeywarning {
    margin-left: 8px;
    font-size: 0.9em;
    color: #1864ab;
}

.additionalDialogInfo {
    max-width: 520px;
}
@media (max-width: 600px) {
    .additionalDialogInfo {
        display: none;
    }
}
