.adminrestriction {
    margin-left: 1em;
    margin-bottom: 0.7em;
}

.adminpage .helpsection {
    margin-bottom: 2.5em;
}

.restrictionedit {
    position: relative;
    float: right;
    padding-left: 1.2em;
    padding-right: 1.2em;
}
