<div class="helpsection apikeysguidepage">
    <h3 translate="APIKEYSGUIDE.TITLE"></h3>
    <div translate="APIKEYSGUIDE.INTRO.INTRO_1" class="apikeysguideinfo"></div>
    <div translate="APIKEYSGUIDE.INTRO.INTRO_2" class="apikeysguideinfo"></div>
    <div translate="APIKEYSGUIDE.INTRO.INTRO_3" class="apikeysguideinfo"></div>
    <div class="helpguides">
        <div class="helpguide">
            <a href="https://github.com/IBM/taxinomitis-docs/raw/master/docs/pdf/machinelearningforkids-apikeys.pdf">
                <img src="static/images/gettingstarted.png" border=0 alt="thumbnail image" align="left" hspace=10>
            </a>
            <a href="https://github.com/IBM/taxinomitis-docs/raw/master/docs/pdf/machinelearningforkids-apikeys.pdf">
                <h4 translate="APIKEYSGUIDE.LINK"></h4>
            </a>
            <div translate="APIKEYSGUIDE.EXPLANATION"></div>
        </div>
    </div>
</div>
