<div class="jumbotron">
    <h2 class="text-center">Storage diagnostics</h2>
</div>
<div class="helpsection">
    <div class="apikeysguideinfo">Please don't use this page unless explicitly requested to. </div>
</div>
<div class="debug-button-container">
    <button class="btn btn-primary" ng-click="listDatabases()">List IndexedDB stores</button>
    <button class="btn btn-primary" ng-click="resetAssetsStore()">Reset ASSETS store</button>
    <button class="btn btn-primary" ng-click="resetProjectsStore()">Reset PROJECTS store</button>
    <button class="btn btn-primary" ng-click="clearTensorflowStore()">Delete TENSORFLOW store</button>
    <button class="btn btn-primary" ng-click="clearLocalStorage()">Reset LOCAL STORAGE</button>
</div>
<div class="debug-output-container">
    <pre class="debug-output-display">
        {{ debugoutput.text }}
    </pre>
</div>
