<md-dialog aria-label="Import new students">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.TITLE"></h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newStudents" ng-submit="confirm(userstoimport, password)">
        <md-dialog-content>
            <div class="dialog-intro-text" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.INTRO"></div>
            <div class="md-dialog-content dialog-content-container">
                <md-card-content>
                    <div class="username-list-container">
                        <div ng-repeat="username in userstoimport" class="username-list-item">
                            {{ username }}
                        </div>
                    </div>
                    <div layout="column" ng-if="userstoimport.length === 0">
                        <input id="student-file-upload"
                            type="file"
                            accept=".txt"
                            class="file-upload-hidden"
                            data-group="{{ group }}"
                            onchange="angular.element(this).scope().getUsers(event)"/>
                        <label class="newlabelbutton upload-button-label" for="student-file-upload">
                            <div class="glyphicon glyphicon-open-file upload-icon"></div>
                            <div class="upload-text">Upload a text file with usernames</div>
                        </label>
                    </div>
                    <div layout="row">
                        <md-input-container class="dialog-input-container">
                            <label translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.PASSWORD"></label>
                            <input type="text" name="password"
                                    readonly
                                    ng-required="true"
                                    ng-model="password"
                                    placeholder="password"
                                    class="monospace-input"
                                    md-minlength="8"></input>
                            <div ng-messages="newStudents.password.$error" ng-show="newStudents.password.$touched">
                                <div ng-message="minlength" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.PASSWORD_TOOSHORT"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-fab md-mini md-primary" ng-click="refreshPassword()">
                                <span class="glyphicon glyphicon-refresh"> </span>
                            </md-button>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button aria-label="add" type="submit" class="md-raised md-primary" ng-disabled="userstoimport.length === 0 || newStudents.$invalid" translate="APP.ADD"></md-button>
            <md-button aria-label="cancel" ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
