<md-dialog aria-label="Create new students">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.TITLE"></h2>
        </div>
    </md-toolbar>
    <form ng-cloak name="newStudents" ng-submit="confirm(newstudent, numstudents, password)">
        <md-dialog-content>
            <div style="margin: 1em;" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.INTRO"></div>
            <div class="md-dialog-content" style="min-width: 300px">
                <md-card-content>
                    <div layout="column">
                        <md-input-container style="min-width: 280px">
                            <label translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.USERNAME"></label>
                            <input type="text" name="text"
                                   md-autofocus
                                   ng-required="true"
                                   ng-pattern="/^[\w.\-_]+$/"
                                   ng-model="newstudent"
                                   placeholder="username"
                                   ng-minlength="1"
                                   md-maxlength="15"
                                   ng-maxlength="15"></input>
                            <div ng-messages="newStudents.text.$error" ng-show="newStudents.text.$touched">
                                <div ng-message-exp="['required','minlength']" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.USERNAME_REQUIRED"></div>
                                <div ng-message="maxlength" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.USERNAME_TOOLONG"></div>
                                <div ng-message="pattern" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.USERNAME_INVALID"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.NUMBER"></label>
                            <input type="number" name="number"
                                   ng-required="true"
                                   ng-model="numstudents"
                                   placeholder=0
                                   min=1 max="{{remaining}}"></input>
                            <div ng-messages="newStudents.number.$error" ng-show="newStudents.number.$touched">
                                <div ng-message="required" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.NUMBER_REQUIRED"></div>
                                <div ng-message="max" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.NUMBER_TOOMANY"
                                                      translate-values="{ userslimit : userslimit }"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container style="min-width: 280px">
                            <label translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.PASSWORD"></label>
                            <input type="text" name="password"
                                    readonly
                                    ng-required="true"
                                    ng-model="password"
                                    placeholder="password"
                                    style="font-family: monospace"
                                    md-minlength="8"></input>
                            <div ng-messages="newStudents.password.$error" ng-show="newStudents.password.$touched">
                                <div ng-message="minlength" translate="TEACHER.STUDENTMANAGEMENT.ADD_MULTIPLE.PASSWORD_TOOSHORT"></div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-fab md-mini md-primary" ng-click="refreshPassword()">
                                <span class="glyphicon glyphicon-refresh"> </span>
                            </md-button>
                        </md-input-container>
                    </div>
                </md-card-content>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button aria-label="add" type="submit" class="md-raised md-primary" ng-disabled="newStudents.$invalid" translate="APP.ADD"></md-button>
            <md-button aria-label="cancel" ng-click="cancel()" translate="APP.CANCEL"></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
