<div ng-if="!isAuthenticated">
    <h2 class="text-center">Not authenticated</h2>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated">
    <div class="jumbotron">
        <h2 class="text-center">Machine learning models</h2>
    </div>
    <div>
        <a ui-sref="mlproject({ projectId : projectId })">&lt; Back to project</a>
    </div>

    <div ng-if="projectId && !models" class="loading"> </div>

    <div ng-repeat="error in vm.errors" class="alert alert-danger alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('errors', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>

    <div ng-if="models">
        <div ng-repeat="model in models">
            <table style="margin: 2em;">
                <tr>
                    <td><strong>Model was trained at:</strong></td>
                    <td>
                        {{ model.created | date : 'fullDate' }}
                        {{ model.created | date : 'shortTime' }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Current model status:</strong></td>
                    <td> {{ model.status }} </td>
                </tr>
                <tr>
                    <td><strong>Detail:</strong></td>
                    <td> {{ model.statusDescription }} </td>
                </tr>
                <tr><td colspan=2> &nbsp; </td></tr>
                <tr>
                    <td colspan=2>
                        <button class="btn"
                                ng-click="vm.deleteModel($event, project, model)">
                            {{ model.status === 'Training' ? 'Cancel training' : 'Delete model' }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <button ng-if="!displayQuiz" style="margin: 4em;" class="btn" ng-click="vm.createModel($event, project)">Train new machine learning model</button>


        <div ng-if="displayQuiz">
            <div ng-if="quizQuestion">
                <div>While you are waiting for the model to finish training, try answering this question to test your ML knowledge. </div>
                <div ng-if="quizQuestion.attempted">You've seen this one before - let's see if you remember what the right answer is this time! </div>

                <div>
                    {{ quizQuestion.question }}
                </div>
                <div ng-repeat="answer in quizQuestion.answers">
                    <input type="checkbox" ng-model="answer.selected" >
                    {{ answer.text }}
                </div>
                <button class="btn" ng-if="!answered" ng-click="vm.checkQuizAnswers(quizQuestion)">Check your answer</button>
                <div ng-if="answered">
                    <div ng-if="answerCorrect">That's right!</div>
                    <div ng-if="!answerCorrect">No, sorry. The correct answer is shown above.</div>
                    <div> {{ quizQuestion.notes }} </div>
                    <button class="btn" ng-click="vm.nextQuizQuestion()">Next question</button>
                </div>
            </div>
            <div ng-if="!quizQuestion">
                You've answered all the quiz questions already - hopefully the training will be finished soon!</div>
            </div>
        </div>
    </div>
    <div class="text-center" ng-if="!projectId">
        missing projectid - you should probably go back to <a ui-sref="projects">Projects</a>
    </div>
</div>
