<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong>Not logged in</strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()">Log In</button>
    </div>
</div>
<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong>Error:</strong> Missing project id. Go back to <a ui-sref="projects">your projects</a>
</div>
<div ng-if="isAuthenticated && projectId">
    <div class="jumbotron">
        <h2 class="text-center">Machine learning models</h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId })">&lt; Back to project</a>
    </div>

    <div ng-repeat="error in vm.errors"
         class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
         ng-click="vm.dismissAlert('errors', $index)"
         id="errors{{error.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error:</strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500">If this keeps happening, please <a ui-sref="help">let me know</a>.</em>
    </div>
    <div ng-repeat="warning in vm.warnings" class="alert alert-warning alert-dismissible pageheadermsg" role="alert" ng-click="vm.dismissAlert('warnings', $index)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning:</strong> {{ warning.message }}
    </div>


    <div ng-if="loading" class="loading"> </div>


    <div ng-if="!loading" class="modelguidancecontainer">

        <!-- ======= -->
        <!--   NOW   -->
        <!-- ======= -->
        <div class="modelguidance">
            <div class="modelstatusheading">What have you done?</div>

            <div ng-switch on="status">

                <!-- ******** -->
                <!-- TRAINING -->
                <!-- ******** -->
                <div ng-switch-when="training">
                    <div class="modelstatusdetail" ng-if="project.isCrowdSourced">
                        Your class is training a machine learning model using the
                        examples of {{ project.type }} that you all collected.
                    </div>
                    <div class="modelstatusdetail" ng-hide="project.isCrowdSourced">
                        You've started training a machine learning model using the
                        examples of {{ project.type }} that you collected.
                    </div>
                    <div class="modelstatusdetail">
                        It's been training since
                        {{ models[0].updated | date : 'fullDate' }}
                        {{ models[0].updated | date : 'shortTime' }}.
                    </div>
                    <div class="modelstatusdetail">
                        This normally takes a few minutes, but can take a little
                        longer if the training computer is very busy.
                    </div>
                </div>


                <!-- ***** -->
                <!-- READY -->
                <!-- ***** -->
                <div ng-switch-when="ready">
                    <div class="modelstatusdetail">
                        <span ng-if="project.isCrowdSourced">Your class has </span>
                        <span ng-hide="project.isCrowdSourced">You have </span>
                        trained a machine learning model to recognise when
                        {{ project.type }}
                        {{ project.type === 'text' ? 'is' : 'are' }}
                        {{ projectSummary }}.
                    </div>
                    <div class="modelstatusdetail">
                        <span ng-hide="owner">Your teacher </span>
                        <span ng-if="owner">You </span>
                        created the model on
                        {{ models[0].updated | date : 'fullDate' }}
                        {{ models[0].updated | date : 'shortTime' }}.
                    </div>
                    <div class="modelstatusdetail">
                        <span ng-if="project.isCrowdSourced">Your class has </span>
                        <span ng-hide="project.isCrowdSourced">You have </span>
                        collected:
                        <ul>
                            <li ng-repeat="training in trainingcounts">
                                {{ training.count }}
                                examples of
                                {{ training.label }}<span ng-if="!$last">, </span>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- ***** -->
                <!-- ERROR -->
                <!-- ***** -->
                <div ng-switch-when="error">
                    <div class="modelstatusdetail">
                        <span ng-hide="owner">Your teacher </span>
                        <span ng-if="owner">You </span>
                        tried training a machine learning model using the
                        examples of {{ project.type }} that
                        <span ng-if="project.isCrowdSourced">your class </span>
                        <span ng-hide="project.isCrowdSourced">you </span>
                        collected.
                    </div>
                    <div class="modelstatusdetail">
                        Unfortunately, something went wrong.
                    </div>
                </div>


                <!-- **** -->
                <!-- IDLE -->
                <!-- **** -->
                <div ng-switch-default>
                    <div ng-if="project.labels.length === 0">
                        <div class="modelstatusdetail" ng-if="project.isCrowdSourced">
                            Your class said you want to collect examples of {{ project.type }}.
                        </div>
                        <div class="modelstatusdetail" ng-hide="project.isCrowdSourced">
                            You've said you want to collect examples of {{ project.type }}.
                        </div>
                    </div>
                    <div ng-if="project.labels.length > 0 && trainingdatastatus === 'no_data'">
                        <div class="modelstatusdetail" >
                            <span ng-if="project.isCrowdSourced">Your class </span>
                            <span ng-hide="project.isCrowdSourced">You </span>
                            said that you want to collect examples of {{ project.type }}
                            for a computer to use to recognise
                            when {{ project.type }}
                            {{ project.type === 'text' ? 'is' : 'are' }}
                            {{ projectSummary }}.
                        </div>
                        <div class="modelstatusdetail" >
                            So far,
                            <span ng-if="project.isCrowdSourced">your class </span>
                            <span ng-hide="project.isCrowdSourced">you </span>
                            haven't collected any examples yet.
                        </div>
                    </div>
                    <div ng-if="project.labels.length > 0 && trainingdatastatus !== 'no_data'">
                        <div class="modelstatusdetail" >
                            <span ng-if="project.isCrowdSourced">Your class has </span>
                            <span ng-hide="project.isCrowdSourced">You have </span>
                            collected examples of {{ project.type }}
                            for a computer to use to recognise
                            when {{ project.type }}
                            {{ project.type === 'text' ? 'is' : 'are' }}
                            {{ projectSummary }}.
                        </div>
                        <div class="modelstatusdetail">
                            <span ng-if="project.isCrowdSourced">They've collected: </span>
                            <span ng-hide="project.isCrowdSourced">You've collected: </span>
                            <ul>
                                <li ng-repeat="training in trainingcounts">
                                    {{ training.count }}
                                    example<span ng-if="training.count !== 1">s</span> of
                                    {{ training.label }}<span ng-if="!$last">, </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ======== -->
        <!--   NEXT   -->
        <!-- ======== -->
        <div class="modelguidance">
            <div class="modelstatusheading">What's next?</div>

            <div ng-switch on="status">

                <!-- ******** -->
                <!-- TRAINING -->
                <!-- ******** -->
                <div ng-switch-when="training">
                    <div class="modelstatusdetail">
                        You could wait for the machine learning model to finish being trained.
                    </div>
                    <div class="modelstatusdetail" ng-if="quizQuestion">
                        Or, you could try the machine learning quiz below, to check what you've learned.
                    </div>
                </div>


                <!-- ***** -->
                <!-- READY -->
                <!-- ***** -->
                <div ng-switch-when="ready">
                    <div class="modelstatusdetail">
                        Try testing the machine learning model below. Enter an example of {{ project.type }}
                        below, that you didn't include in the examples you used to train it. It will tell
                        you what it recognises it as, and how confident it is in that.
                    </div>
                    <div class="modelstatusdetail">
                        If the computer seems to have learned to recognise things correctly, then you
                        can go to <a ui-sref="mlproject_scratch({ projectId : projectId, userId : userId })">Scratch</a>
                        and use what the computer has learned to make a game!
                    </div>
                    <div class="modelstatusdetail" ng-hide="project.isCrowdSourced">
                        If the computer is getting too many things wrong,
                        <span ng-if="project.isCrowdSourced">your class </span>
                        <span ng-hide="project.isCrowdSourced">you </span>
                        might want to go back to the
                        <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a>
                        page and collect some more examples.
                        <span ng-if="owner">
                        Once you've done that, click on the button below to train a new machine learning
                        model and see what difference the extra examples will make!
                        </span>
                        <span ng-hide="owner">
                        Once you've done that, your teacher will need to train a new machine learning model.
                        </span>
                    </div>
                </div>


                <!-- ***** -->
                <!-- ERROR -->
                <!-- ***** -->
                <div ng-switch-when="error">
                    <div class="modelstatusdetail">
                        The error message from the training computer is shown below.
                        If that makes sense to you, try and fix the problem. Otherwise,
                        it might be worth trying again in case it was just a random error.
                    </div>
                </div>


                <!-- **** -->
                <!-- IDLE -->
                <!-- **** -->
                <div ng-switch-default>
                    <div ng-if="project.labels.length === 0">
                        <div class="modelstatusdetail">
                            The next step is to go to the <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a>
                            page. Add some labels for each of the things that you want to teach the computer to
                            be able to recognise.
                        </div>
                    </div>
                    <div ng-if="project.labels.length === 1">
                        <div class="modelstatusdetail">
                            You've only said one thing that you want the computer to be able to recognise:
                            {{ project.labels[0] }}.
                        </div>
                        <div class="modelstatusdetail" ng-if="owner">
                            <strong>Is that the only thing you want the computer to be able to recognise?</strong>
                        </div>
                        <div class="modelstatusdetail" ng-if="owner">
                            <ul>
                                <li><strong>No?</strong>
                                    <br/>
                                    Go back to the <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a> page.
                                    <br/>
                                    Add more labels for each of the things that you want to teach the computer to be able to recognise.
                                    <br/><br/>
                                    </li>
                                <li><strong>Yes?</strong>
                                    <br/>
                                    You need to do a little more work first.
                                    <br/>
                                    For the computer to be able to learn how to recognise {{ project.labels[0] }}, you need to give it some examples of things that aren't {{ project.labels[0] }}.
                                    <br/>
                                    Go back to the <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a> page and create a new label for examples of things that aren't {{ project.labels[0] }}. You could call it "not-{{ project.labels[0] }}".
                                    </li>
                            </ul>
                        </div>
                    </div>
                    <div ng-if="project.labels.length > 1">
                        <div ng-if="trainingdatastatus === 'no_data'" class="modelstatusdetail">
                            The next step is to go to the
                            <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a>
                            page. Add examples for each of the labels.
                        </div>
                        <div ng-if="trainingdatastatus === 'insufficient_data'">
                            <div class="modelstatusdetail">
                                Keep going!
                            </div>
                            <div class="modelstatusdetail">
                                <span ng-hide="owner && project.isCrowdSourced">Go </span>
                                <span ng-if="owner && project.isCrowdSourced">Ask your class to go </span>
                                back to the <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a>
                                page and collect more examples for each of the labels.
                            </div>
                            <div class="modelstatusdetail">
                                The more you can get, the better it should learn, but you need
                                at least {{ minimumExamples }} examples of each as an absolute
                                minimum.
                            </div>
                        </div>
                        <div ng-if="trainingdatastatus === 'data' && owner">
                            <div class="modelstatusdetail">
                                Ready to start the computer's training?
                            </div>
                            <div class="modelstatusdetail">
                                Click the button below to start training a machine learning model using the examples
                                <span ng-if="project.isCrowdSourced">your class </span>
                                <span ng-hide="project.isCrowdSourced">you </span>
                                have collected so far.
                            </div>
                            <div class="modelstatusdetail" ng-if="project.isCrowdSourced">
                                (Or ask your class to go back to the
                                <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a>
                                page if you want them to collect more examples first.)
                            </div>
                            <div class="modelstatusdetail" ng-hide="project.isCrowdSourced">
                                (Or go back to the
                                <a ui-sref="mlproject_training({ projectId : projectId, userId : userId })">Train</a>
                                page if you want to collect some more examples first.)
                            </div>
                        </div>
                        <div ng-if="trainingdatastatus === 'data' && !owner">
                            <div class="modelstatusdetail">
                                Waiting for your teacher to start the computer's training.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ng-if="status === 'ready'" class="trainingserversection">
        <div style="margin: 1em;">Try putting in some {{ project.type }} to see how it is recognised based on your training.</div>
        <form name="testform" ng-submit="vm.testModel($event, testform, project)">
            <input ng-if="project.type === 'text'"
                   style="margin-left: 2em; width: 70%"
                   type="text"
                   ng-pattern="/^[^\n\t\r]+$/"
                   ng-model="testformData.testquestion"
                   ng-required="true"
                   placeholder="enter a test text here">
            <div ng-if="project.type === 'images'" ng-click="vm.useWebcam($event)"
                 class="btn newexamplebutton" style="margin: 2em">
                <div class="newexamplelabel">
                    &nbsp;
                    <span class="glyphicon glyphicon-camera"></span>
                    Test with <strong>webcam</strong>
                </div>
            </div>
            <div ng-if="project.type === 'images'" ng-click="vm.useCanvas($event)"
                 class="btn newexamplebutton" style="margin: 1em" >
                <div class="newexamplelabel">
                    &nbsp;
                    <span class="glyphicon glyphicon-pencil"></span>
                    Test by <strong>drawing</strong>
                </div>
            </div>
            <br ng-if="project.type === 'images'"/>
            <input ng-if="project.type === 'images'"
                   style="margin-left: 2em; width: 70%"
                   type="text"
                   ng-model="testformData.testimageurl"
                   ng-required="true"
                   placeholder="Test with a web address for an image on the Internet">
            <button ng-if="project.type === 'images'"
                   class="btn btn-default"
                   type="submit"
                   ng-disabled="testform.$invalid">Test with <strong>www</strong></button>



            <table ng-if="project.type === 'numbers'" style="margin-left: 2em; margin-bottom: 1em;">
                <tr ng-repeat="field in project.fields">
                    <td style="padding-right: 2em;">{{ field.name }}</td>
                    <td>
                        <input type="text"
                               ng-if="field.type === 'number'"
                               ng-pattern="/^-?[0-9]+(?:\.[0-9]*)?$/"
                               ng-model="testformData[field.name]"
                               ng-required="true">
                        <select ng-if="field.type === 'multichoice'"
                                ng-model="testformData[field.name]"
                                ng-init="testformData[field.name] = '0'">
                            <option ng-repeat="choice in field.choices track by $index"
                                    value="{{choice}}">{{choice}}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <input ng-if="project.type !== 'images'" type="submit" class="btn btn-primary" value="Test" ng-disabled="testform.$invalid" style="margin-left: 1em;" >
        </form>
        <div style="margin: 2em;" ng-if="testoutput">
            <div>Recognised as <strong>{{ testoutput }}</strong> </div>
            <div> {{ testoutput_explanation }} </div>
        </div>
    </div>



    <div ng-if="(models && models.length > 0) || trainingdatastatus === 'data'" class="trainingserversection" ng-hide="!owner">
        <div>
            <strong>Info from training computer:</strong>
        </div>
        <div ng-repeat="model in models">
            <table class="modelinfo">
                <tr>
                    <td><strong>Model started training at:</strong></td>
                    <td>
                        {{ model.updated | date : 'fullDate' }}
                        {{ model.updated | date : 'shortTime' }}
                    </td>
                </tr>
                <tr>
                    <td><strong>Current model status:</strong></td>
                    <td> {{ model.status }} </td>
                </tr>
                <tr ng-if="model.expiry">
                    <td><strong>Model will automatically be deleted after:</strong></td>
                    <td>
                        {{ model.expiry | date : 'fullDate' }}
                        {{ model.expiry | date : 'shortTime' }}
                    </td>
                </tr>
                <tr ng-if="model.statusDescription">
                    <td><strong>Detail:</strong></td>
                    <td> {{ model.statusDescription }} </td>
                </tr>
                <tr><td colspan=2> &nbsp; </td></tr>
                <tr>
                    <td colspan=2>
                        <button class="btn btn-danger"
                                ng-if="owner"
                                ng-click="vm.deleteModel($event, project, model)"
                                ng-disabled="submittingDeleteRequest">
                            {{ model.status === 'Training' ? 'Cancel training' : 'Delete this model' }}
                        </button>

                        <md-progress-circular style="display: inline" ng-if="submittingDeleteRequest" md-mode="indeterminate"></md-progress-circular>
                    </td>
                </tr>
            </table>
        </div>

        <button ng-if="!loading && status !== 'training' && trainingdatastatus === 'data' && owner"
                style="margin: 4em;"
                class="btn btn-primary"
                ng-click="vm.createModel($event, project)"
                ng-disabled="submittingTrainingRequest || submittingDeleteRequest">
                Train new machine learning model
        </button>

        <md-progress-circular style="display: inline" ng-if="submittingTrainingRequest" md-mode="indeterminate"></md-progress-circular>
    </div>



    <div class="quizSection" ng-if="(status === 'training') && quizQuestion">
        <hr>
        <h3>Quiz time!</h3>
        <div class="quizintro">While you are waiting for the model to finish training, try answering this question. </div>
        <div class="quizintro" ng-if="quizQuestion.attempted">You've seen this one before - let's see if you remember what the right answer is this time! </div>

        <div class="quiz">
            <div class="quizquestion">
                {{ quizQuestion.question }}
            </div>
            <div class="quizanswer" ng-repeat="answer in quizQuestion.answers" ng-class="{ 'answered' : answered }" >
                <input type="checkbox" ng-model="answer.selected" ng-disabled="answered" ng-click="vm.checkQuizAnswers(quizQuestion)">
                <div>{{ answer.text }}</div>
            </div>
            <div ng-if="answered">
                <div class="answerconfirm" ng-if="answerCorrect">That's right!</div>
                <div class="answerconfirm" ng-if="!answerCorrect">No, sorry. The correct answer is shown above.</div>
                <div class="answernotes" ng-repeat="note in quizQuestion.notes"> {{ note }} </div>
                <button class="btn btn-default" ng-click="vm.nextQuizQuestion()">Next question</button>
            </div>
        </div>
    </div>

</div>
